# Configuration file

Autoclave {
	dustBauxite;dustSmallPotassiumHydroxide;steam;_1500=1500
	dustSmallBauxite;dustSmallPotassiumHydroxide;steam;_1500=1500
	dustTinyBauxite;dustSmallPotassiumHydroxide;steam;_1500=1500
	dustBauxite;dustPotassiumHydroxide;steam;_3000=3000
	dustSmallBauxite;dustPotassiumHydroxide;steam;_3000=3000
	dustTinyBauxite;dustPotassiumHydroxide;steam;_3000=3000
	dustBauxite;dustSmallSodiumHydroxide;steam;_1500=1500
	dustSmallBauxite;dustSmallSodiumHydroxide;steam;_1500=1500
	dustTinyBauxite;dustSmallSodiumHydroxide;steam;_1500=1500
	dustBauxite;dustSodiumHydroxide;steam;_3000=3000
	dustSmallBauxite;dustSodiumHydroxide;steam;_3000=3000
	dustTinyBauxite;dustSodiumHydroxide;steam;_3000=3000
	item.minecraft.egg;item.gregapi.gt.integrated_circuit;steam;_128=128
	item.gregtech.gt.multiitem.food;item.gregapi.gt.integrated_circuit;steam;_128=128
	dustSmallAmber;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustAmber;item.gregapi.gt.integrated_circuit;steam;_3200=3200
}

