# Configuration file

chisel {
    I:"blockSolidBetweenstone;_16"=16
    I:"blockSolidCragrock;_16"=16
    I:"blockSolidLimestone;_16"=16
    I:"blockSolidPitstone;_16"=16
    I:"blockSolidTemplerock;_16"=16
    I:"tile.stone;_16"=16
    I:"tile.stonebricksmooth.default;_16"=16
    I:"tile.thebetweenlands.betweenstoneBricks;_16"=16
    I:"tile.thebetweenlands.cragrockBrick;_16"=16
    I:"tile.thebetweenlands.limestoneBricks;_16"=16
    I:"tile.thebetweenlands.pitstone;_16"=16
    I:"tile.thebetweenlands.pitstoneTiles;_16"=16
    I:"tile.thebetweenlands.polishedLimestone;_16"=16
    I:"tile.thebetweenlands.templeBrick;_16"=16
}


