# Configuration file

Cluster_Mill {
	plateBeryllium;_768=768
	plateBeryllium7;_256=256
	plateBeryllium8;_256=256
	plateBoron;_256=256
	plateBoron11;_256=256
	plateSilicon;_256=256
	plateScandium;_256=256
	plateTitanium;_1024=1024
	plateVanadium;_256=256
	plateChromium;_1024=1024
	plateManganese;_768=768
	plateIron;_768=768
	plateCobalt;_1024=1024
	plateCobalt60;_1024=1024
	plateNickel;_768=768
	plateYttrium;_256=256
	plateZirconium;_1024=1024
	plateNiobium;_256=256
	plateWroughtIron;_768=768
	plateMolybdenum;_768=768
	plateTechnetium;_512=512
	plateAlduorite;_768=768
	plateRuthenium;_256=256
	plateInfuscolium;_768=768
	plateRhodium;_256=256
	plateRubracium;_768=768
	platePalladium;_768=768
	plateMeutoite;_768=768
	plateLemurite;_768=768
	plateAredrite;_1024=1024
	plateCeruclase;_768=768
	plateOureclase;_1024=1024
	plateKalendrite;_1024=1024
	plateSanguinite;_1280=1280
	plateVyroxeres;_1024=1024
	plateEximite;_1024=1024
	plateIgnatius;_768=768
	plateDeepIron;_768=768
	plateShadowIron;_768=768
	plateAdamantine;_1536=1536
	platePraseodymium;_256=256
	plateNeodymium;_1024=1024
	plateVulcanite;_1024=1024
	platePromethium;_256=256
	plateOrichalcum;_1024=1024
	plateSamarium;_256=256
	plateAstralSilver;_768=768
	plateMidasium;_768=768
	plateGadolinium;_256=256
	plateMithril;_1024=1024
	plateTerbium;_256=256
	plateDysprosium;_256=256
	plateCelenegil;_1024=1024
	plateHolmium;_256=256
	plateShadowSteel;_768=768
	plateErbium;_256=256
	plateInolashite;_1024=1024
	plateThulium;_256=256
	plateHaderoth;_1024=1024
	plateDesichalkos;_1280=1280
	plateLutetium;_256=256
	plateTartarite;_1536=1536
	plateHafnium;_256=256
	plateAmordrine;_1024=1024
	plateTantalum;_256=256
	plateTungsten;_1024=1024
	plateAngmallen;_768=768
	plateRhenium;_256=256
	plateCdInAgAlloy;_256=256
	plateOsmiumElemental;_1280=1280
	plateGildedIron;_768=768
	plateIridium;_1280=1280
	platePlatinum;_768=768
	plateAluminiumAlloy;_768=768
	plateHepatizon;_768=768
	plateSteel;_768=768
	plateBlackSteel;_768=768
	plateBlueSteel;_768=768
	plateRedSteel;_768=768
	plateDamascusSteel;_768=768
	plateVanadiumSteel;_1024=1024
	plateTungstensteel;_1280=1280
	plateTungstenCarbide;_1280=1280
	plateActinium;_256=256
	plateThorium;_768=768
	plateHSLASteel;_768=768
	plateProtactinium;_256=256
	plateHSLASpringSteel;_768=768
	plateUranium;_1024=1024
	plateHSLATungstenAlloy;_768=768
	platePigIron;_768=768
	plateIronCompressed;_768=768
	plateCastIron;_768=768
	plateUranium235;_1024=1024
	plateIronMagnetic;_768=768
	plateSteelMagnetic;_768=768
	plateNeodymiumMagnetic;_1024=1024
	plateUranium233;_1024=1024
	plateDarkIron;_1024=1024
	plateSteelGalvanized;_768=768
	plateTungstenSintered;_1024=1024
	plateTitaniumGold;_1280=1280
	plateTantalumHafniumCarbide;_768=768
	plateMeteoricIron;_768=768
	plateMeteoricSteel;_768=768
	plateMeteoricBlackSteel;_768=768
	plateMeteoricBlueSteel;_768=768
	plateMeteoricRedSteel;_768=768
	plateAmericium;_768=768
	plateRedstoneAlloy;_256=256
	plateAmericium241;_768=768
	plateNikolineAlloy;_256=256
	plateAmericium242;_768=768
	plateCurium;_256=256
	plateConductiveIron;_768=768
	plateBerkelium;_256=256
	plateInvar;_768=768
	plateConstantan;_512=512
	plateNichrome;_768=768
	plateKanthal;_768=768
	plateLawrencium;_256=256
	plateRutherfordium;_256=256
	plateStainlessSteel;_768=768
	plateUltimet;_1024=1024
	plateKnightmetal;_1024=1024
	plateFierySteel;_1280=1280
	plateMeteoflameSteel;_1280=1280
	plateMeteoflameBlackSteel;_1280=1280
	plateMeteoflameBlueSteel;_1280=1280
	plateMeteoflameRedSteel;_1280=1280
	plateFlamascusSteel;_1280=1280
	plateThaumium;_1024=1024
	plateDarkThaumium;_1024=1024
	plateVoidMetal;_1280=1280
	plateOsmiridium;_1280=1280
	plateSunnarium;_256=256
	plateChromiumDioxide;_1024=1024
	plateTrinium;_1280=1280
	plateVanadiumGallium;_256=256
	plateYttriumBariumCuprate;_256=256
	plateNiobiumNitride;_256=256
	plateNiobiumTitanium;_256=256
	plateArdite;_1024=1024
	plateAlumite;_1024=1024
	plateManyullyn;_1024=1024
	plateVibraniumSteel;_2816=2816
	plateVibraniumSilver;_2560=2560
	plateVibramantium;_4096=4096
	plateEnderiumBase;_256=256
	plateEnderium;_1024=1024
	plateGlowstoneRefined;_768=768
	plateObsidianRefined;_1024=1024
	plateYellorium;_256=256
	plateBlutonium;_256=256
	plateCyanite;_256=256
	plateLudicrite;_256=256
	plateBedrockHSLAAlloy;_1536=1536
	plateObsidianSteel;_768=768
	platePulsatingIron;_768=768
	plateEnergeticAlloy;_768=768
	plateVibrantAlloy;_768=768
	plateElectricalSteel;_768=768
	plateSoularium;_768=768
	plateClayCompound;_256=256
	plateEndSteel;_256=256
	plateMelodicAlloy;_256=256
	plateStellarAlloy;_256=256
	plateVividAlloy;_256=256
	plateCrystallineAlloy;_256=256
	plateCrystallinePinkSlime;_256=256
	plateSpectreIron;_768=768
	plateManasteel;_1024=1024
	plateTerrasteel;_1280=1280
	plateElvenElementium;_1024=1024
	plateGaiaSpirit;_1280=1280
	plateEndium;_1024=1024
	plateMauftrium;_1024=1024
	plateNaquadah;_1280=1280
	plateElvorium;_1024=1024
	plateNiflheimPower;_1024=1024
	plateNaquadahEnriched;_1280=1280
	plateMuspelheimPower;_1024=1024
	plateNaquadria;_1280=1280
	plateAncientDebris;_1024=1024
	plateNetherite;_1280=1280
	plateNetherizedDiamond;_1280=1280
	plateEfrine;_1024=1024
	plateDesh;_1024=1024
	plateWorkersAlloy;_768=768
	plateDuranium;_1280=1280
	plateTritanium;_1536=1536
	plateAbyssalnite;_1024=1024
	plateOriharukon;_768=768
	plateAdamantite;_1024=1024
	plateCoralium;_1024=1024
	plateDuralumin;_768=768
	plateMeteorite;_1024=1024
	plateFrozenIron;_768=768
	plateDreadium;_1280=1280
	plateKreknorite;_1024=1024
	plateEthaxium;_1280=1280
	plateOctine;_768=768
	plateHSSG;_1024=1024
	plateHSSE;_1280=1280
	plateHSSS;_1280=1280
	plateBedrockium;_256=256
	plateDraconium;_1280=1280
	plateDraconiumAwakened;_1536=1536
	plateCrystalMatrix;_1280=1280
	plateCosmicNeutronium;_2816=2816
	plateInfinity;_4096=4096
	plateUnstable;_256=256
	plateTrinaquadalloy;_1536=1536
	plateTrinitanium;_1280=1280
	plateTitaniumIridium;_1280=1280
	plateTitaniumAluminide;_1024=1024
	plateAtlarus;_1280=1280
	plateAdamantium;_1536=1536
	plateCarborundum;_1024=1024
	plateFerrite;_256=256
	plateBrass;_16=16
	plateLithium;_16=16
	plateLithium6;_16=16
	plateSodium;_16=16
	plateMagnesium;_16=16
	plateAluminium;_16=16
	platePotassium;_16=16
	plateCalcium;_16=16
	plateCopper;_16=16
	plateZinc;_16=16
	plateGallium;_16=16
	plateGermanium;_16=16
	plateArsenic;_16=16
	plateRubidium;_16=16
	plateStrontium;_16=16
	plateAnnealedCopper;_16=16
	plateSilver;_16=16
	plateCadmium;_16=16
	plateIndium;_16=16
	plateTin;_16=16
	plateAntimony;_16=16
	plateTellurium;_16=16
	plateCarmot;_16=16
	plateCaesium;_16=16
	plateBarium;_16=16
	plateLanthanium;_16=16
	plateCerium;_16=16
	platePrometheum;_16=16
	plateEuropium;_16=16
	plateYtterbium;_16=16
	plateElectrum;_16=16
	plateSterlingSilver;_16=16
	plateRoseGold;_16=16
	plateGoldInductive;_16=16
	plateCobaltBrass;_16=16
	plateGold;_16=16
	plateGold198;_16=16
	plateBronze;_16=16
	plateBlackBronze;_16=16
	plateBismuthBronze;_16=16
	plateMercury;_16=16
	plateArsenicCopper;_16=16
	plateArsenicBronze;_16=16
	plateThallium;_16=16
	plateLead;_16=16
	plateBismuth;_16=16
	platePolonium;_16=16
	plateAstatine;_16=16
	plateFrancium;_16=16
	plateRadium;_16=16
	plateNeptunium;_16=16
	platePlutonium;_16=16
	platePlutonium240;_16=16
	platePlutonium241;_16=16
	platePlutonium243;_16=16
	platePlutonium238;_16=16
	plateRedAlloy;_16=16
	plateBlueAlloy;_16=16
	platePlutonium239;_16=16
	platePurpleAlloy;_16=16
	plateMingrade;_16=16
	plateElectrotineAlloy;_16=16
	plateElectrumFlux;_16=16
	plateEnergeticSilver;_16=16
	plateCalifornium;_16=16
	plateEinsteinium;_16=16
	plateFermium;_16=16
	plateMendelevium;_16=16
	plateNobelium;_16=16
	plateMagnalium;_16=16
	plateDubnium;_16=16
	plateSeaborgium;_16=16
	plateTinAlloy;_16=16
	plateBohrium;_16=16
	plateBatteryAlloy;_16=16
	plateHassium;_16=16
	plateSolderingAlloy;_16=16
	plateIronwood;_16=16
	plateSteeleaf;_16=16
	plateCopernicium;_16=16
	plateFlerovium;_16=16
	plateFlerovium298;_16=16
	plateFireleaf;_16=16
	plateAluminiumBrass;_16=16
	plateSignalum;_16=16
	plateLumium;_16=16
	plateSyrmorite;_16=16
}

