# Configuration file

Compressor {
	item.gregtech.gt.multiitem.randomtools;_16=16
	item.gregtech.gt.multiitem.food;_16=16
	item.minecraft.clay_ball;_16=16
	dustClay;_16=16
	dustClayBrown;_16=16
	dustClayRed;_16=16
	dustBentonite;_16=16
	dustPalygorskite;_16=16
	dustKaolinite;_16=16
	dustGlowstone;_16=16
	gemGlowstone;_16=16
	block.minecraft.ice;_32=32
	dustIce;_32=32
	dustSmallIce;_16=16
	gemChippedIce;_16=16
	gemFlawedIce;_16=16
	gemIce;_16=16
	block.minecraft.snow;_32=32
	item.minecraft.snowball;_32=32
	gemNetherQuartz;_16=16
	item.minecraft.wheat;_16=16
	blockDustSand;_32=32
	dustLapis;_32=32
	dustAsbestos;_32=32
	dustLazurite;_32=32
	dustSodalite;_32=32
	dustBasalz;_32=32
	dustSmallBasalz;_32=32
	dustTinyBasalz;_32=32
	dustBlitz;_32=32
	dustSmallBlitz;_32=32
	dustTinyBlitz;_32=32
	dustBlizz;_32=32
	dustSmallBlizz;_32=32
	dustTinyBlizz;_32=32
	dustBlaze;_32=32
	dustSmallBlaze;_32=32
	dustTinyBlaze;_32=32
	dustBreeze;_32=32
	dustSmallBreeze;_32=32
	dustTinyBreeze;_32=32
	block.minecraft.short_grass;_16=16
	block.minecraft.fern;_16=16
	dustTinyMeatRotten;_16=16
	dustTinyMeatRaw;_16=16
	dustTinyMeatCooked;_16=16
	dustTinyFishRotten;_16=16
	dustTinyFishRaw;_16=16
	dustTinyFishCooked;_16=16
	dustTinySoylentGreen;_16=16
	dustTinyTofu;_16=16
	dustSmallMeatRotten;_16=16
	dustSmallMeatRaw;_16=16
	dustSmallMeatCooked;_16=16
	dustSmallFishRotten;_16=16
	dustSmallFishRaw;_16=16
	dustSmallFishCooked;_16=16
	dustSmallSoylentGreen;_16=16
	dustSmallTofu;_16=16
	dustMeatRotten;_16=16
	dustMeatRaw;_16=16
	dustMeatCooked;_16=16
	dustFishRotten;_16=16
	dustFishRaw;_16=16
	dustFishCooked;_16=16
	dustSoylentGreen;_16=16
	dustTofu;_16=16
	dustWaxBee;_16=16
	dustSmallWaxPlant;_16=16
	dustWaxMagic;_16=16
	dustSmallWaxMagic;_16=16
	dustWaxAmnesic;_16=16
	dustSmallWaxAmnesic;_16=16
	dustWaxSoulful;_16=16
	dustSmallWaxSoulful;_16=16
	dustWax;_16=16
	dustSmallWax;_16=16
	dustSmallWaxBee;_16=16
	dustWaxRefractory;_16=16
	dustSmallWaxRefractory;_16=16
	dustWaxParaffin;_16=16
	dustSmallWaxParaffin;_16=16
	dustObsidianRefined;_256=256
	gemCertusQuartz;_16=16
	gemFluix;_16=16
	plateTechnetium;_4608=4608
	plateTripleTechnetium;_4608=4608
	blockPlateTechnetium;_4608=4608
	blockSolidTechnetium;_4608=4608
}

