# Configuration file

Distillation_Tower {
	biomass;_16=16
	ic2biomass;_16=16
	liquid_extra_heavy_oil;_256=256
	liquid_heavy_oil;_196=196
	liquid_medium_oil;_128=128
	oil;_128=128
	liquid_light_oil;_64=64
	soulsandoil;_64=64
	spectral_dew;_20=20
	item.minecraft.nautilus_shell;lava;_120=120
}

