# Configuration file

Generifier {
	item.gregtech.gt.block.diggable;_1=1
	item.gregtech.gt.block.grass;_1=1
	item.gregtech.gt.multiitem.food;_1=1
	item.gregtech.gt.multiitem.books;_1=1
	item.gregtech.gt.stone.granite.black;_1=1
	blockSolidGraniteBlack;_1=1
	item.gregtech.gt.stone.granite.red;_1=1
	blockSolidGraniteRed;_1=1
	item.gregtech.gt.stone.basalt;_1=1
	blockSolidBasalt;_1=1
	item.gregtech.gt.stone.marble;_1=1
	blockSolidMarble;_1=1
	item.gregtech.gt.stone.limestone;_1=1
	blockSolidLimestone;_1=1
	item.gregtech.gt.stone.granite;_1=1
	blockSolidGranite;_1=1
	item.gregtech.gt.stone.diorite;_1=1
	blockSolidDiorite;_1=1
	item.gregtech.gt.stone.andesite;_1=1
	blockSolidAndesite;_1=1
	item.gregtech.gt.stone.komatiite;_1=1
	blockSolidKomatiite;_1=1
	item.gregtech.gt.stone.greenschist;_1=1
	blockSolidGreenschist;_1=1
	item.gregtech.gt.stone.blueschist;_1=1
	blockSolidBlueschist;_1=1
	item.gregtech.gt.stone.kimberlite;_1=1
	blockSolidKimberlite;_1=1
	item.gregtech.gt.stone.quartzite;_1=1
	blockSolidQuartzite;_1=1
	item.gregtech.gt.stone.prismarine.light;_1=1
	blockSolidPrismarine;_1=1
	item.gregtech.gt.stone.prismarine.dark;_1=1
	blockSolidPrismarineDark;_1=1
	item.gregtech.gt.stone.slate;_1=1
	blockSolidSlate;_1=1
	item.gregtech.gt.stone.shale;_1=1
	blockSolidShale;_1=1
	item.gregtech.gt.block.beam.1;_1=1
	item.gregtech.gt.block.beam.2;_1=1
	item.gregtech.gt.block.beam.1.fireproof;_1=1
	item.gregtech.gt.block.beam.2.fireproof;_1=1
	block.minecraft.stripped_oak_log;_1=1
	block.minecraft.stripped_spruce_log;_1=1
	block.minecraft.stripped_birch_log;_1=1
	block.minecraft.stripped_jungle_log;_1=1
	block.minecraft.stripped_acacia_log;_1=1
	block.minecraft.stripped_dark_oak_log;_1=1
	block.minecraft.stripped_oak_wood;_1=1
	block.minecraft.stripped_spruce_wood;_1=1
	block.minecraft.stripped_birch_wood;_1=1
	block.minecraft.stripped_jungle_wood;_1=1
	block.minecraft.stripped_acacia_wood;_1=1
	block.minecraft.stripped_dark_oak_wood;_1=1
	block.minecraft.stripped_cherry_log;_1=1
	block.minecraft.stripped_cherry_wood;_1=1
	block.minecraft.stripped_bamboo_block;_1=1
	block.minecraft.stripped_mangrove_log;_1=1
	block.minecraft.stripped_mangrove_wood;_1=1
	block.minecraft.stripped_crimson_stem;_1=1
	block.minecraft.stripped_warped_stem;_1=1
	block.minecraft.stripped_crimson_hyphae;_1=1
	block.minecraft.stripped_warped_hyphae;_1=1
	item.gregtech.gt.block.beam.a;_1=1
	item.gregtech.gt.block.beam.a.fireproof;_1=1
	item.gregtech.gt.block.beam.b;_1=1
	item.gregtech.gt.block.beam.b.fireproof;_1=1
	item.gregtech.gt.block.beam.c;_1=1
	item.gregtech.gt.block.beam.c.fireproof;_1=1
	block.minecraft.oak_planks;_1=1
	block.minecraft.spruce_planks;_1=1
	block.minecraft.birch_planks;_1=1
	block.minecraft.jungle_planks;_1=1
	block.minecraft.acacia_planks;_1=1
	block.minecraft.dark_oak_planks;_1=1
	block.minecraft.cherry_planks;_1=1
	block.minecraft.bamboo_mosaic;_1=1
	block.minecraft.bamboo_planks;_1=1
	block.minecraft.mangrove_planks;_1=1
	block.minecraft.crimson_planks;_1=1
	block.minecraft.warped_planks;_1=1
	plateWood;_1=1
	item.gregtech.gt.block.planks.fireproof;_1=1
	item.gregtech.gt.block.planks;_1=1
	plateRainbowood;_1=1
	item.gregtech.gt.block.planks2;_1=1
	item.gregtech.gt.block.planks2.fireproof;_1=1
	plateWoodTreated;_1=1
	block.minecraft.oak_stairs;_1=1
	block.minecraft.spruce_stairs;_1=1
	block.minecraft.birch_stairs;_1=1
	block.minecraft.jungle_stairs;_1=1
	block.minecraft.acacia_stairs;_1=1
	block.minecraft.dark_oak_stairs;_1=1
	block.minecraft.cherry_stairs;_1=1
	block.minecraft.bamboo_mosaic_stairs;_1=1
	block.minecraft.bamboo_stairs;_1=1
	block.minecraft.mangrove_stairs;_1=1
	block.minecraft.crimson_stairs;_1=1
	block.minecraft.warped_stairs;_1=1
	block.minecraft.oak_slab;_1=1
	block.minecraft.spruce_slab;_1=1
	block.minecraft.birch_slab;_1=1
	block.minecraft.jungle_slab;_1=1
	block.minecraft.acacia_slab;_1=1
	block.minecraft.dark_oak_slab;_1=1
	block.minecraft.cherry_slab;_1=1
	block.minecraft.bamboo_mosaic_slab;_1=1
	block.minecraft.bamboo_slab;_1=1
	block.minecraft.mangrove_slab;_1=1
	block.minecraft.crimson_slab;_1=1
	block.minecraft.warped_slab;_1=1
	item.gregtech.gt.block.planks.slab.0;_1=1
	item.gregtech.gt.block.planks.fireproof.slab.0;_1=1
	item.gregtech.gt.block.planks2.slab.0;_1=1
	item.gregtech.gt.block.planks2.fireproof.slab.0;_1=1
	ingotCharcoal;_1=1
	gemCharcoal;_1=1
	ingotCoal;_1=1
	gemCoal;_1=1
	ingotCoalCoke;_1=1
	gemCoalCoke;_1=1
	ingotLignite;_1=1
	gemLignite;_1=1
	ingotLigniteCoke;_1=1
	gemLigniteCoke;_1=1
	ingotPetroleumCoke;_1=1
	gemPetroleumCoke;_1=1
	ingotAnthracite;_1=1
	gemAnthracite;_1=1
	ingotPrismane;_1=1
	gemPrismane;_1=1
	ingotLonsdaleite;_1=1
	gemLonsdaleite;_1=1
	gemNetherizedDiamond;_1=1
	ingotNetherizedDiamond;_1=1
	block.minecraft.glowstone;_1=1
	plantGtFiberBlack;_1=1
	plantGtFiberRed;_1=1
	plantGtFiberGreen;_1=1
	plantGtFiberBrown;_1=1
	plantGtFiberBlue;_1=1
	plantGtFiberPurple;_1=1
	plantGtFiberCyan;_1=1
	plantGtFiberLightGray;_1=1
	plantGtFiberGray;_1=1
	plantGtFiberPink;_1=1
	plantGtFiberLime;_1=1
	plantGtFiberYellow;_1=1
	plantGtFiberLightBlue;_1=1
	plantGtFiberMagenta;_1=1
	plantGtFiberOrange;_1=1
	plantGtFiberWhite;_1=1
	plantGtFiberCopper;_1=1
	item.gregtech.gt.block.planks.slab.1;_1=1
	item.gregtech.gt.block.planks.slab.2;_1=1
	item.gregtech.gt.block.planks.slab.3;_1=1
	item.gregtech.gt.block.planks.slab.4;_1=1
	item.gregtech.gt.block.planks.slab.5;_1=1
	item.gregtech.gt.block.planks.fireproof.slab.1;_1=1
	item.gregtech.gt.block.planks.fireproof.slab.2;_1=1
	item.gregtech.gt.block.planks.fireproof.slab.3;_1=1
	item.gregtech.gt.block.planks.fireproof.slab.4;_1=1
	item.gregtech.gt.block.planks.fireproof.slab.5;_1=1
	item.gregtech.gt.block.planks2.slab.1;_1=1
	item.gregtech.gt.block.planks2.slab.2;_1=1
	item.gregtech.gt.block.planks2.slab.3;_1=1
	item.gregtech.gt.block.planks2.slab.4;_1=1
	item.gregtech.gt.block.planks2.slab.5;_1=1
	item.gregtech.gt.block.planks2.fireproof.slab.1;_1=1
	item.gregtech.gt.block.planks2.fireproof.slab.2;_1=1
	item.gregtech.gt.block.planks2.fireproof.slab.3;_1=1
	item.gregtech.gt.block.planks2.fireproof.slab.4;_1=1
	item.gregtech.gt.block.planks2.fireproof.slab.5;_1=1
	molten.meteoriciron;_1=1
	molten.wroughtiron;_1=1
	ethanol;_1=1
	molten.latex;_1=1
	latex;_1=1
	royaljelly;_1=1
	for.honey;_1=1
	grc.honey;_1=1
	honey;_1=1
	milk;_1=1
	grcmilk.milk;_1=1
	biomass;_1=1
	ic2biomass;_1=1
	gas_natural_gas;_1=1
	kerosine;_1=1
	kerosene;_1=1
	ic2distilledwater;_1=1
	spectral_dew;_1=1
	riverwater;_1=1
	watergeothermal;_1=1
	soda;_1=1
	mineralsoda;_1=1
	potion.mineralwater;_1=1
	binnie.juiceolive;_1=1
	nutoil;_1=1
	linoil;_1=1
	hempoil;_1=1
	sunfloweroil;_1=1
	soulsandoil;_1=1
	liquid_light_oil;_1=1
	liquid_medium_oil;_1=1
	liquid_heavy_oil;_1=1
	liquid_extra_heavy_oil;_1=1
	binnie.juiceelderberry;_1=1
	grapejuice;_1=1
	hellderberryjuice;_1=1
	kiwijuice;_1=1
	strawberryjuice;_1=1
	binnie.juicecherry;_1=1
	pomegranatejuice;_1=1
	binnie.juicetomato;_1=1
	potatojuice;_1=1
	binnie.juicepeach;_1=1
	binnie.juicepear;_1=1
	binnie.juicepineapple;_1=1
	starfruitjuice;_1=1
	blackberryjuice;_1=1
	persimmonjuice;_1=1
	binnie.juiceredgrape;_1=1
	figjuice;_1=1
	binnie.juicewhitegrape;_1=1
	currantjuice;_1=1
	binnie.juicelime;_1=1
	beetjuice;_1=1
	binnie.juiceapricot;_1=1
	pumpkinjuice;_1=1
	grc.grapewine0;_1=1
	potion.goldenapplejuice;_1=1
	goldencarrotjuice;_1=1
	binnie.juicecranberry;_1=1
	reedwater;_1=1
	potion.idunsapplejuice;_1=1
	binnie.juicecarrot;_1=1
	mangojuice;_1=1
	binnie.juicelemon;_1=1
	melonjuice;_1=1
	gooseberryjuice;_1=1
	coconutmilk;_1=1
	binnie.juicegrapefruit;_1=1
	raspberryjuice;_1=1
	binnie.juiceorange;_1=1
	binnie.juicebanana;_1=1
	juice;_1=1
	blueberryjuice;_1=1
	binnie.juiceplum;_1=1
	binnie.juiceapple;_1=1
	grc.applecider0;_1=1
	papayajuice;_1=1
	cactuswater;_1=1
	item.minecraft.cod;_1=1
	item.minecraft.salmon;_1=1
	item.minecraft.tropical_fish;_1=1
	item.minecraft.pufferfish;_1=1
	gemLapis;_1=1
	item.minecraft.white_dye;_1=1
	item.minecraft.blue_dye;_1=1
	item.minecraft.brown_dye;_1=1
	item.minecraft.black_dye;_1=1
	item.minecraft.ink_sac;_1=1
	item.minecraft.red_dye;_1=1
	item.minecraft.green_dye;_1=1
	item.minecraft.cocoa_beans;_1=1
	item.minecraft.purple_dye;_1=1
	item.minecraft.cyan_dye;_1=1
	item.minecraft.light_gray_dye;_1=1
	item.minecraft.gray_dye;_1=1
	item.minecraft.pink_dye;_1=1
	item.minecraft.lime_dye;_1=1
	item.minecraft.yellow_dye;_1=1
	item.minecraft.light_blue_dye;_1=1
	item.minecraft.magenta_dye;_1=1
	item.minecraft.orange_dye;_1=1
	dustBone;_1=1
	gemLazurite;_1=1
	gemSodalite;_1=1
	gemMalachite;_1=1
	dustAshes;_1=1
	dustDarkAshes;_1=1
	dustVolcanicAshes;_1=1
	dustLazurite;_1=1
	dustSodalite;_1=1
	dustLapis;_1=1
	dustAzurite;_1=1
	dustBrownLimonite;_1=1
	dustYellowLimonite;_1=1
	dustMalachite;_1=1
	dustCocoa;_1=1
	dustChocolate;_1=1
	dustCoffee;_1=1
	block.ae2.sky_stone_block;_1=1
	block.ae2.sky_stone_brick;_1=1
	blockSolidSkyStone;_1=1
	block.ae2.sky_stone_small_brick;_1=1
	ingotDarkThaumium;_1=1
	billetDarkThaumium;_1=1
	nuggetDarkThaumium;_1=1
	blockIngotDarkThaumium;_9=9
	chunkGtDarkThaumium;_1=1
	billetMeteoflameBlackSteel;_1=1
	ingotMeteoflameBlackSteel;_1=1
	nuggetMeteoflameBlackSteel;_1=1
	blockIngotMeteoflameBlackSteel;_9=9
	chunkGtMeteoflameBlackSteel;_1=1
	ingotMeteoflameSteel;_1=1
	billetMeteoflameSteel;_1=1
	nuggetMeteoflameSteel;_1=1
	blockIngotMeteoflameSteel;_9=9
	chunkGtMeteoflameSteel;_1=1
	dustMeteoflameBlackSteel;_1=1
	dustTinyMeteoflameBlackSteel;_1=1
	dustSmallMeteoflameBlackSteel;_1=1
	dustDiv72MeteoflameBlackSteel;_1=1
	blockDustMeteoflameBlackSteel;_9=9
	dustMeteoflameSteel;_1=1
	dustTinyMeteoflameSteel;_1=1
	dustSmallMeteoflameSteel;_1=1
	dustDiv72MeteoflameSteel;_1=1
	blockDustMeteoflameSteel;_9=9
	dustMeteoflameBlueSteel;_1=1
	dustTinyMeteoflameBlueSteel;_1=1
	dustSmallMeteoflameBlueSteel;_1=1
	dustDiv72MeteoflameBlueSteel;_1=1
	blockDustMeteoflameBlueSteel;_9=9
	dustMeteoflameRedSteel;_1=1
	dustTinyMeteoflameRedSteel;_1=1
	dustSmallMeteoflameRedSteel;_1=1
	dustDiv72MeteoflameRedSteel;_1=1
	blockDustMeteoflameRedSteel;_9=9
	gemDominicanAmber;_1=1
	gemGoldenAmber;_1=1
}

