# Configuration file

Hammer {
	item.gregtech.gt.stone.granite.black;_16=16
	blockSolidGraniteBlack;_16=16
	item.gregtech.gt.stone.granite.red;_16=16
	blockSolidGraniteRed;_16=16
	item.gregtech.gt.stone.basalt;_16=16
	blockSolidBasalt;_16=16
	item.gregtech.gt.stone.marble;_16=16
	blockSolidMarble;_16=16
	item.gregtech.gt.stone.limestone;_16=16
	blockSolidLimestone;_16=16
	item.gregtech.gt.stone.granite;_16=16
	blockSolidGranite;_16=16
	item.gregtech.gt.stone.diorite;_16=16
	blockSolidDiorite;_16=16
	item.gregtech.gt.stone.andesite;_16=16
	blockSolidAndesite;_16=16
	item.gregtech.gt.stone.komatiite;_16=16
	blockSolidKomatiite;_16=16
	item.gregtech.gt.stone.greenschist;_16=16
	blockSolidGreenschist;_16=16
	item.gregtech.gt.stone.blueschist;_16=16
	blockSolidBlueschist;_16=16
	item.gregtech.gt.stone.kimberlite;_16=16
	blockSolidKimberlite;_16=16
	item.gregtech.gt.stone.quartzite;_16=16
	blockSolidQuartzite;_16=16
	item.gregtech.gt.stone.prismarine.light;_16=16
	blockSolidPrismarine;_16=16
	item.gregtech.gt.stone.prismarine.dark;_16=16
	blockSolidPrismarineDark;_16=16
	item.gregtech.gt.stone.slate;_16=16
	blockSolidSlate;_16=16
	item.gregtech.gt.stone.shale;_16=16
	blockSolidShale;_16=16
	block.minecraft.brown_mushroom_block;_16=16
	block.minecraft.red_mushroom_block;_16=16
	block.minecraft.quartz_block;_16=16
	block.minecraft.stone_slab;_16=16
	block.minecraft.quartz_stairs;_16=16
	block.minecraft.quartz_slab;_16=16
	block.minecraft.stone_bricks;_16=16
	block.minecraft.mossy_stone_bricks;_16=16
	block.minecraft.cracked_stone_bricks;_16=16
	block.minecraft.chiseled_stone_bricks;_16=16
	block.minecraft.stone;_16=16
	item.gregtech.gt.multiitem.randomtools;_16=16
	block.minecraft.cobblestone;_16=16
	block.minecraft.sandstone;_16=16
	block.minecraft.ice;_16=16
	block.minecraft.packed_ice;_16=16
	block.minecraft.terracotta;_16=16
	block.minecraft.white_terracotta;_16=16
	block.minecraft.glass;_16=16
	block.minecraft.white_stained_glass;_16=16
	block.minecraft.glass_pane;_16=16
	block.minecraft.white_stained_glass_pane;_16=16
	block.minecraft.bricks;_16=16
	block.minecraft.brick_stairs;_16=16
	block.minecraft.brick_slab;_16=16
	block.minecraft.nether_bricks;_16=16
	block.minecraft.nether_brick_stairs;_16=16
	block.minecraft.nether_brick_fence;_16=16
	block.minecraft.nether_brick_slab;_16=16
	block.minecraft.glowstone;_16=16
	blockSolidObsidian;_64=64
	block.minecraft.netherrack;_16=16
	block.minecraft.end_stone;_16=16
	block.ae2.quartz_block;_16=16
	block.ae2.quartz_pillar;_16=16
	block.ae2.chiseled_quartz_block;_16=16
	block.ae2.fluix_block;_16=16
	block.ae2.quartz_stairs;_16=16
	block.ae2.quartz_pillar_stairs;_16=16
	block.ae2.chiseled_quartz_stairs;_16=16
	block.ae2.fluix_stairs;_16=16
	block.ae2.quartz_slab;_16=16
	block.ae2.quartz_pillar_slab;_16=16
	block.ae2.chiseled_quartz_slab;_16=16
	block.ae2.fluix_slab;_16=16
	block.ae2.sky_stone_block;_16=16
	block.ae2.sky_stone_brick;_16=16
	blockSolidSkyStone;_16=16
	block.ae2.sky_stone_small_brick;_16=16
	blockDustStone;_40=40
	block.minecraft.gravel;_40=40
}

