# Configuration file

Lathe {
	block.minecraft.oak_log;_80=80
	block.minecraft.spruce_log;_80=80
	block.minecraft.birch_log;_80=80
	block.minecraft.jungle_log;_80=80
	block.minecraft.acacia_log;_80=80
	block.minecraft.dark_oak_log;_80=80
	block.minecraft.oak_wood;_80=80
	block.minecraft.spruce_wood;_80=80
	block.minecraft.birch_wood;_80=80
	block.minecraft.jungle_wood;_80=80
	block.minecraft.acacia_wood;_80=80
	block.minecraft.dark_oak_wood;_80=80
	block.minecraft.cherry_log;_80=80
	block.minecraft.cherry_wood;_80=80
	block.minecraft.bamboo_block;_80=80
	block.minecraft.mangrove_log;_80=80
	block.minecraft.mangrove_wood;_80=80
	block.minecraft.crimson_stem;_80=80
	block.minecraft.warped_stem;_80=80
	block.minecraft.crimson_hyphae;_80=80
	block.minecraft.warped_hyphae;_80=80
	item.gregtech.gt.block.log.a;_80=80
	item.gregtech.gt.block.log.a.fireproof;_80=80
	item.gregtech.gt.block.log.b;_80=80
	item.gregtech.gt.block.log.b.fireproof;_80=80
	item.gregtech.gt.block.log.c;_80=80
	item.gregtech.gt.block.log.c.fireproof;_80=80
	item.gregtech.gt.block.beam.1;_80=80
	item.gregtech.gt.block.beam.2;_80=80
	item.gregtech.gt.block.beam.1.fireproof;_80=80
	item.gregtech.gt.block.beam.2.fireproof;_80=80
	block.minecraft.stripped_oak_log;_80=80
	block.minecraft.stripped_spruce_log;_80=80
	block.minecraft.stripped_birch_log;_80=80
	block.minecraft.stripped_jungle_log;_80=80
	block.minecraft.stripped_acacia_log;_80=80
	block.minecraft.stripped_dark_oak_log;_80=80
	block.minecraft.stripped_oak_wood;_80=80
	block.minecraft.stripped_spruce_wood;_80=80
	block.minecraft.stripped_birch_wood;_80=80
	block.minecraft.stripped_jungle_wood;_80=80
	block.minecraft.stripped_acacia_wood;_80=80
	block.minecraft.stripped_dark_oak_wood;_80=80
	block.minecraft.stripped_cherry_log;_80=80
	block.minecraft.stripped_cherry_wood;_80=80
	block.minecraft.stripped_bamboo_block;_80=80
	block.minecraft.stripped_mangrove_log;_80=80
	block.minecraft.stripped_mangrove_wood;_80=80
	block.minecraft.stripped_crimson_stem;_80=80
	block.minecraft.stripped_warped_stem;_80=80
	block.minecraft.stripped_crimson_hyphae;_80=80
	block.minecraft.stripped_warped_hyphae;_80=80
	item.gregtech.gt.block.beam.a;_80=80
	item.gregtech.gt.block.beam.a.fireproof;_80=80
	item.gregtech.gt.block.beam.b;_80=80
	item.gregtech.gt.block.beam.b.fireproof;_80=80
	item.gregtech.gt.block.beam.c;_80=80
	item.gregtech.gt.block.beam.c.fireproof;_80=80
	block.minecraft.oak_planks;_16=16
	block.minecraft.spruce_planks;_16=16
	block.minecraft.birch_planks;_16=16
	block.minecraft.jungle_planks;_16=16
	block.minecraft.acacia_planks;_16=16
	block.minecraft.dark_oak_planks;_16=16
	block.minecraft.cherry_planks;_16=16
	block.minecraft.bamboo_mosaic;_16=16
	block.minecraft.bamboo_planks;_16=16
	block.minecraft.mangrove_planks;_16=16
	block.minecraft.crimson_planks;_16=16
	block.minecraft.warped_planks;_16=16
	plateWood;_16=16
	item.gregtech.gt.block.planks.fireproof;_16=16
	item.gregtech.gt.block.planks;_16=16
	plateRainbowood;_16=16
	item.gregtech.gt.block.planks2;_16=16
	item.gregtech.gt.block.planks2.fireproof;_16=16
	plateWoodTreated;_16=16
	block.minecraft.glass_pane;_16=16
	block.minecraft.stone;_16=16
	item.gregtech.gt.multiitem.randomtools;_32=32
	block.minecraft.glowstone;_64=64
	boltSkyStone;_2=2
	boltFluix;_8=8
	gemFluix;_64=64
	boltNetherQuartz;_32=32
	plateGemNetherQuartz;_256=256
	gemNetherQuartz;_256=256
	boltSteel;_24=24
	ingotSteel;_192=192
	billetSteel;_128=128
	boltEnderPearl;_16=16
	plateGemEnderPearl;_128=128
	lensEnderPearl;_96=96
	gemEnderPearl;_128=128
	boltRedAlloy;_2=2
	ingotRedAlloy;_16=16
	billetRedAlloy;_16=16
	boltPlastic;_2=2
	ingotPlastic;_16=16
	billetPlastic;_16=16
	plateGemDioptase;_192=192
	nuggetSteel;_22=22
	boltTitanium;_32=32
	ingotTitanium;_256=256
	billetTitanium;_171=171
	ingotIron;_192=192
	billetIron;_128=128
	nuggetIron;_22=22
	boltIron;_24=24
	boltInfinity;_128=128
	ingotInfinity;_1024=1024
	billetInfinity;_683=683
}

