# Configuration file

Loom {
	item.gregapi.gt.integrated_circuit;plantGtFiberWhite;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberOrange;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberMagenta;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberLightBlue;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberYellow;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberLime;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberPink;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberGray;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberLightGray;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberCyan;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberPurple;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberBlue;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberBrown;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberGreen;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberRed;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberBlack;_16=16
	item.gregapi.gt.integrated_circuit;plantGtFiberCopper;_16=16
	item.gregapi.gt.integrated_circuit;item.minecraft.string;_16=16
	item.gregapi.gt.integrated_circuit;item.minecraft.string;_64=64
	item.gregapi.gt.integrated_circuit;block.minecraft.sugar_cane;_16=16
	item.minecraft.leather;plateCastIron;_128=128
	item.minecraft.leather;plateIron;_128=128
	item.minecraft.leather;plateGemEnori;_128=128
	item.minecraft.leather;plateWroughtIron;_128=128
	item.minecraft.leather;plateKnightmetal;_128=128
	item.minecraft.leather;plateMeteoricIron;_128=128
	item.minecraft.leather;plateMeteoricSteel;_128=128
	item.minecraft.leather;plateSteel;_128=128
	item.minecraft.leather;platePigIron;_128=128
	item.minecraft.leather;plateMeteorite;_128=128
	item.minecraft.leather;plateIronCompressed;_128=128
	item.minecraft.leather;plateGold;_128=128
	item.minecraft.leather;plateGemDiamond;_128=128
	item.minecraft.leather;ringKnightmetal;stickKnightmetal;_128=128
	item.minecraft.leather;ringMeteoricSteel;stickMeteoricSteel;_128=128
	item.minecraft.leather;ringSteel;stickSteel;_128=128
	item.gregapi.gt.integrated_circuit;item.minecraft.leather;_128=128
	item.gregapi.gt.integrated_circuit;ringKnightmetal;_128=128
	item.gregapi.gt.integrated_circuit;ringMeteoricSteel;_128=128
	item.gregapi.gt.integrated_circuit;ringSteel;_128=128
	item.gregapi.gt.integrated_circuit;item.minecraft.slime_ball;item.gregtech.gt.meta.plantgtfiber;_16=16
	item.gregapi.gt.integrated_circuit;item.minecraft.slime_ball;item.minecraft.string;_16=16
	item.gregapi.gt.integrated_circuit;item.gregtech.gt.multiitem.food;item.gregtech.gt.meta.plantgtfiber;_16=16
	item.gregapi.gt.integrated_circuit;item.gregtech.gt.multiitem.food;item.minecraft.string;_16=16
	block.minecraft.white_wool;stickWood;_16=16
	item.minecraft.leather;stickWood;_16=16
	block.minecraft.white_wool;stickWoodRubber;_16=16
	item.minecraft.leather;stickWoodRubber;_16=16
	block.minecraft.white_wool;stickPeanutWood;_16=16
	item.minecraft.leather;stickPeanutWood;_16=16
	block.minecraft.white_wool;stickWeedwood;_16=16
	item.minecraft.leather;stickWeedwood;_16=16
	block.minecraft.white_wool;stickSkyroot;_16=16
	item.minecraft.leather;stickSkyroot;_16=16
	block.minecraft.white_wool;stickBamboo;_16=16
	item.minecraft.leather;stickBamboo;_16=16
	block.minecraft.white_wool;stickOak;_16=16
	item.minecraft.leather;stickOak;_16=16
	block.minecraft.white_wool;stickBirch;_16=16
	item.minecraft.leather;stickBirch;_16=16
	block.minecraft.white_wool;stickSpruce;_16=16
	item.minecraft.leather;stickSpruce;_16=16
	block.minecraft.white_wool;stickJunglewood;_16=16
	item.minecraft.leather;stickJunglewood;_16=16
	block.minecraft.white_wool;stickAcacia;_16=16
	item.minecraft.leather;stickAcacia;_16=16
	block.minecraft.white_wool;stickDarkOak;_16=16
	item.minecraft.leather;stickDarkOak;_16=16
	block.minecraft.white_wool;stickCrimsonwood;_16=16
	item.minecraft.leather;stickCrimsonwood;_16=16
	block.minecraft.white_wool;stickWarpedwood;_16=16
	item.minecraft.leather;stickWarpedwood;_16=16
	block.minecraft.white_wool;stickWoodCompressed;_16=16
	item.minecraft.leather;stickWoodCompressed;_16=16
	block.minecraft.white_wool;stickWoodDead;_16=16
	item.minecraft.leather;stickWoodDead;_16=16
	block.minecraft.white_wool;stickWoodRotten;_16=16
	item.minecraft.leather;stickWoodRotten;_16=16
	block.minecraft.white_wool;stickWoodMossy;_16=16
	item.minecraft.leather;stickWoodMossy;_16=16
	block.minecraft.white_wool;stickWoodFrozen;_16=16
	item.minecraft.leather;stickWoodFrozen;_16=16
	block.minecraft.white_wool;stickMaple;_16=16
	item.minecraft.leather;stickMaple;_16=16
	block.minecraft.white_wool;stickWillow;_16=16
	item.minecraft.leather;stickWillow;_16=16
	block.minecraft.white_wool;stickBlueMahoe;_16=16
	item.minecraft.leather;stickBlueMahoe;_16=16
	block.minecraft.white_wool;stickHazel;_16=16
	item.minecraft.leather;stickHazel;_16=16
	block.minecraft.white_wool;stickCinnamonwood;_16=16
	item.minecraft.leather;stickCinnamonwood;_16=16
	block.minecraft.white_wool;stickCoconutwood;_16=16
	item.minecraft.leather;stickCoconutwood;_16=16
	block.minecraft.white_wool;stickRainbowood;_16=16
	item.minecraft.leather;stickRainbowood;_16=16
	block.minecraft.white_wool;stickTowerwood;_16=16
	item.minecraft.leather;stickTowerwood;_16=16
	block.minecraft.white_wool;stickWitchwood;_16=16
	item.minecraft.leather;stickWitchwood;_16=16
	block.minecraft.white_wool;stickOgrewood;_16=16
	item.minecraft.leather;stickOgrewood;_16=16
	block.minecraft.white_wool;stickWyvernwood;_16=16
	item.minecraft.leather;stickWyvernwood;_16=16
	block.minecraft.white_wool;stickAspen;_16=16
	item.minecraft.leather;stickAspen;_16=16
	block.minecraft.white_wool;stickDouglasFir;_16=16
	item.minecraft.leather;stickDouglasFir;_16=16
	block.minecraft.white_wool;stickSycamore;_16=16
	item.minecraft.leather;stickSycamore;_16=16
	block.minecraft.white_wool;stickWhiteCedar;_16=16
	item.minecraft.leather;stickWhiteCedar;_16=16
	block.minecraft.white_wool;stickWhiteElm;_16=16
	item.minecraft.leather;stickWhiteElm;_16=16
	block.minecraft.white_wool;stickThorntree;_16=16
	item.minecraft.leather;stickThorntree;_16=16
	block.minecraft.white_wool;stickSilverPine;_16=16
	item.minecraft.leather;stickSilverPine;_16=16
	block.minecraft.white_wool;stickAlder;_16=16
	item.minecraft.leather;stickAlder;_16=16
	block.minecraft.white_wool;stickHawthorn;_16=16
	item.minecraft.leather;stickHawthorn;_16=16
	block.minecraft.white_wool;stickRowan;_16=16
	item.minecraft.leather;stickRowan;_16=16
	block.minecraft.white_wool;stickAutumnwood;_16=16
	item.minecraft.leather;stickAutumnwood;_16=16
	block.minecraft.white_wool;stickPine;_16=16
	item.minecraft.leather;stickPine;_16=16
	block.minecraft.white_wool;stickCypress;_16=16
	item.minecraft.leather;stickCypress;_16=16
	block.minecraft.white_wool;stickFir;_16=16
	item.minecraft.leather;stickFir;_16=16
	block.minecraft.white_wool;stickJapaneseMaple;_16=16
	item.minecraft.leather;stickJapaneseMaple;_16=16
	block.minecraft.white_wool;stickRainbowEucalyptus;_16=16
	item.minecraft.leather;stickRainbowEucalyptus;_16=16
	block.minecraft.white_wool;stickRedwood;_16=16
	item.minecraft.leather;stickRedwood;_16=16
	block.minecraft.white_wool;stickSakura;_16=16
	item.minecraft.leather;stickSakura;_16=16
	block.minecraft.white_wool;stickBalsa;_16=16
	item.minecraft.leather;stickBalsa;_16=16
	block.minecraft.white_wool;stickBaobab;_16=16
	item.minecraft.leather;stickBaobab;_16=16
	block.minecraft.white_wool;stickCherrywood;_16=16
	item.minecraft.leather;stickCherrywood;_16=16
	block.minecraft.white_wool;stickChestnutwood;_16=16
	item.minecraft.leather;stickChestnutwood;_16=16
	block.minecraft.white_wool;stickCitruswood;_16=16
	item.minecraft.leather;stickCitruswood;_16=16
	block.minecraft.white_wool;stickCocobolowood;_16=16
	item.minecraft.leather;stickCocobolowood;_16=16
	block.minecraft.white_wool;stickEbony;_16=16
	item.minecraft.leather;stickEbony;_16=16
	block.minecraft.white_wool;stickGiganteumwood;_16=16
	item.minecraft.leather;stickGiganteumwood;_16=16
	block.minecraft.white_wool;stickGreenheart;_16=16
	item.minecraft.leather;stickGreenheart;_16=16
	block.minecraft.white_wool;stickIpe;_16=16
	item.minecraft.leather;stickIpe;_16=16
	block.minecraft.white_wool;stickKapok;_16=16
	item.minecraft.leather;stickKapok;_16=16
	block.minecraft.white_wool;stickLarch;_16=16
	item.minecraft.leather;stickLarch;_16=16
	block.minecraft.white_wool;stickLimewood;_16=16
	item.minecraft.leather;stickLimewood;_16=16
	block.minecraft.white_wool;stickMahoe;_16=16
	item.minecraft.leather;stickMahoe;_16=16
	block.minecraft.white_wool;stickMahogany;_16=16
	item.minecraft.leather;stickMahogany;_16=16
	block.minecraft.white_wool;stickPadauk;_16=16
	item.minecraft.leather;stickPadauk;_16=16
	block.minecraft.white_wool;stickPalm;_16=16
	item.minecraft.leather;stickPalm;_16=16
	block.minecraft.white_wool;stickPapayawood;_16=16
	item.minecraft.leather;stickPapayawood;_16=16
	block.minecraft.white_wool;stickPlumwood;_16=16
	item.minecraft.leather;stickPlumwood;_16=16
	block.minecraft.white_wool;stickPoplar;_16=16
	item.minecraft.leather;stickPoplar;_16=16
	block.minecraft.white_wool;stickSequoia;_16=16
	item.minecraft.leather;stickSequoia;_16=16
	block.minecraft.white_wool;stickTeak;_16=16
	item.minecraft.leather;stickTeak;_16=16
	block.minecraft.white_wool;stickWalnutwood;_16=16
	item.minecraft.leather;stickWalnutwood;_16=16
	block.minecraft.white_wool;stickWenge;_16=16
	item.minecraft.leather;stickWenge;_16=16
	block.minecraft.white_wool;stickZebrawood;_16=16
	item.minecraft.leather;stickZebrawood;_16=16
	block.minecraft.white_wool;stickDarkwood;_16=16
	item.minecraft.leather;stickDarkwood;_16=16
	block.minecraft.white_wool;stickEtherealwood;_16=16
	item.minecraft.leather;stickEtherealwood;_16=16
	block.minecraft.white_wool;stickGoldwood;_16=16
	item.minecraft.leather;stickGoldwood;_16=16
	block.minecraft.white_wool;stickHellbark;_16=16
	item.minecraft.leather;stickHellbark;_16=16
	block.minecraft.white_wool;stickJacaranda;_16=16
	item.minecraft.leather;stickJacaranda;_16=16
	block.minecraft.white_wool;stickMangrove;_16=16
	item.minecraft.leather;stickMangrove;_16=16
	block.minecraft.white_wool;stickSacredOak;_16=16
	item.minecraft.leather;stickSacredOak;_16=16
	block.minecraft.white_wool;stickMagicwood;_16=16
	item.minecraft.leather;stickMagicwood;_16=16
	block.minecraft.white_wool;stickApplewood;_16=16
	item.minecraft.leather;stickApplewood;_16=16
	block.minecraft.white_wool;stickAshwood;_16=16
	item.minecraft.leather;stickAshwood;_16=16
	block.minecraft.white_wool;stickBeech;_16=16
	item.minecraft.leather;stickBeech;_16=16
	block.minecraft.white_wool;stickBoxwood;_16=16
	item.minecraft.leather;stickBoxwood;_16=16
	block.minecraft.white_wool;stickBrazilwood;_16=16
	item.minecraft.leather;stickBrazilwood;_16=16
	block.minecraft.white_wool;stickButternutwood;_16=16
	item.minecraft.leather;stickButternutwood;_16=16
	block.minecraft.white_wool;stickCedar;_16=16
	item.minecraft.leather;stickCedar;_16=16
	block.minecraft.white_wool;stickElderwood;_16=16
	item.minecraft.leather;stickElderwood;_16=16
	block.minecraft.white_wool;stickElm;_16=16
	item.minecraft.leather;stickElm;_16=16
	block.minecraft.white_wool;stickEucalyptus;_16=16
	item.minecraft.leather;stickEucalyptus;_16=16
	block.minecraft.white_wool;stickFigwood;_16=16
	item.minecraft.leather;stickFigwood;_16=16
	block.minecraft.white_wool;stickGingko;_16=16
	item.minecraft.leather;stickGingko;_16=16
	block.minecraft.white_wool;stickHemlock;_16=16
	item.minecraft.leather;stickHemlock;_16=16
	block.minecraft.white_wool;stickHickory;_16=16
	item.minecraft.leather;stickHickory;_16=16
	block.minecraft.white_wool;stickHolly;_16=16
	item.minecraft.leather;stickHolly;_16=16
	block.minecraft.white_wool;stickHornbeam;_16=16
	item.minecraft.leather;stickHornbeam;_16=16
	block.minecraft.white_wool;stickIroko;_16=16
	item.minecraft.leather;stickIroko;_16=16
	block.minecraft.white_wool;stickLocust;_16=16
	item.minecraft.leather;stickLocust;_16=16
	block.minecraft.white_wool;stickLogwood;_16=16
	item.minecraft.leather;stickLogwood;_16=16
	block.minecraft.white_wool;stickMaclura;_16=16
	item.minecraft.leather;stickMaclura;_16=16
	block.minecraft.white_wool;stickOlivewood;_16=16
	item.minecraft.leather;stickOlivewood;_16=16
	block.minecraft.white_wool;stickPearwood;_16=16
	item.minecraft.leather;stickPearwood;_16=16
	block.minecraft.white_wool;stickPinkIvory;_16=16
	item.minecraft.leather;stickPinkIvory;_16=16
	block.minecraft.white_wool;stickPurpleheart;_16=16
	item.minecraft.leather;stickPurpleheart;_16=16
	block.minecraft.white_wool;stickRosewood;_16=16
	item.minecraft.leather;stickRosewood;_16=16
	block.minecraft.white_wool;stickSweetgum;_16=16
	item.minecraft.leather;stickSweetgum;_16=16
	block.minecraft.white_wool;stickSyzgium;_16=16
	item.minecraft.leather;stickSyzgium;_16=16
	block.minecraft.white_wool;stickWhitebeam;_16=16
	item.minecraft.leather;stickWhitebeam;_16=16
	block.minecraft.white_wool;stickYew;_16=16
	item.minecraft.leather;stickYew;_16=16
	block.minecraft.white_wool;stickWoodScorched;_16=16
	item.minecraft.leather;stickWoodScorched;_16=16
	block.minecraft.white_wool;stickWoodVarnished;_16=16
	item.minecraft.leather;stickWoodVarnished;_16=16
	block.minecraft.white_wool;stickWoodTainted;_16=16
	item.minecraft.leather;stickWoodTainted;_16=16
	block.minecraft.white_wool;stickWoodBleached;_16=16
	item.minecraft.leather;stickWoodBleached;_16=16
	block.minecraft.white_wool;stickFoxfirewood;_16=16
	item.minecraft.leather;stickFoxfirewood;_16=16
	block.minecraft.white_wool;stickBlueSpruce;_16=16
	item.minecraft.leather;stickBlueSpruce;_16=16
	item.gregapi.gt.integrated_circuit;item.gregtech.gt.multiitem.food;_16=16
	item.gregapi.gt.integrated_circuit;wireFinePlastic;_16=16
	item.gregapi.gt.integrated_circuit;block.minecraft.vine;_16=16
	item.gregapi.gt.integrated_circuit;wireFineKnightmetal;_64=64
	item.gregapi.gt.integrated_circuit;wireFineMeteoricSteel;_64=64
	item.gregapi.gt.integrated_circuit;wireFineSteel;_64=64
	wireGt01Superconductor;item.gregapi.gt.integrated_circuit;_352=352
}

