# Configuration file

matter_replicator {
    I:"blockDustRedstone;gt.integrated_circuit;_144"=144
    I:"blockGemAquamarine;gt.integrated_circuit;_144"=144
    I:"blockGemBixbite;gt.integrated_circuit;_144"=144
    I:"blockGemBlueDiamond;gt.integrated_circuit;_144"=144
    I:"blockGemCoal;gt.integrated_circuit;_144"=144
    I:"blockGemDiamond;gt.integrated_circuit;_144"=144
    I:"blockGemDiamondIndustrial;gt.integrated_circuit;_144"=144
    I:"blockGemElvenDragonstone;gt.integrated_circuit;_144"=144
    I:"blockGemEmerald;gt.integrated_circuit;_144"=144
    I:"blockGemGoshenite;gt.integrated_circuit;_144"=144
    I:"blockGemGravitite;gt.integrated_circuit;_144"=144
    I:"blockGemGreenDiamond;gt.integrated_circuit;_144"=144
    I:"blockGemHeliodor;gt.integrated_circuit;_144"=144
    I:"blockGemLapis;gt.integrated_circuit;_144"=144
    I:"blockGemManaDiamond;gt.integrated_circuit;_144"=144
    I:"blockGemMaxixe;gt.integrated_circuit;_144"=144
    I:"blockGemMorganite;gt.integrated_circuit;_144"=144
    I:"blockGemPinkDiamond;gt.integrated_circuit;_144"=144
    I:"blockGemPurpleDiamond;gt.integrated_circuit;_144"=144
    I:"blockGemRedDiamond;gt.integrated_circuit;_144"=144
    I:"blockGemYellowDiamond;gt.integrated_circuit;_144"=144
    I:"blockIngotCastIron;gt.integrated_circuit;_144"=144
    I:"blockIngotIron;gt.integrated_circuit;_144"=144
    I:"blockIngotIronCompressed;gt.integrated_circuit;_144"=144
    I:"blockIngotKnightmetal;gt.integrated_circuit;_144"=144
    I:"blockIngotMeteoricIron;gt.integrated_circuit;_144"=144
    I:"blockIngotMeteoricSteel;gt.integrated_circuit;_144"=144
    I:"blockIngotMeteorite;gt.integrated_circuit;_144"=144
    I:"blockIngotPigIron;gt.integrated_circuit;_144"=144
    I:"blockIngotSteel;gt.integrated_circuit;_144"=144
    I:"blockIngotWroughtIron;gt.integrated_circuit;_144"=144
    I:"dustRedstone;gt.integrated_circuit;_16"=16
    I:"gemAquamarine;gt.integrated_circuit;_16"=16
    I:"gemBixbite;gt.integrated_circuit;_16"=16
    I:"gemBlueDiamond;gt.integrated_circuit;_16"=16
    I:"gemCoal;gt.integrated_circuit;_16"=16
    I:"gemDiamond;gt.integrated_circuit;_16"=16
    I:"gemDiamondIndustrial;gt.integrated_circuit;_16"=16
    I:"gemElvenDragonstone;gt.integrated_circuit;_16"=16
    I:"gemEmerald;gt.integrated_circuit;_16"=16
    I:"gemGoshenite;gt.integrated_circuit;_16"=16
    I:"gemGravitite;gt.integrated_circuit;_16"=16
    I:"gemGreenDiamond;gt.integrated_circuit;_16"=16
    I:"gemHeliodor;gt.integrated_circuit;_16"=16
    I:"gemLapis;gt.integrated_circuit;_16"=16
    I:"gemManaDiamond;gt.integrated_circuit;_16"=16
    I:"gemMaxixe;gt.integrated_circuit;_16"=16
    I:"gemMorganite;gt.integrated_circuit;_16"=16
    I:"gemPinkDiamond;gt.integrated_circuit;_16"=16
    I:"gemPurpleDiamond;gt.integrated_circuit;_16"=16
    I:"gemRedDiamond;gt.integrated_circuit;_16"=16
    I:"gemYellowDiamond;gt.integrated_circuit;_16"=16
    I:"gt.integrated_circuit;ender;_144"=144
    I:"gt.integrated_circuit;gt.integrated_circuit;ic2uumatter;biomass;_256"=256
    I:"gt.integrated_circuit;gt.integrated_circuit;ic2uumatter;ic2biomass;_256"=256
    I:"gt.integrated_circuit;gt.integrated_circuit;neutralmatter;chargedmatter;biomass;_256"=256
    I:"gt.integrated_circuit;gt.integrated_circuit;neutralmatter;chargedmatter;ic2biomass;_256"=256
    I:"gt.integrated_circuit;molten.enderpearl;_144"=144
    I:"gt.integrated_circuit;molten.redstone;_144"=144
    I:"gt.integrated_circuit;molten.redstone;_18"=18
    I:"gt.integrated_circuit;molten.redstone;_288"=288
    I:"gt.integrated_circuit;molten.redstone;_36"=36
    I:"gt.integrated_circuit;molten.redstone;_576"=576
    I:"gt.integrated_circuit;molten.redstone;_72"=72
    I:"gt.integrated_circuit;redstone;_144"=144
    I:"gt.integrated_circuit;redstone;_18"=18
    I:"gt.integrated_circuit;redstone;_288"=288
    I:"gt.integrated_circuit;redstone;_36"=36
    I:"gt.integrated_circuit;redstone;_576"=576
    I:"gt.integrated_circuit;redstone;_72"=72
    I:"ingotCastIron;gt.integrated_circuit;_16"=16
    I:"ingotIron;gt.integrated_circuit;_16"=16
    I:"ingotIronCompressed;gt.integrated_circuit;_16"=16
    I:"ingotKnightmetal;gt.integrated_circuit;_16"=16
    I:"ingotMeteoricIron;gt.integrated_circuit;_16"=16
    I:"ingotMeteoricSteel;gt.integrated_circuit;_16"=16
    I:"ingotMeteorite;gt.integrated_circuit;_16"=16
    I:"ingotPigIron;gt.integrated_circuit;_16"=16
    I:"ingotSteel;gt.integrated_circuit;_16"=16
    I:"ingotWroughtIron;gt.integrated_circuit;_16"=16
}


