# Configuration file

polarizer {
    I:"arrowGtPlasticIron;_16"=16
    I:"arrowGtPlasticIronCompressed;_16"=16
    I:"arrowGtPlasticMeteoricSteel;_16"=16
    I:"arrowGtPlasticNeodymium;_16"=16
    I:"arrowGtPlasticPigIron;_16"=16
    I:"arrowGtPlasticWroughtIron;_16"=16
    I:"arrowGtWoodIron;_16"=16
    I:"arrowGtWoodIronCompressed;_16"=16
    I:"arrowGtWoodMeteoricSteel;_16"=16
    I:"arrowGtWoodNeodymium;_16"=16
    I:"arrowGtWoodPigIron;_16"=16
    I:"arrowGtWoodWroughtIron;_16"=16
    I:"billetIron;_96"=96
    I:"billetIronCompressed;_96"=96
    I:"billetMeteoricSteel;_96"=96
    I:"billetNeodymium;_96"=96
    I:"billetPigIron;_96"=96
    I:"billetWroughtIron;_96"=96
    I:"blockIngotIron;_1296"=1296
    I:"blockIngotIronCompressed;_1296"=1296
    I:"blockIngotMeteoricSteel;_1296"=1296
    I:"blockIngotNeodymium;_1296"=1296
    I:"blockIngotPigIron;_1296"=1296
    I:"blockIngotWroughtIron;_1296"=1296
    I:"blockPlateIron;_1296"=1296
    I:"blockPlateIronCompressed;_1296"=1296
    I:"blockPlateMeteoricSteel;_1296"=1296
    I:"blockPlateNeodymium;_1296"=1296
    I:"blockPlatePigIron;_1296"=1296
    I:"blockPlateWroughtIron;_1296"=1296
    I:"blockSolidIron;_1296"=1296
    I:"blockSolidIronCompressed;_1296"=1296
    I:"blockSolidMeteoricSteel;_1296"=1296
    I:"blockSolidNeodymium;_1296"=1296
    I:"blockSolidPigIron;_1296"=1296
    I:"blockSolidWroughtIron;_1296"=1296
    I:"boltIron;_18"=18
    I:"boltIronCompressed;_18"=18
    I:"boltMeteoricSteel;_18"=18
    I:"boltNeodymium;_18"=18
    I:"boltPigIron;_18"=18
    I:"boltWroughtIron;_18"=18
    I:"bulletGtLargeIron;_48"=48
    I:"bulletGtLargeIronCompressed;_48"=48
    I:"bulletGtLargeMeteoricSteel;_48"=48
    I:"bulletGtLargeNeodymium;_48"=48
    I:"bulletGtLargePigIron;_48"=48
    I:"bulletGtLargeWroughtIron;_48"=48
    I:"bulletGtMediumIron;_32"=32
    I:"bulletGtMediumIronCompressed;_32"=32
    I:"bulletGtMediumMeteoricSteel;_32"=32
    I:"bulletGtMediumNeodymium;_32"=32
    I:"bulletGtMediumPigIron;_32"=32
    I:"bulletGtMediumWroughtIron;_32"=32
    I:"bulletGtSmallIron;_16"=16
    I:"bulletGtSmallIronCompressed;_16"=16
    I:"bulletGtSmallMeteoricSteel;_16"=16
    I:"bulletGtSmallNeodymium;_16"=16
    I:"bulletGtSmallPigIron;_16"=16
    I:"bulletGtSmallWroughtIron;_16"=16
    I:"casingMachineDenseIron;_8064"=8064
    I:"casingMachineDenseIronCompressed;_8064"=8064
    I:"casingMachineDenseMeteoricSteel;_8064"=8064
    I:"casingMachineDenseNeodymium;_8064"=8064
    I:"casingMachineDensePigIron;_8064"=8064
    I:"casingMachineDenseWroughtIron;_8064"=8064
    I:"casingMachineDoubleIron;_2016"=2016
    I:"casingMachineDoubleIronCompressed;_2016"=2016
    I:"casingMachineDoubleMeteoricSteel;_2016"=2016
    I:"casingMachineDoubleNeodymium;_2016"=2016
    I:"casingMachineDoublePigIron;_2016"=2016
    I:"casingMachineDoubleWroughtIron;_2016"=2016
    I:"casingMachineIron;_1152"=1152
    I:"casingMachineIronCompressed;_1152"=1152
    I:"casingMachineMeteoricSteel;_1152"=1152
    I:"casingMachineNeodymium;_1152"=1152
    I:"casingMachinePigIron;_1152"=1152
    I:"casingMachineQuadrupleIron;_3744"=3744
    I:"casingMachineQuadrupleIronCompressed;_3744"=3744
    I:"casingMachineQuadrupleMeteoricSteel;_3744"=3744
    I:"casingMachineQuadrupleNeodymium;_3744"=3744
    I:"casingMachineQuadruplePigIron;_3744"=3744
    I:"casingMachineQuadrupleWroughtIron;_3744"=3744
    I:"casingMachineWroughtIron;_1152"=1152
    I:"casingSmallIron;_72"=72
    I:"casingSmallIronCompressed;_72"=72
    I:"casingSmallMeteoricSteel;_72"=72
    I:"casingSmallNeodymium;_72"=72
    I:"casingSmallPigIron;_72"=72
    I:"casingSmallWroughtIron;_72"=72
    I:"chainIron;_144"=144
    I:"chainIronCompressed;_144"=144
    I:"chainMeteoricSteel;_144"=144
    I:"chainNeodymium;_144"=144
    I:"chainPigIron;_144"=144
    I:"chainWroughtIron;_144"=144
    I:"chunkGtIron;_36"=36
    I:"chunkGtIronCompressed;_36"=36
    I:"chunkGtMeteoricSteel;_36"=36
    I:"chunkGtNeodymium;_36"=36
    I:"chunkGtPigIron;_36"=36
    I:"chunkGtWroughtIron;_36"=36
    I:"foilIron;_36"=36
    I:"foilIronCompressed;_36"=36
    I:"foilMeteoricSteel;_36"=36
    I:"foilNeodymium;_36"=36
    I:"foilPigIron;_36"=36
    I:"foilWroughtIron;_36"=36
    I:"gearGtIron;_576"=576
    I:"gearGtIronCompressed;_576"=576
    I:"gearGtMeteoricSteel;_576"=576
    I:"gearGtNeodymium;_576"=576
    I:"gearGtPigIron;_576"=576
    I:"gearGtSmallIron;_144"=144
    I:"gearGtSmallIronCompressed;_144"=144
    I:"gearGtSmallMeteoricSteel;_144"=144
    I:"gearGtSmallNeodymium;_144"=144
    I:"gearGtSmallPigIron;_144"=144
    I:"gearGtSmallWroughtIron;_144"=144
    I:"gearGtWroughtIron;_576"=576
    I:"ingotDoubleIron;_288"=288
    I:"ingotDoubleIronCompressed;_288"=288
    I:"ingotDoubleMeteoricSteel;_288"=288
    I:"ingotDoubleNeodymium;_288"=288
    I:"ingotDoublePigIron;_288"=288
    I:"ingotDoubleWroughtIron;_288"=288
    I:"ingotHotIron;_144"=144
    I:"ingotHotIronCompressed;_144"=144
    I:"ingotHotMeteoricSteel;_144"=144
    I:"ingotHotNeodymium;_144"=144
    I:"ingotHotPigIron;_144"=144
    I:"ingotHotWroughtIron;_144"=144
    I:"ingotIron;_144"=144
    I:"ingotIronCompressed;_144"=144
    I:"ingotMeteoricSteel;_144"=144
    I:"ingotNeodymium;_144"=144
    I:"ingotPigIron;_144"=144
    I:"ingotQuadrupleIron;_576"=576
    I:"ingotQuadrupleIronCompressed;_576"=576
    I:"ingotQuadrupleMeteoricSteel;_576"=576
    I:"ingotQuadrupleNeodymium;_576"=576
    I:"ingotQuadruplePigIron;_576"=576
    I:"ingotQuadrupleWroughtIron;_576"=576
    I:"ingotQuintupleIron;_720"=720
    I:"ingotQuintupleIronCompressed;_720"=720
    I:"ingotQuintupleMeteoricSteel;_720"=720
    I:"ingotQuintupleNeodymium;_720"=720
    I:"ingotQuintuplePigIron;_720"=720
    I:"ingotQuintupleWroughtIron;_720"=720
    I:"ingotTripleIron;_432"=432
    I:"ingotTripleIronCompressed;_432"=432
    I:"ingotTripleMeteoricSteel;_432"=432
    I:"ingotTripleNeodymium;_432"=432
    I:"ingotTriplePigIron;_432"=432
    I:"ingotTripleWroughtIron;_432"=432
    I:"ingotWroughtIron;_144"=144
    I:"minecartWheelsIron;_144"=144
    I:"minecartWheelsIronCompressed;_144"=144
    I:"minecartWheelsMeteoricSteel;_144"=144
    I:"minecartWheelsNeodymium;_144"=144
    I:"minecartWheelsPigIron;_144"=144
    I:"minecartWheelsWroughtIron;_144"=144
    I:"nuggetIron;_16"=16
    I:"nuggetIronCompressed;_16"=16
    I:"nuggetMeteoricSteel;_16"=16
    I:"nuggetNeodymium;_16"=16
    I:"nuggetPigIron;_16"=16
    I:"nuggetWroughtIron;_16"=16
    I:"plateCurvedIron;_144"=144
    I:"plateCurvedIronCompressed;_144"=144
    I:"plateCurvedMeteoricSteel;_144"=144
    I:"plateCurvedNeodymium;_144"=144
    I:"plateCurvedPigIron;_144"=144
    I:"plateCurvedWroughtIron;_144"=144
    I:"plateDenseIron;_1296"=1296
    I:"plateDenseIronCompressed;_1296"=1296
    I:"plateDenseMeteoricSteel;_1296"=1296
    I:"plateDenseNeodymium;_1296"=1296
    I:"plateDensePigIron;_1296"=1296
    I:"plateDenseWroughtIron;_1296"=1296
    I:"plateDoubleIron;_288"=288
    I:"plateDoubleIronCompressed;_288"=288
    I:"plateDoubleMeteoricSteel;_288"=288
    I:"plateDoubleNeodymium;_288"=288
    I:"plateDoublePigIron;_288"=288
    I:"plateDoubleWroughtIron;_288"=288
    I:"plateIron;_144"=144
    I:"plateIronCompressed;_144"=144
    I:"plateMeteoricSteel;_144"=144
    I:"plateNeodymium;_144"=144
    I:"platePigIron;_144"=144
    I:"plateQuadrupleIron;_576"=576
    I:"plateQuadrupleIronCompressed;_576"=576
    I:"plateQuadrupleMeteoricSteel;_576"=576
    I:"plateQuadrupleNeodymium;_576"=576
    I:"plateQuadruplePigIron;_576"=576
    I:"plateQuadrupleWroughtIron;_576"=576
    I:"plateQuintupleIron;_720"=720
    I:"plateQuintupleIronCompressed;_720"=720
    I:"plateQuintupleMeteoricSteel;_720"=720
    I:"plateQuintupleNeodymium;_720"=720
    I:"plateQuintuplePigIron;_720"=720
    I:"plateQuintupleWroughtIron;_720"=720
    I:"plateTinyIron;_16"=16
    I:"plateTinyIronCompressed;_16"=16
    I:"plateTinyMeteoricSteel;_16"=16
    I:"plateTinyNeodymium;_16"=16
    I:"plateTinyPigIron;_16"=16
    I:"plateTinyWroughtIron;_16"=16
    I:"plateTripleIron;_432"=432
    I:"plateTripleIronCompressed;_432"=432
    I:"plateTripleMeteoricSteel;_432"=432
    I:"plateTripleNeodymium;_432"=432
    I:"plateTriplePigIron;_432"=432
    I:"plateTripleWroughtIron;_432"=432
    I:"plateWroughtIron;_144"=144
    I:"ringIron;_36"=36
    I:"ringIronCompressed;_36"=36
    I:"ringMeteoricSteel;_36"=36
    I:"ringNeodymium;_36"=36
    I:"ringPigIron;_36"=36
    I:"ringWroughtIron;_36"=36
    I:"rotorIron;_612"=612
    I:"rotorIronCompressed;_612"=612
    I:"rotorMeteoricSteel;_612"=612
    I:"rotorNeodymium;_612"=612
    I:"rotorPigIron;_612"=612
    I:"rotorWroughtIron;_612"=612
    I:"roundIron;_16"=16
    I:"roundIronCompressed;_16"=16
    I:"roundMeteoricSteel;_16"=16
    I:"roundNeodymium;_16"=16
    I:"roundPigIron;_16"=16
    I:"roundWroughtIron;_16"=16
    I:"scrapGtIron;_16"=16
    I:"scrapGtIronCompressed;_16"=16
    I:"scrapGtMeteoricSteel;_16"=16
    I:"scrapGtNeodymium;_16"=16
    I:"scrapGtPigIron;_16"=16
    I:"scrapGtWroughtIron;_16"=16
    I:"screwIron;_16"=16
    I:"screwIronCompressed;_16"=16
    I:"screwMeteoricSteel;_16"=16
    I:"screwNeodymium;_16"=16
    I:"screwPigIron;_16"=16
    I:"screwWroughtIron;_16"=16
    I:"springIron;_144"=144
    I:"springIronCompressed;_144"=144
    I:"springMeteoricSteel;_144"=144
    I:"springNeodymium;_144"=144
    I:"springPigIron;_144"=144
    I:"springSmallIron;_36"=36
    I:"springSmallIronCompressed;_36"=36
    I:"springSmallMeteoricSteel;_36"=36
    I:"springSmallNeodymium;_36"=36
    I:"springSmallPigIron;_36"=36
    I:"springSmallWroughtIron;_36"=36
    I:"springWroughtIron;_144"=144
    I:"stickIron;_72"=72
    I:"stickIronCompressed;_72"=72
    I:"stickLongIron;_144"=144
    I:"stickLongIronCompressed;_144"=144
    I:"stickLongMeteoricSteel;_144"=144
    I:"stickLongNeodymium;_144"=144
    I:"stickLongPigIron;_144"=144
    I:"stickLongWroughtIron;_144"=144
    I:"stickMeteoricSteel;_72"=72
    I:"stickNeodymium;_72"=72
    I:"stickPigIron;_72"=72
    I:"stickWroughtIron;_72"=72
    I:"toolHeadArrowIron;_16"=16
    I:"toolHeadArrowIronCompressed;_16"=16
    I:"toolHeadArrowMeteoricSteel;_16"=16
    I:"toolHeadArrowNeodymium;_16"=16
    I:"toolHeadArrowPigIron;_16"=16
    I:"toolHeadArrowWroughtIron;_16"=16
    I:"toolHeadAxeDoubleIron;_688"=688
    I:"toolHeadAxeDoubleIronCompressed;_688"=688
    I:"toolHeadAxeDoubleMeteoricSteel;_688"=688
    I:"toolHeadAxeDoubleNeodymium;_688"=688
    I:"toolHeadAxeDoublePigIron;_688"=688
    I:"toolHeadAxeDoubleWroughtIron;_688"=688
    I:"toolHeadAxeIron;_416"=416
    I:"toolHeadAxeIronCompressed;_416"=416
    I:"toolHeadAxeMeteoricSteel;_416"=416
    I:"toolHeadAxeNeodymium;_416"=416
    I:"toolHeadAxePigIron;_416"=416
    I:"toolHeadAxeWroughtIron;_416"=416
    I:"toolHeadBuilderwandIron;_144"=144
    I:"toolHeadBuilderwandIronCompressed;_144"=144
    I:"toolHeadBuilderwandMeteoricSteel;_144"=144
    I:"toolHeadBuilderwandNeodymium;_144"=144
    I:"toolHeadBuilderwandPigIron;_144"=144
    I:"toolHeadBuilderwandWroughtIron;_144"=144
    I:"toolHeadBuzzSawIron;_576"=576
    I:"toolHeadBuzzSawIronCompressed;_576"=576
    I:"toolHeadBuzzSawMeteoricSteel;_576"=576
    I:"toolHeadBuzzSawNeodymium;_576"=576
    I:"toolHeadBuzzSawPigIron;_576"=576
    I:"toolHeadBuzzSawWroughtIron;_576"=576
    I:"toolHeadChainsawIron;_288"=288
    I:"toolHeadChainsawIronCompressed;_288"=288
    I:"toolHeadChainsawMeteoricSteel;_288"=288
    I:"toolHeadChainsawNeodymium;_288"=288
    I:"toolHeadChainsawPigIron;_288"=288
    I:"toolHeadChainsawWroughtIron;_288"=288
    I:"toolHeadChiselIron;_200"=200
    I:"toolHeadChiselIronCompressed;_200"=200
    I:"toolHeadChiselMeteoricSteel;_200"=200
    I:"toolHeadChiselNeodymium;_200"=200
    I:"toolHeadChiselPigIron;_200"=200
    I:"toolHeadChiselWroughtIron;_200"=200
    I:"toolHeadConstructionPickaxeIron;_416"=416
    I:"toolHeadConstructionPickaxeIronCompressed;_416"=416
    I:"toolHeadConstructionPickaxeMeteoricSteel;_416"=416
    I:"toolHeadConstructionPickaxeNeodymium;_416"=416
    I:"toolHeadConstructionPickaxePigIron;_416"=416
    I:"toolHeadConstructionPickaxeWroughtIron;_416"=416
    I:"toolHeadDrillIron;_576"=576
    I:"toolHeadDrillIronCompressed;_576"=576
    I:"toolHeadDrillMeteoricSteel;_576"=576
    I:"toolHeadDrillNeodymium;_576"=576
    I:"toolHeadDrillPigIron;_576"=576
    I:"toolHeadDrillWroughtIron;_576"=576
    I:"toolHeadFileIron;_216"=216
    I:"toolHeadFileIronCompressed;_216"=216
    I:"toolHeadFileMeteoricSteel;_216"=216
    I:"toolHeadFileNeodymium;_216"=216
    I:"toolHeadFilePigIron;_216"=216
    I:"toolHeadFileWroughtIron;_216"=216
    I:"toolHeadHammerIron;_864"=864
    I:"toolHeadHammerIronCompressed;_864"=864
    I:"toolHeadHammerMeteoricSteel;_864"=864
    I:"toolHeadHammerNeodymium;_864"=864
    I:"toolHeadHammerPigIron;_864"=864
    I:"toolHeadHammerWroughtIron;_864"=864
    I:"toolHeadHoeIron;_272"=272
    I:"toolHeadHoeIronCompressed;_272"=272
    I:"toolHeadHoeMeteoricSteel;_272"=272
    I:"toolHeadHoeNeodymium;_272"=272
    I:"toolHeadHoePigIron;_272"=272
    I:"toolHeadHoeWroughtIron;_272"=272
    I:"toolHeadPickaxeIron;_416"=416
    I:"toolHeadPickaxeIronCompressed;_416"=416
    I:"toolHeadPickaxeMeteoricSteel;_416"=416
    I:"toolHeadPickaxeNeodymium;_416"=416
    I:"toolHeadPickaxePigIron;_416"=416
    I:"toolHeadPickaxeWroughtIron;_416"=416
    I:"toolHeadPlowIron;_560"=560
    I:"toolHeadPlowIronCompressed;_560"=560
    I:"toolHeadPlowMeteoricSteel;_560"=560
    I:"toolHeadPlowNeodymium;_560"=560
    I:"toolHeadPlowPigIron;_560"=560
    I:"toolHeadPlowWroughtIron;_560"=560
    I:"toolHeadRawArrowIron;_18"=18
    I:"toolHeadRawArrowIronCompressed;_18"=18
    I:"toolHeadRawArrowMeteoricSteel;_18"=18
    I:"toolHeadRawArrowNeodymium;_18"=18
    I:"toolHeadRawArrowPigIron;_18"=18
    I:"toolHeadRawArrowWroughtIron;_18"=18
    I:"toolHeadRawAxeDoubleIron;_720"=720
    I:"toolHeadRawAxeDoubleIronCompressed;_720"=720
    I:"toolHeadRawAxeDoubleMeteoricSteel;_720"=720
    I:"toolHeadRawAxeDoubleNeodymium;_720"=720
    I:"toolHeadRawAxeDoublePigIron;_720"=720
    I:"toolHeadRawAxeDoubleWroughtIron;_720"=720
    I:"toolHeadRawAxeIron;_432"=432
    I:"toolHeadRawAxeIronCompressed;_432"=432
    I:"toolHeadRawAxeMeteoricSteel;_432"=432
    I:"toolHeadRawAxeNeodymium;_432"=432
    I:"toolHeadRawAxePigIron;_432"=432
    I:"toolHeadRawAxeWroughtIron;_432"=432
    I:"toolHeadRawChiselIron;_216"=216
    I:"toolHeadRawChiselIronCompressed;_216"=216
    I:"toolHeadRawChiselMeteoricSteel;_216"=216
    I:"toolHeadRawChiselNeodymium;_216"=216
    I:"toolHeadRawChiselPigIron;_216"=216
    I:"toolHeadRawChiselWroughtIron;_216"=216
    I:"toolHeadRawHoeIron;_288"=288
    I:"toolHeadRawHoeIronCompressed;_288"=288
    I:"toolHeadRawHoeMeteoricSteel;_288"=288
    I:"toolHeadRawHoeNeodymium;_288"=288
    I:"toolHeadRawHoePigIron;_288"=288
    I:"toolHeadRawHoeWroughtIron;_288"=288
    I:"toolHeadRawPickaxeIron;_432"=432
    I:"toolHeadRawPickaxeIronCompressed;_432"=432
    I:"toolHeadRawPickaxeMeteoricSteel;_432"=432
    I:"toolHeadRawPickaxeNeodymium;_432"=432
    I:"toolHeadRawPickaxePigIron;_432"=432
    I:"toolHeadRawPickaxeWroughtIron;_432"=432
    I:"toolHeadRawPlowIron;_576"=576
    I:"toolHeadRawPlowIronCompressed;_576"=576
    I:"toolHeadRawPlowMeteoricSteel;_576"=576
    I:"toolHeadRawPlowNeodymium;_576"=576
    I:"toolHeadRawPlowPigIron;_576"=576
    I:"toolHeadRawPlowWroughtIron;_576"=576
    I:"toolHeadRawSawIron;_288"=288
    I:"toolHeadRawSawIronCompressed;_288"=288
    I:"toolHeadRawSawMeteoricSteel;_288"=288
    I:"toolHeadRawSawNeodymium;_288"=288
    I:"toolHeadRawSawPigIron;_288"=288
    I:"toolHeadRawSawWroughtIron;_288"=288
    I:"toolHeadRawSenseIron;_432"=432
    I:"toolHeadRawSenseIronCompressed;_432"=432
    I:"toolHeadRawSenseMeteoricSteel;_432"=432
    I:"toolHeadRawSenseNeodymium;_432"=432
    I:"toolHeadRawSensePigIron;_432"=432
    I:"toolHeadRawSenseWroughtIron;_432"=432
    I:"toolHeadRawShovelIron;_144"=144
    I:"toolHeadRawShovelIronCompressed;_144"=144
    I:"toolHeadRawShovelMeteoricSteel;_144"=144
    I:"toolHeadRawShovelNeodymium;_144"=144
    I:"toolHeadRawShovelPigIron;_144"=144
    I:"toolHeadRawShovelWroughtIron;_144"=144
    I:"toolHeadRawSpadeIron;_144"=144
    I:"toolHeadRawSpadeIronCompressed;_144"=144
    I:"toolHeadRawSpadeMeteoricSteel;_144"=144
    I:"toolHeadRawSpadeNeodymium;_144"=144
    I:"toolHeadRawSpadePigIron;_144"=144
    I:"toolHeadRawSpadeWroughtIron;_144"=144
    I:"toolHeadRawSwordIron;_288"=288
    I:"toolHeadRawSwordIronCompressed;_288"=288
    I:"toolHeadRawSwordMeteoricSteel;_288"=288
    I:"toolHeadRawSwordNeodymium;_288"=288
    I:"toolHeadRawSwordPigIron;_288"=288
    I:"toolHeadRawSwordWroughtIron;_288"=288
    I:"toolHeadRawUniversalSpadeIron;_128"=128
    I:"toolHeadRawUniversalSpadeIronCompressed;_128"=128
    I:"toolHeadRawUniversalSpadeMeteoricSteel;_128"=128
    I:"toolHeadRawUniversalSpadeNeodymium;_128"=128
    I:"toolHeadRawUniversalSpadePigIron;_128"=128
    I:"toolHeadRawUniversalSpadeWroughtIron;_128"=128
    I:"toolHeadSawIron;_272"=272
    I:"toolHeadSawIronCompressed;_272"=272
    I:"toolHeadSawMeteoricSteel;_272"=272
    I:"toolHeadSawNeodymium;_272"=272
    I:"toolHeadSawPigIron;_272"=272
    I:"toolHeadSawWroughtIron;_272"=272
    I:"toolHeadScrewdriverIron;_144"=144
    I:"toolHeadScrewdriverIronCompressed;_144"=144
    I:"toolHeadScrewdriverMeteoricSteel;_144"=144
    I:"toolHeadScrewdriverNeodymium;_144"=144
    I:"toolHeadScrewdriverPigIron;_144"=144
    I:"toolHeadScrewdriverWroughtIron;_144"=144
    I:"toolHeadSenseIron;_416"=416
    I:"toolHeadSenseIronCompressed;_416"=416
    I:"toolHeadSenseMeteoricSteel;_416"=416
    I:"toolHeadSenseNeodymium;_416"=416
    I:"toolHeadSensePigIron;_416"=416
    I:"toolHeadSenseWroughtIron;_416"=416
    I:"toolHeadShovelIron;_128"=128
    I:"toolHeadShovelIronCompressed;_128"=128
    I:"toolHeadShovelMeteoricSteel;_128"=128
    I:"toolHeadShovelNeodymium;_128"=128
    I:"toolHeadShovelPigIron;_128"=128
    I:"toolHeadShovelWroughtIron;_128"=128
    I:"toolHeadSpadeIron;_128"=128
    I:"toolHeadSpadeIronCompressed;_128"=128
    I:"toolHeadSpadeMeteoricSteel;_128"=128
    I:"toolHeadSpadeNeodymium;_128"=128
    I:"toolHeadSpadePigIron;_128"=128
    I:"toolHeadSpadeWroughtIron;_128"=128
    I:"toolHeadSwordIron;_272"=272
    I:"toolHeadSwordIronCompressed;_272"=272
    I:"toolHeadSwordMeteoricSteel;_272"=272
    I:"toolHeadSwordNeodymium;_272"=272
    I:"toolHeadSwordPigIron;_272"=272
    I:"toolHeadSwordWroughtIron;_272"=272
    I:"toolHeadUniversalSpadeIron;_112"=112
    I:"toolHeadUniversalSpadeIronCompressed;_112"=112
    I:"toolHeadUniversalSpadeMeteoricSteel;_112"=112
    I:"toolHeadUniversalSpadeNeodymium;_112"=112
    I:"toolHeadUniversalSpadePigIron;_112"=112
    I:"toolHeadUniversalSpadeWroughtIron;_112"=112
    I:"toolHeadWrenchIron;_576"=576
    I:"toolHeadWrenchIronCompressed;_576"=576
    I:"toolHeadWrenchMeteoricSteel;_576"=576
    I:"toolHeadWrenchNeodymium;_576"=576
    I:"toolHeadWrenchPigIron;_576"=576
    I:"toolHeadWrenchWroughtIron;_576"=576
    I:"wireFineIron;_18"=18
    I:"wireFineIronCompressed;_18"=18
    I:"wireFineMeteoricSteel;_18"=18
    I:"wireFineNeodymium;_18"=18
    I:"wireFinePigIron;_18"=18
    I:"wireFineWroughtIron;_18"=18
}


