# Configuration file

Pressure_Washer {
	item.gregtech.gt.stone.granite.black;water;_64=64
	item.gregtech.gt.stone.granite.black;potion.mineralwater;_64=64
	item.gregtech.gt.stone.granite.black;ic2distilledwater;_64=64
	item.gregtech.gt.stone.granite.black;spectral_dew;_64=64
	item.gregtech.gt.stone.granite.red;water;_64=64
	item.gregtech.gt.stone.granite.red;potion.mineralwater;_64=64
	item.gregtech.gt.stone.granite.red;ic2distilledwater;_64=64
	item.gregtech.gt.stone.granite.red;spectral_dew;_64=64
	item.gregtech.gt.stone.basalt;water;_64=64
	item.gregtech.gt.stone.basalt;potion.mineralwater;_64=64
	item.gregtech.gt.stone.basalt;ic2distilledwater;_64=64
	item.gregtech.gt.stone.basalt;spectral_dew;_64=64
	item.gregtech.gt.stone.marble;water;_64=64
	item.gregtech.gt.stone.marble;potion.mineralwater;_64=64
	item.gregtech.gt.stone.marble;ic2distilledwater;_64=64
	item.gregtech.gt.stone.marble;spectral_dew;_64=64
	item.gregtech.gt.stone.limestone;water;_64=64
	item.gregtech.gt.stone.limestone;potion.mineralwater;_64=64
	item.gregtech.gt.stone.limestone;ic2distilledwater;_64=64
	item.gregtech.gt.stone.limestone;spectral_dew;_64=64
	item.gregtech.gt.stone.granite;water;_64=64
	item.gregtech.gt.stone.granite;potion.mineralwater;_64=64
	item.gregtech.gt.stone.granite;ic2distilledwater;_64=64
	item.gregtech.gt.stone.granite;spectral_dew;_64=64
	item.gregtech.gt.stone.diorite;water;_64=64
	item.gregtech.gt.stone.diorite;potion.mineralwater;_64=64
	item.gregtech.gt.stone.diorite;ic2distilledwater;_64=64
	item.gregtech.gt.stone.diorite;spectral_dew;_64=64
	item.gregtech.gt.stone.andesite;water;_64=64
	item.gregtech.gt.stone.andesite;potion.mineralwater;_64=64
	item.gregtech.gt.stone.andesite;ic2distilledwater;_64=64
	item.gregtech.gt.stone.andesite;spectral_dew;_64=64
	item.gregtech.gt.stone.komatiite;water;_64=64
	item.gregtech.gt.stone.komatiite;potion.mineralwater;_64=64
	item.gregtech.gt.stone.komatiite;ic2distilledwater;_64=64
	item.gregtech.gt.stone.komatiite;spectral_dew;_64=64
	item.gregtech.gt.stone.greenschist;water;_64=64
	item.gregtech.gt.stone.greenschist;potion.mineralwater;_64=64
	item.gregtech.gt.stone.greenschist;ic2distilledwater;_64=64
	item.gregtech.gt.stone.greenschist;spectral_dew;_64=64
	item.gregtech.gt.stone.blueschist;water;_64=64
	item.gregtech.gt.stone.blueschist;potion.mineralwater;_64=64
	item.gregtech.gt.stone.blueschist;ic2distilledwater;_64=64
	item.gregtech.gt.stone.blueschist;spectral_dew;_64=64
	item.gregtech.gt.stone.kimberlite;water;_64=64
	item.gregtech.gt.stone.kimberlite;potion.mineralwater;_64=64
	item.gregtech.gt.stone.kimberlite;ic2distilledwater;_64=64
	item.gregtech.gt.stone.kimberlite;spectral_dew;_64=64
	item.gregtech.gt.stone.quartzite;water;_64=64
	item.gregtech.gt.stone.quartzite;potion.mineralwater;_64=64
	item.gregtech.gt.stone.quartzite;ic2distilledwater;_64=64
	item.gregtech.gt.stone.quartzite;spectral_dew;_64=64
	item.gregtech.gt.stone.prismarine.light;water;_64=64
	item.gregtech.gt.stone.prismarine.light;potion.mineralwater;_64=64
	item.gregtech.gt.stone.prismarine.light;ic2distilledwater;_64=64
	item.gregtech.gt.stone.prismarine.light;spectral_dew;_64=64
	item.gregtech.gt.stone.prismarine.dark;water;_64=64
	item.gregtech.gt.stone.prismarine.dark;potion.mineralwater;_64=64
	item.gregtech.gt.stone.prismarine.dark;ic2distilledwater;_64=64
	item.gregtech.gt.stone.prismarine.dark;spectral_dew;_64=64
	item.gregtech.gt.stone.slate;water;_64=64
	item.gregtech.gt.stone.slate;potion.mineralwater;_64=64
	item.gregtech.gt.stone.slate;ic2distilledwater;_64=64
	item.gregtech.gt.stone.slate;spectral_dew;_64=64
	item.gregtech.gt.stone.shale;water;_64=64
	item.gregtech.gt.stone.shale;potion.mineralwater;_64=64
	item.gregtech.gt.stone.shale;ic2distilledwater;_64=64
	item.gregtech.gt.stone.shale;spectral_dew;_64=64
	block.minecraft.oak_log;water;_64=64
	block.minecraft.oak_log;potion.mineralwater;_64=64
	block.minecraft.oak_log;ic2distilledwater;_64=64
	block.minecraft.oak_log;spectral_dew;_64=64
	block.minecraft.spruce_log;water;_64=64
	block.minecraft.spruce_log;potion.mineralwater;_64=64
	block.minecraft.spruce_log;ic2distilledwater;_64=64
	block.minecraft.spruce_log;spectral_dew;_64=64
	block.minecraft.birch_log;water;_64=64
	block.minecraft.birch_log;potion.mineralwater;_64=64
	block.minecraft.birch_log;ic2distilledwater;_64=64
	block.minecraft.birch_log;spectral_dew;_64=64
	block.minecraft.jungle_log;water;_64=64
	block.minecraft.jungle_log;potion.mineralwater;_64=64
	block.minecraft.jungle_log;ic2distilledwater;_64=64
	block.minecraft.jungle_log;spectral_dew;_64=64
	block.minecraft.acacia_log;water;_64=64
	block.minecraft.acacia_log;potion.mineralwater;_64=64
	block.minecraft.acacia_log;ic2distilledwater;_64=64
	block.minecraft.acacia_log;spectral_dew;_64=64
	block.minecraft.dark_oak_log;water;_64=64
	block.minecraft.dark_oak_log;potion.mineralwater;_64=64
	block.minecraft.dark_oak_log;ic2distilledwater;_64=64
	block.minecraft.dark_oak_log;spectral_dew;_64=64
	block.minecraft.oak_wood;water;_64=64
	block.minecraft.oak_wood;potion.mineralwater;_64=64
	block.minecraft.oak_wood;ic2distilledwater;_64=64
	block.minecraft.oak_wood;spectral_dew;_64=64
	block.minecraft.spruce_wood;water;_64=64
	block.minecraft.spruce_wood;potion.mineralwater;_64=64
	block.minecraft.spruce_wood;ic2distilledwater;_64=64
	block.minecraft.spruce_wood;spectral_dew;_64=64
	block.minecraft.birch_wood;water;_64=64
	block.minecraft.birch_wood;potion.mineralwater;_64=64
	block.minecraft.birch_wood;ic2distilledwater;_64=64
	block.minecraft.birch_wood;spectral_dew;_64=64
	block.minecraft.jungle_wood;water;_64=64
	block.minecraft.jungle_wood;potion.mineralwater;_64=64
	block.minecraft.jungle_wood;ic2distilledwater;_64=64
	block.minecraft.jungle_wood;spectral_dew;_64=64
	block.minecraft.acacia_wood;water;_64=64
	block.minecraft.acacia_wood;potion.mineralwater;_64=64
	block.minecraft.acacia_wood;ic2distilledwater;_64=64
	block.minecraft.acacia_wood;spectral_dew;_64=64
	block.minecraft.dark_oak_wood;water;_64=64
	block.minecraft.dark_oak_wood;potion.mineralwater;_64=64
	block.minecraft.dark_oak_wood;ic2distilledwater;_64=64
	block.minecraft.dark_oak_wood;spectral_dew;_64=64
	block.minecraft.cherry_log;water;_64=64
	block.minecraft.cherry_log;potion.mineralwater;_64=64
	block.minecraft.cherry_log;ic2distilledwater;_64=64
	block.minecraft.cherry_log;spectral_dew;_64=64
	block.minecraft.cherry_wood;water;_64=64
	block.minecraft.cherry_wood;potion.mineralwater;_64=64
	block.minecraft.cherry_wood;ic2distilledwater;_64=64
	block.minecraft.cherry_wood;spectral_dew;_64=64
	block.minecraft.bamboo_block;water;_64=64
	block.minecraft.bamboo_block;potion.mineralwater;_64=64
	block.minecraft.bamboo_block;ic2distilledwater;_64=64
	block.minecraft.bamboo_block;spectral_dew;_64=64
	block.minecraft.mangrove_log;water;_64=64
	block.minecraft.mangrove_log;potion.mineralwater;_64=64
	block.minecraft.mangrove_log;ic2distilledwater;_64=64
	block.minecraft.mangrove_log;spectral_dew;_64=64
	block.minecraft.mangrove_wood;water;_64=64
	block.minecraft.mangrove_wood;potion.mineralwater;_64=64
	block.minecraft.mangrove_wood;ic2distilledwater;_64=64
	block.minecraft.mangrove_wood;spectral_dew;_64=64
	block.minecraft.crimson_stem;water;_64=64
	block.minecraft.crimson_stem;potion.mineralwater;_64=64
	block.minecraft.crimson_stem;ic2distilledwater;_64=64
	block.minecraft.crimson_stem;spectral_dew;_64=64
	block.minecraft.warped_stem;water;_64=64
	block.minecraft.warped_stem;potion.mineralwater;_64=64
	block.minecraft.warped_stem;ic2distilledwater;_64=64
	block.minecraft.warped_stem;spectral_dew;_64=64
	block.minecraft.crimson_hyphae;water;_64=64
	block.minecraft.crimson_hyphae;potion.mineralwater;_64=64
	block.minecraft.crimson_hyphae;ic2distilledwater;_64=64
	block.minecraft.crimson_hyphae;spectral_dew;_64=64
	block.minecraft.warped_hyphae;water;_64=64
	block.minecraft.warped_hyphae;potion.mineralwater;_64=64
	block.minecraft.warped_hyphae;ic2distilledwater;_64=64
	block.minecraft.warped_hyphae;spectral_dew;_64=64
	item.gregtech.gt.block.log.a;water;_64=64
	item.gregtech.gt.block.log.a;potion.mineralwater;_64=64
	item.gregtech.gt.block.log.a;ic2distilledwater;_64=64
	item.gregtech.gt.block.log.a;spectral_dew;_64=64
	item.gregtech.gt.block.log.a.fireproof;water;_64=64
	item.gregtech.gt.block.log.a.fireproof;potion.mineralwater;_64=64
	item.gregtech.gt.block.log.a.fireproof;ic2distilledwater;_64=64
	item.gregtech.gt.block.log.a.fireproof;spectral_dew;_64=64
	item.gregtech.gt.block.log.b;water;_64=64
	item.gregtech.gt.block.log.b;potion.mineralwater;_64=64
	item.gregtech.gt.block.log.b;ic2distilledwater;_64=64
	item.gregtech.gt.block.log.b;spectral_dew;_64=64
	item.gregtech.gt.block.log.b.fireproof;water;_64=64
	item.gregtech.gt.block.log.b.fireproof;potion.mineralwater;_64=64
	item.gregtech.gt.block.log.b.fireproof;ic2distilledwater;_64=64
	item.gregtech.gt.block.log.b.fireproof;spectral_dew;_64=64
	item.gregtech.gt.block.log.c;water;_64=64
	item.gregtech.gt.block.log.c;potion.mineralwater;_64=64
	item.gregtech.gt.block.log.c;ic2distilledwater;_64=64
	item.gregtech.gt.block.log.c;spectral_dew;_64=64
	item.gregtech.gt.block.log.c.fireproof;water;_64=64
	item.gregtech.gt.block.log.c.fireproof;potion.mineralwater;_64=64
	item.gregtech.gt.block.log.c.fireproof;ic2distilledwater;_64=64
	item.gregtech.gt.block.log.c.fireproof;spectral_dew;_64=64
	block.minecraft.mossy_cobblestone;water;_64=64
	block.minecraft.mossy_cobblestone;potion.mineralwater;_64=64
	block.minecraft.mossy_cobblestone;ic2distilledwater;_64=64
	block.minecraft.mossy_cobblestone;spectral_dew;_64=64
	block.minecraft.mossy_stone_bricks;water;_64=64
	block.minecraft.mossy_stone_bricks;potion.mineralwater;_64=64
	block.minecraft.mossy_stone_bricks;ic2distilledwater;_64=64
	block.minecraft.mossy_stone_bricks;spectral_dew;_64=64
	block.aether_ii.ambrosium_ore;water;_200=200
	block.aether_ii.holystone_quartz_ore;water;_200=200
	block.aether_ii.undershale_ambrosium_ore;water;_200=200
	item.gt6m.inert_arkenium_dust;water;_200=200
}

