# Configuration file

roll_bender {
    I:"casingSmallTin;_64"=64
    I:"casingSmallZirconium;_128"=128
    I:"plateAbyssalnite;_1024"=1024
    I:"plateActinium;_256"=256
    I:"plateAdamantine;_1536"=1536
    I:"plateAdamantite;_1024"=1024
    I:"plateAdamantium;_1536"=1536
    I:"plateAlduorite;_768"=768
    I:"plateAluminium;_16"=16
    I:"plateAluminiumAlloy;_768"=768
    I:"plateAluminiumBrass;_16"=16
    I:"plateAlumite;_1024"=1024
    I:"plateAmericium241;_768"=768
    I:"plateAmericium242;_768"=768
    I:"plateAmericium;_768"=768
    I:"plateAmordrine;_1024"=1024
    I:"plateAncientDebris;_1024"=1024
    I:"plateAngmallen;_768"=768
    I:"plateAnnealedCopper;_16"=16
    I:"plateAntimony;_16"=16
    I:"plateArdite;_1024"=1024
    I:"plateAredrite;_1024"=1024
    I:"plateArsenic;_16"=16
    I:"plateArsenicBronze;_16"=16
    I:"plateArsenicCopper;_16"=16
    I:"plateAstatine;_16"=16
    I:"plateAstralSilver;_768"=768
    I:"plateAtlarus;_1280"=1280
    I:"plateBarium;_16"=16
    I:"plateBatteryAlloy;_16"=16
    I:"plateBedrockHSLAAlloy;_1536"=1536
    I:"plateBedrockium;_256"=256
    I:"plateBerkelium;_256"=256
    I:"plateBeryllium7;_256"=256
    I:"plateBeryllium8;_256"=256
    I:"plateBeryllium;_768"=768
    I:"plateBismuth;_16"=16
    I:"plateBismuthBronze;_16"=16
    I:"plateBlackBronze;_16"=16
    I:"plateBlackSteel;_768"=768
    I:"plateBlueAlloy;_16"=16
    I:"plateBlueSteel;_768"=768
    I:"plateBlutonium;_256"=256
    I:"plateBohrium;_16"=16
    I:"plateBoron11;_256"=256
    I:"plateBoron;_256"=256
    I:"plateBrass;_16"=16
    I:"plateBronze;_16"=16
    I:"plateCadmium;_16"=16
    I:"plateCaesium;_16"=16
    I:"plateCalcium;_16"=16
    I:"plateCalifornium;_16"=16
    I:"plateCarborundum;_1024"=1024
    I:"plateCarmot;_16"=16
    I:"plateCastIron;_768"=768
    I:"plateCdInAgAlloy;_256"=256
    I:"plateCelenegil;_1024"=1024
    I:"plateCerium;_16"=16
    I:"plateCeruclase;_768"=768
    I:"plateChromium;_1024"=1024
    I:"plateChromiumDioxide;_1024"=1024
    I:"plateClayCompound;_256"=256
    I:"plateCobalt60;_1024"=1024
    I:"plateCobalt;_1024"=1024
    I:"plateCobaltBrass;_16"=16
    I:"plateConductiveIron;_768"=768
    I:"plateConstantan;_512"=512
    I:"plateCopernicium;_16"=16
    I:"plateCopper;_16"=16
    I:"plateCoralium;_1024"=1024
    I:"plateCosmicNeutronium;_2816"=2816
    I:"plateCrystalMatrix;_1280"=1280
    I:"plateCrystallineAlloy;_256"=256
    I:"plateCrystallinePinkSlime;_256"=256
    I:"plateCurium;_256"=256
    I:"plateCurvedCastIron;_256"=256
    I:"plateCurvedIron;_256"=256
    I:"plateCurvedIronCompressed;_256"=256
    I:"plateCurvedMeteoricIron;_256"=256
    I:"plateCurvedMeteorite;_256"=256
    I:"plateCurvedPigIron;_256"=256
    I:"plateCurvedTin;_256"=256
    I:"plateCurvedTinAlloy;_64"=64
    I:"plateCurvedWroughtIron;_256"=256
    I:"plateCyanite;_256"=256
    I:"plateDamascusSteel;_768"=768
    I:"plateDarkIron;_1024"=1024
    I:"plateDarkThaumium;_1024"=1024
    I:"plateDeepIron;_768"=768
    I:"plateDesh;_1024"=1024
    I:"plateDesichalkos;_1280"=1280
    I:"plateDraconium;_1280"=1280
    I:"plateDraconiumAwakened;_1536"=1536
    I:"plateDreadium;_1280"=1280
    I:"plateDubnium;_16"=16
    I:"plateDuralumin;_768"=768
    I:"plateDuranium;_1280"=1280
    I:"plateDysprosium;_256"=256
    I:"plateEfrine;_1024"=1024
    I:"plateEinsteinium;_16"=16
    I:"plateElectricalSteel;_768"=768
    I:"plateElectrotineAlloy;_16"=16
    I:"plateElectrum;_16"=16
    I:"plateElectrumFlux;_16"=16
    I:"plateElvenElementium;_1024"=1024
    I:"plateElvorium;_1024"=1024
    I:"plateEndSteel;_256"=256
    I:"plateEnderium;_1024"=1024
    I:"plateEnderiumBase;_256"=256
    I:"plateEndium;_1024"=1024
    I:"plateEnergeticAlloy;_768"=768
    I:"plateEnergeticSilver;_16"=16
    I:"plateErbium;_256"=256
    I:"plateEthaxium;_1280"=1280
    I:"plateEuropium;_16"=16
    I:"plateEximite;_1024"=1024
    I:"plateFermium;_16"=16
    I:"plateFerrite;_256"=256
    I:"plateFierySteel;_1280"=1280
    I:"plateFireleaf;_16"=16
    I:"plateFlamascusSteel;_1280"=1280
    I:"plateFlerovium298;_16"=16
    I:"plateFlerovium;_16"=16
    I:"plateFrancium;_16"=16
    I:"plateFrozenIron;_768"=768
    I:"plateGadolinium;_256"=256
    I:"plateGaiaSpirit;_1280"=1280
    I:"plateGallium;_16"=16
    I:"plateGermanium;_16"=16
    I:"plateGildedIron;_768"=768
    I:"plateGlowstoneRefined;_768"=768
    I:"plateGold198;_16"=16
    I:"plateGold;_16"=16
    I:"plateGoldInductive;_16"=16
    I:"plateHSLASpringSteel;_768"=768
    I:"plateHSLASteel;_768"=768
    I:"plateHSLATungstenAlloy;_768"=768
    I:"plateHSSE;_1280"=1280
    I:"plateHSSG;_1024"=1024
    I:"plateHSSS;_1280"=1280
    I:"plateHaderoth;_1024"=1024
    I:"plateHafnium;_256"=256
    I:"plateHassium;_16"=16
    I:"plateHepatizon;_768"=768
    I:"plateHolmium;_256"=256
    I:"plateIgnatius;_768"=768
    I:"plateIndium;_16"=16
    I:"plateInfinity;_4096"=4096
    I:"plateInfuscolium;_768"=768
    I:"plateInolashite;_1024"=1024
    I:"plateInvar;_768"=768
    I:"plateIridium;_1280"=1280
    I:"plateIron;_768"=768
    I:"plateIronCompressed;_768"=768
    I:"plateIronMagnetic;_768"=768
    I:"plateIronwood;_16"=16
    I:"plateKalendrite;_1024"=1024
    I:"plateKanthal;_768"=768
    I:"plateKnightmetal;_1024"=1024
    I:"plateKreknorite;_1024"=1024
    I:"plateLanthanium;_16"=16
    I:"plateLawrencium;_256"=256
    I:"plateLead;_16"=16
    I:"plateLemurite;_768"=768
    I:"plateLithium6;_16"=16
    I:"plateLithium;_16"=16
    I:"plateLudicrite;_256"=256
    I:"plateLumium;_16"=16
    I:"plateLutetium;_256"=256
    I:"plateMagnalium;_16"=16
    I:"plateMagnesium;_16"=16
    I:"plateManasteel;_1024"=1024
    I:"plateManganese;_768"=768
    I:"plateManyullyn;_1024"=1024
    I:"plateMauftrium;_1024"=1024
    I:"plateMelodicAlloy;_256"=256
    I:"plateMendelevium;_16"=16
    I:"plateMercury;_16"=16
    I:"plateMeteoflameBlackSteel;_1280"=1280
    I:"plateMeteoflameBlueSteel;_1280"=1280
    I:"plateMeteoflameRedSteel;_1280"=1280
    I:"plateMeteoflameSteel;_1280"=1280
    I:"plateMeteoricBlackSteel;_768"=768
    I:"plateMeteoricBlueSteel;_768"=768
    I:"plateMeteoricIron;_768"=768
    I:"plateMeteoricRedSteel;_768"=768
    I:"plateMeteoricSteel;_768"=768
    I:"plateMeteorite;_1024"=1024
    I:"plateMeutoite;_768"=768
    I:"plateMidasium;_768"=768
    I:"plateMingrade;_16"=16
    I:"plateMithril;_1024"=1024
    I:"plateMolybdenum;_768"=768
    I:"plateMuspelheimPower;_1024"=1024
    I:"plateNaquadah;_1280"=1280
    I:"plateNaquadahEnriched;_1280"=1280
    I:"plateNaquadria;_1280"=1280
    I:"plateNeodymium;_1024"=1024
    I:"plateNeodymiumMagnetic;_1024"=1024
    I:"plateNeptunium;_16"=16
    I:"plateNetherite;_1280"=1280
    I:"plateNetherizedDiamond;_1280"=1280
    I:"plateNichrome;_768"=768
    I:"plateNickel;_768"=768
    I:"plateNiflheimPower;_1024"=1024
    I:"plateNikolineAlloy;_256"=256
    I:"plateNiobium;_256"=256
    I:"plateNiobiumNitride;_256"=256
    I:"plateNiobiumTitanium;_256"=256
    I:"plateNobelium;_16"=16
    I:"plateObsidianRefined;_1024"=1024
    I:"plateObsidianSteel;_768"=768
    I:"plateOctine;_768"=768
    I:"plateOrichalcum;_1024"=1024
    I:"plateOriharukon;_768"=768
    I:"plateOsmiridium;_1280"=1280
    I:"plateOsmiumElemental;_1280"=1280
    I:"plateOureclase;_1024"=1024
    I:"platePalladium;_768"=768
    I:"platePigIron;_768"=768
    I:"platePlatinum;_768"=768
    I:"platePlutonium238;_16"=16
    I:"platePlutonium239;_16"=16
    I:"platePlutonium240;_16"=16
    I:"platePlutonium241;_16"=16
    I:"platePlutonium243;_16"=16
    I:"platePlutonium;_16"=16
    I:"platePolonium;_16"=16
    I:"platePotassium;_16"=16
    I:"platePraseodymium;_256"=256
    I:"platePrometheum;_16"=16
    I:"platePromethium;_256"=256
    I:"plateProtactinium;_256"=256
    I:"platePulsatingIron;_768"=768
    I:"platePurpleAlloy;_16"=16
    I:"plateRadium;_16"=16
    I:"plateRedAlloy;_16"=16
    I:"plateRedSteel;_768"=768
    I:"plateRedstoneAlloy;_256"=256
    I:"plateRhenium;_256"=256
    I:"plateRhodium;_256"=256
    I:"plateRoseGold;_16"=16
    I:"plateRubidium;_16"=16
    I:"plateRubracium;_768"=768
    I:"plateRuthenium;_256"=256
    I:"plateRutherfordium;_256"=256
    I:"plateSamarium;_256"=256
    I:"plateSanguinite;_1280"=1280
    I:"plateScandium;_256"=256
    I:"plateSeaborgium;_16"=16
    I:"plateShadowIron;_768"=768
    I:"plateShadowSteel;_768"=768
    I:"plateSignalum;_16"=16
    I:"plateSilicon;_256"=256
    I:"plateSilver;_16"=16
    I:"plateSodium;_16"=16
    I:"plateSolderingAlloy;_16"=16
    I:"plateSoularium;_768"=768
    I:"plateSpectreIron;_768"=768
    I:"plateStainlessSteel;_768"=768
    I:"plateSteel;_768"=768
    I:"plateSteelGalvanized;_768"=768
    I:"plateSteelMagnetic;_768"=768
    I:"plateSteeleaf;_16"=16
    I:"plateStellarAlloy;_256"=256
    I:"plateSterlingSilver;_16"=16
    I:"plateStrontium;_16"=16
    I:"plateSunnarium;_256"=256
    I:"plateSyrmorite;_16"=16
    I:"plateTantalum;_256"=256
    I:"plateTantalumHafniumCarbide;_768"=768
    I:"plateTartarite;_1536"=1536
    I:"plateTechnetium;_512"=512
    I:"plateTellurium;_16"=16
    I:"plateTerbium;_256"=256
    I:"plateTerrasteel;_1280"=1280
    I:"plateThallium;_16"=16
    I:"plateThaumium;_1024"=1024
    I:"plateThorium;_768"=768
    I:"plateThulium;_256"=256
    I:"plateTin;_16"=16
    I:"plateTinAlloy;_16"=16
    I:"plateTitanium;_1024"=1024
    I:"plateTitaniumAluminide;_1024"=1024
    I:"plateTitaniumGold;_1280"=1280
    I:"plateTitaniumIridium;_1280"=1280
    I:"plateTrinaquadalloy;_1536"=1536
    I:"plateTrinitanium;_1280"=1280
    I:"plateTrinium;_1280"=1280
    I:"plateTritanium;_1536"=1536
    I:"plateTungsten;_1024"=1024
    I:"plateTungstenCarbide;_1280"=1280
    I:"plateTungstenSintered;_1024"=1024
    I:"plateTungstensteel;_1280"=1280
    I:"plateUltimet;_1024"=1024
    I:"plateUnstable;_256"=256
    I:"plateUranium233;_1024"=1024
    I:"plateUranium235;_1024"=1024
    I:"plateUranium;_1024"=1024
    I:"plateVanadium;_256"=256
    I:"plateVanadiumGallium;_256"=256
    I:"plateVanadiumSteel;_1024"=1024
    I:"plateVibramantium;_4096"=4096
    I:"plateVibraniumSilver;_2560"=2560
    I:"plateVibraniumSteel;_2816"=2816
    I:"plateVibrantAlloy;_768"=768
    I:"plateVividAlloy;_256"=256
    I:"plateVoidMetal;_1280"=1280
    I:"plateVulcanite;_1024"=1024
    I:"plateVyroxeres;_1024"=1024
    I:"plateWorkersAlloy;_768"=768
    I:"plateWroughtIron;_768"=768
    I:"plateYellorium;_256"=256
    I:"plateYtterbium;_16"=16
    I:"plateYttrium;_256"=256
    I:"plateYttriumBariumCuprate;_256"=256
    I:"plateZinc;_16"=16
    I:"plateZirconium;_1024"=1024
    I:"sheetGtAluminium;_512"=512
    I:"sheetGtIron;_128"=128
    I:"sheetGtSteel;_256"=256
    I:"sheetGtTitanium;_512"=512
    I:"stickLongAbyssalnite;_1024"=1024
    I:"stickLongAdamantine;_1536"=1536
    I:"stickLongAdamantite;_1024"=1024
    I:"stickLongAdamantium;_1536"=1536
    I:"stickLongAlduorite;_768"=768
    I:"stickLongAluminium;_16"=16
    I:"stickLongAluminiumAlloy;_768"=768
    I:"stickLongAluminiumBrass;_16"=16
    I:"stickLongAlumite;_1024"=1024
    I:"stickLongAmericium241;_768"=768
    I:"stickLongAmericium242;_768"=768
    I:"stickLongAmericium;_768"=768
    I:"stickLongAmordrine;_1024"=1024
    I:"stickLongAngmallen;_768"=768
    I:"stickLongAnnealedCopper;_16"=16
    I:"stickLongAntimony;_16"=16
    I:"stickLongArdite;_1024"=1024
    I:"stickLongAredrite;_1024"=1024
    I:"stickLongArsenicBronze;_16"=16
    I:"stickLongArsenicCopper;_16"=16
    I:"stickLongAstralSilver;_768"=768
    I:"stickLongAtlarus;_1280"=1280
    I:"stickLongBedrockHSLAAlloy;_1536"=1536
    I:"stickLongBedrockium;_256"=256
    I:"stickLongBeryllium;_768"=768
    I:"stickLongBismuth;_16"=16
    I:"stickLongBismuthBronze;_16"=16
    I:"stickLongBlackBronze;_16"=16
    I:"stickLongBlackSteel;_768"=768
    I:"stickLongBlueSteel;_768"=768
    I:"stickLongBrass;_16"=16
    I:"stickLongBronze;_16"=16
    I:"stickLongCarmot;_16"=16
    I:"stickLongCastIron;_768"=768
    I:"stickLongCdInAgAlloy;_256"=256
    I:"stickLongCelenegil;_1024"=1024
    I:"stickLongCeruclase;_768"=768
    I:"stickLongChromium;_1024"=1024
    I:"stickLongChromiumDioxide;_1024"=1024
    I:"stickLongCobalt60;_1024"=1024
    I:"stickLongCobalt;_1024"=1024
    I:"stickLongCobaltBrass;_16"=16
    I:"stickLongConductiveIron;_768"=768
    I:"stickLongConstantan;_512"=512
    I:"stickLongCopper;_16"=16
    I:"stickLongCoralium;_1024"=1024
    I:"stickLongCosmicNeutronium;_2816"=2816
    I:"stickLongCrystalMatrix;_1280"=1280
    I:"stickLongDamascusSteel;_768"=768
    I:"stickLongDarkIron;_1024"=1024
    I:"stickLongDarkThaumium;_1024"=1024
    I:"stickLongDeepIron;_768"=768
    I:"stickLongDesh;_1024"=1024
    I:"stickLongDesichalkos;_1280"=1280
    I:"stickLongDraconium;_1280"=1280
    I:"stickLongDraconiumAwakened;_1536"=1536
    I:"stickLongDreadium;_1280"=1280
    I:"stickLongDuralumin;_768"=768
    I:"stickLongDuranium;_1280"=1280
    I:"stickLongEfrine;_1024"=1024
    I:"stickLongElectricalSteel;_768"=768
    I:"stickLongElectrum;_16"=16
    I:"stickLongElectrumFlux;_16"=16
    I:"stickLongElvenElementium;_1024"=1024
    I:"stickLongElvorium;_1024"=1024
    I:"stickLongEnderium;_1024"=1024
    I:"stickLongEnderiumBase;_256"=256
    I:"stickLongEndium;_1024"=1024
    I:"stickLongEnergeticAlloy;_768"=768
    I:"stickLongEthaxium;_1280"=1280
    I:"stickLongEximite;_1024"=1024
    I:"stickLongFierySteel;_1280"=1280
    I:"stickLongFireleaf;_16"=16
    I:"stickLongFlamascusSteel;_1280"=1280
    I:"stickLongFrozenIron;_768"=768
    I:"stickLongGaiaSpirit;_1280"=1280
    I:"stickLongGermanium;_16"=16
    I:"stickLongGildedIron;_768"=768
    I:"stickLongGlowstoneRefined;_768"=768
    I:"stickLongGold;_16"=16
    I:"stickLongGoldInductive;_16"=16
    I:"stickLongHSLASpringSteel;_768"=768
    I:"stickLongHSLASteel;_768"=768
    I:"stickLongHSLATungstenAlloy;_768"=768
    I:"stickLongHSSE;_1280"=1280
    I:"stickLongHSSG;_1024"=1024
    I:"stickLongHSSS;_1280"=1280
    I:"stickLongHaderoth;_1024"=1024
    I:"stickLongHepatizon;_768"=768
    I:"stickLongIgnatius;_768"=768
    I:"stickLongInfinity;_4096"=4096
    I:"stickLongInfuscolium;_768"=768
    I:"stickLongInolashite;_1024"=1024
    I:"stickLongInvar;_768"=768
    I:"stickLongIridium;_1280"=1280
    I:"stickLongIron;_768"=768
    I:"stickLongIronCompressed;_768"=768
    I:"stickLongIronMagnetic;_768"=768
    I:"stickLongIronwood;_16"=16
    I:"stickLongKalendrite;_1024"=1024
    I:"stickLongKanthal;_768"=768
    I:"stickLongKnightmetal;_1024"=1024
    I:"stickLongKreknorite;_1024"=1024
    I:"stickLongLead;_16"=16
    I:"stickLongLemurite;_768"=768
    I:"stickLongLumium;_16"=16
    I:"stickLongMagnalium;_16"=16
    I:"stickLongManasteel;_1024"=1024
    I:"stickLongManganese;_768"=768
    I:"stickLongManyullyn;_1024"=1024
    I:"stickLongMauftrium;_1024"=1024
    I:"stickLongMeteoflameBlackSteel;_1280"=1280
    I:"stickLongMeteoflameBlueSteel;_1280"=1280
    I:"stickLongMeteoflameRedSteel;_1280"=1280
    I:"stickLongMeteoflameSteel;_1280"=1280
    I:"stickLongMeteoricBlackSteel;_768"=768
    I:"stickLongMeteoricBlueSteel;_768"=768
    I:"stickLongMeteoricIron;_768"=768
    I:"stickLongMeteoricRedSteel;_768"=768
    I:"stickLongMeteoricSteel;_768"=768
    I:"stickLongMeteorite;_1024"=1024
    I:"stickLongMeutoite;_768"=768
    I:"stickLongMidasium;_768"=768
    I:"stickLongMithril;_1024"=1024
    I:"stickLongMolybdenum;_768"=768
    I:"stickLongMuspelheimPower;_1024"=1024
    I:"stickLongNaquadah;_1280"=1280
    I:"stickLongNaquadahEnriched;_1280"=1280
    I:"stickLongNaquadria;_1280"=1280
    I:"stickLongNeodymium;_1024"=1024
    I:"stickLongNeodymiumMagnetic;_1024"=1024
    I:"stickLongNetherite;_1280"=1280
    I:"stickLongNetherizedDiamond;_1280"=1280
    I:"stickLongNichrome;_768"=768
    I:"stickLongNickel;_768"=768
    I:"stickLongNiflheimPower;_1024"=1024
    I:"stickLongObsidianRefined;_1024"=1024
    I:"stickLongObsidianSteel;_768"=768
    I:"stickLongOctine;_768"=768
    I:"stickLongOrichalcum;_1024"=1024
    I:"stickLongOriharukon;_768"=768
    I:"stickLongOsmiridium;_1280"=1280
    I:"stickLongOsmiumElemental;_1280"=1280
    I:"stickLongOureclase;_1024"=1024
    I:"stickLongPalladium;_768"=768
    I:"stickLongPigIron;_768"=768
    I:"stickLongPlatinum;_768"=768
    I:"stickLongPlutonium238;_16"=16
    I:"stickLongPlutonium239;_16"=16
    I:"stickLongPlutonium240;_16"=16
    I:"stickLongPlutonium241;_16"=16
    I:"stickLongPlutonium243;_16"=16
    I:"stickLongPlutonium;_16"=16
    I:"stickLongPrometheum;_16"=16
    I:"stickLongPulsatingIron;_768"=768
    I:"stickLongRedSteel;_768"=768
    I:"stickLongRoseGold;_16"=16
    I:"stickLongRubracium;_768"=768
    I:"stickLongSanguinite;_1280"=1280
    I:"stickLongShadowIron;_768"=768
    I:"stickLongShadowSteel;_768"=768
    I:"stickLongSignalum;_16"=16
    I:"stickLongSilver;_16"=16
    I:"stickLongSoularium;_768"=768
    I:"stickLongSpectreIron;_768"=768
    I:"stickLongStainlessSteel;_768"=768
    I:"stickLongSteel;_768"=768
    I:"stickLongSteelGalvanized;_768"=768
    I:"stickLongSteelMagnetic;_768"=768
    I:"stickLongSteeleaf;_16"=16
    I:"stickLongSterlingSilver;_16"=16
    I:"stickLongSunnarium;_256"=256
    I:"stickLongSyrmorite;_16"=16
    I:"stickLongTantalumHafniumCarbide;_768"=768
    I:"stickLongTartarite;_1536"=1536
    I:"stickLongTechnetium;_512"=512
    I:"stickLongTerrasteel;_1280"=1280
    I:"stickLongThaumium;_1024"=1024
    I:"stickLongThorium;_768"=768
    I:"stickLongTin;_16"=16
    I:"stickLongTinAlloy;_16"=16
    I:"stickLongTitanium;_1024"=1024
    I:"stickLongTitaniumAluminide;_1024"=1024
    I:"stickLongTitaniumGold;_1280"=1280
    I:"stickLongTitaniumIridium;_1280"=1280
    I:"stickLongTrinaquadalloy;_1536"=1536
    I:"stickLongTrinitanium;_1280"=1280
    I:"stickLongTrinium;_1280"=1280
    I:"stickLongTritanium;_1536"=1536
    I:"stickLongTungsten;_1024"=1024
    I:"stickLongTungstenCarbide;_1280"=1280
    I:"stickLongTungstenSintered;_1024"=1024
    I:"stickLongTungstensteel;_1280"=1280
    I:"stickLongUltimet;_1024"=1024
    I:"stickLongUranium233;_1024"=1024
    I:"stickLongUranium235;_1024"=1024
    I:"stickLongUranium;_1024"=1024
    I:"stickLongVanadiumSteel;_1024"=1024
    I:"stickLongVibramantium;_4096"=4096
    I:"stickLongVibraniumSilver;_2560"=2560
    I:"stickLongVibraniumSteel;_2816"=2816
    I:"stickLongVibrantAlloy;_768"=768
    I:"stickLongVoidMetal;_1280"=1280
    I:"stickLongVulcanite;_1024"=1024
    I:"stickLongVyroxeres;_1024"=1024
    I:"stickLongWorkersAlloy;_768"=768
    I:"stickLongWroughtIron;_768"=768
    I:"stickLongZirconium;_1024"=1024
}


