# Configuration file

Roll_Bender {
	plateCurvedTinAlloy;_64=64
	plateCurvedCastIron;_256=256
	plateCurvedIron;_256=256
	plateCurvedWroughtIron;_256=256
	plateCurvedMeteoricIron;_256=256
	plateCurvedPigIron;_256=256
	plateCurvedMeteorite;_256=256
	plateCurvedIronCompressed;_256=256
	plateSteel;_768=768
}

