# Configuration file

Rolling_Mill {
	item.minecraft.clay_ball;_32=32
	item.gregtech.gt.multiitem.food;_32=32
	item.gregtech.gt.multiitem.food;_16=16
	blockSolidTechnetium;_4608=4608
	ingotTechnetium;_512=512
	plateCurvedTechnetium;_512=512
	ingotTitanium;_1024=1024
	plateCurvedTitanium;_1024=1024
	ingotVoidMetal;_1280=1280
	nuggetVoidMetal;_143=143
}

