# Configuration file

Rolling_Mill {
	item.minecraft.clay_ball;_32=32
	item.gregtech.gt.multiitem.food;_32=32
	item.gregtech.gt.multiitem.food;_16=16
	ingotSilicon;_256=256
	plateCurvedSilicon;_256=256
	ingotSteel;_768=768
	plateCurvedSteel;_768=768
	ingotPlatinum;_768=768
	plateCurvedPlatinum;_768=768
	ingotStainlessSteel;_768=768
	plateCurvedStainlessSteel;_768=768
	ingotRedAlloy;_16=16
	plateCurvedRedAlloy;_16=16
}

