# Configuration file

Sharpener {
	item.minecraft.flint;_64=64
	block.minecraft.glass_pane;_64=64
	rockGtSkyStone;_1728=1728
	toolHeadRawArrowSkyStone;_6=6
	toolHeadRawSwordSkyStone;_96=96
	toolHeadRawPickaxeSkyStone;_144=144
	toolHeadRawShovelSkyStone;_48=48
	toolHeadRawSpadeSkyStone;_48=48
	toolHeadRawAxeSkyStone;_144=144
	toolHeadRawHoeSkyStone;_96=96
	toolHeadRawSenseSkyStone;_144=144
	toolHeadRawPlowSkyStone;_192=192
	gemFluix;_256=256
	gemNetherQuartz;_1024=1024
	toolHeadRawArrowNetherQuartz;_8=8
	toolHeadRawSwordNetherQuartz;_128=128
	toolHeadRawPickaxeNetherQuartz;_192=192
	toolHeadRawShovelNetherQuartz;_64=64
	toolHeadRawSpadeNetherQuartz;_64=64
	toolHeadRawAxeNetherQuartz;_192=192
	toolHeadRawHoeNetherQuartz;_128=128
	toolHeadRawSenseNetherQuartz;_192=192
	toolHeadRawPlowNetherQuartz;_256=256
	ingotSteel;_768=768
	billetSteel;_512=512
	toolHeadRawArrowSteel;_6=6
	toolHeadRawSawSteel;_96=96
	toolHeadRawChiselSteel;_72=72
	toolHeadRawSwordSteel;_96=96
	toolHeadRawPickaxeSteel;_144=144
	toolHeadRawShovelSteel;_48=48
	toolHeadRawSpadeSteel;_48=48
	toolHeadRawUniversalSpadeSteel;_43=43
	toolHeadRawAxeSteel;_144=144
	toolHeadRawAxeDoubleSteel;_240=240
	toolHeadRawHoeSteel;_96=96
	toolHeadRawSenseSteel;_144=144
	toolHeadRawPlowSteel;_192=192
	plateGemEnderPearl;_512=512
	gemEnderPearl;_512=512
	toolHeadRawArrowEnderPearl;_4=4
	toolHeadRawSawEnderPearl;_64=64
	toolHeadRawChiselEnderPearl;_48=48
	toolHeadRawSwordEnderPearl;_64=64
	toolHeadRawPickaxeEnderPearl;_96=96
	toolHeadRawShovelEnderPearl;_32=32
	toolHeadRawSpadeEnderPearl;_32=32
	toolHeadRawUniversalSpadeEnderPearl;_29=29
	toolHeadRawAxeEnderPearl;_96=96
	toolHeadRawAxeDoubleEnderPearl;_160=160
	toolHeadRawHoeEnderPearl;_64=64
	toolHeadRawSenseEnderPearl;_96=96
	toolHeadRawPlowEnderPearl;_128=128
	ingotRedAlloy;_256=256
	billetRedAlloy;_171=171
	ingotPlastic;_512=512
	billetPlastic;_342=342
	toolHeadRawArrowPlastic;_4=4
	toolHeadRawSwordPlastic;_64=64
	toolHeadRawPickaxePlastic;_96=96
	toolHeadRawShovelPlastic;_32=32
	toolHeadRawSpadePlastic;_32=32
	toolHeadRawAxePlastic;_96=96
	toolHeadRawHoePlastic;_64=64
	toolHeadRawSensePlastic;_96=96
	toolHeadRawPlowPlastic;_128=128
	plateGemDioptase;_768=768
	nuggetSteel;_86=86
	ingotTitanium;_1024=1024
	billetTitanium;_683=683
	toolHeadRawArrowTitanium;_8=8
	toolHeadRawSawTitanium;_128=128
	toolHeadRawChiselTitanium;_96=96
	toolHeadRawSwordTitanium;_128=128
	toolHeadRawPickaxeTitanium;_192=192
	toolHeadRawShovelTitanium;_64=64
	toolHeadRawSpadeTitanium;_64=64
	toolHeadRawUniversalSpadeTitanium;_57=57
	toolHeadRawAxeTitanium;_192=192
	toolHeadRawAxeDoubleTitanium;_320=320
	toolHeadRawHoeTitanium;_128=128
	toolHeadRawSenseTitanium;_192=192
	toolHeadRawPlowTitanium;_256=256
	ingotIron;_768=768
	billetIron;_512=512
	nuggetIron;_86=86
	toolHeadRawArrowIron;_6=6
	toolHeadRawSawIron;_96=96
	toolHeadRawChiselIron;_72=72
	toolHeadRawSwordIron;_96=96
	toolHeadRawPickaxeIron;_144=144
	toolHeadRawShovelIron;_48=48
	toolHeadRawSpadeIron;_48=48
	toolHeadRawUniversalSpadeIron;_43=43
	toolHeadRawAxeIron;_144=144
	toolHeadRawAxeDoubleIron;_240=240
	toolHeadRawHoeIron;_96=96
	toolHeadRawSenseIron;_144=144
	toolHeadRawPlowIron;_192=192
	ingotInfinity;_4096=4096
	billetInfinity;_2731=2731
	toolHeadRawArrowInfinity;_32=32
	toolHeadRawSawInfinity;_512=512
	toolHeadRawChiselInfinity;_384=384
	toolHeadRawSwordInfinity;_512=512
	toolHeadRawPickaxeInfinity;_768=768
	toolHeadRawShovelInfinity;_256=256
	toolHeadRawSpadeInfinity;_256=256
	toolHeadRawUniversalSpadeInfinity;_228=228
	toolHeadRawAxeInfinity;_768=768
	toolHeadRawAxeDoubleInfinity;_1280=1280
	toolHeadRawHoeInfinity;_512=512
	toolHeadRawSenseInfinity;_768=768
	toolHeadRawPlowInfinity;_1024=1024
}

