# Configuration file

Sharpener {
	item.minecraft.flint;_64=64
	block.minecraft.glass_pane;_64=64
	ingotMeteoricIron;_768=768
	billetMeteoricIron;_512=512
	toolHeadRawArrowMeteoricIron;_6=6
	toolHeadRawSawMeteoricIron;_96=96
	toolHeadRawChiselMeteoricIron;_72=72
	toolHeadRawSwordMeteoricIron;_96=96
	toolHeadRawPickaxeMeteoricIron;_144=144
	toolHeadRawShovelMeteoricIron;_48=48
	toolHeadRawSpadeMeteoricIron;_48=48
	toolHeadRawUniversalSpadeMeteoricIron;_43=43
	toolHeadRawAxeMeteoricIron;_144=144
	toolHeadRawAxeDoubleMeteoricIron;_240=240
	toolHeadRawHoeMeteoricIron;_96=96
	toolHeadRawSenseMeteoricIron;_144=144
	toolHeadRawPlowMeteoricIron;_192=192
	rockGtSkyStone;_1728=1728
	toolHeadRawArrowSkyStone;_6=6
	toolHeadRawSwordSkyStone;_96=96
	toolHeadRawPickaxeSkyStone;_144=144
	toolHeadRawShovelSkyStone;_48=48
	toolHeadRawSpadeSkyStone;_48=48
	toolHeadRawAxeSkyStone;_144=144
	toolHeadRawHoeSkyStone;_96=96
	toolHeadRawSenseSkyStone;_144=144
	toolHeadRawPlowSkyStone;_192=192
	ingotMeteoricBlackSteel;_768=768
	billetMeteoricBlackSteel;_512=512
	toolHeadRawArrowMeteoricBlackSteel;_6=6
	toolHeadRawSawMeteoricBlackSteel;_96=96
	toolHeadRawChiselMeteoricBlackSteel;_72=72
	toolHeadRawSwordMeteoricBlackSteel;_96=96
	toolHeadRawPickaxeMeteoricBlackSteel;_144=144
	toolHeadRawShovelMeteoricBlackSteel;_48=48
	toolHeadRawSpadeMeteoricBlackSteel;_48=48
	toolHeadRawUniversalSpadeMeteoricBlackSteel;_43=43
	toolHeadRawAxeMeteoricBlackSteel;_144=144
	toolHeadRawAxeDoubleMeteoricBlackSteel;_240=240
	toolHeadRawHoeMeteoricBlackSteel;_96=96
	toolHeadRawSenseMeteoricBlackSteel;_144=144
	toolHeadRawPlowMeteoricBlackSteel;_192=192
	ingotMeteoricSteel;_768=768
	billetMeteoricSteel;_512=512
	toolHeadRawArrowMeteoricSteel;_6=6
	toolHeadRawSawMeteoricSteel;_96=96
	toolHeadRawChiselMeteoricSteel;_72=72
	toolHeadRawSwordMeteoricSteel;_96=96
	toolHeadRawPickaxeMeteoricSteel;_144=144
	toolHeadRawShovelMeteoricSteel;_48=48
	toolHeadRawSpadeMeteoricSteel;_48=48
	toolHeadRawUniversalSpadeMeteoricSteel;_43=43
	toolHeadRawAxeMeteoricSteel;_144=144
	toolHeadRawAxeDoubleMeteoricSteel;_240=240
	toolHeadRawHoeMeteoricSteel;_96=96
	toolHeadRawSenseMeteoricSteel;_144=144
	toolHeadRawPlowMeteoricSteel;_192=192
	ingotMeteoricBlueSteel;_768=768
	billetMeteoricBlueSteel;_512=512
	toolHeadRawArrowMeteoricBlueSteel;_6=6
	toolHeadRawSawMeteoricBlueSteel;_96=96
	toolHeadRawChiselMeteoricBlueSteel;_72=72
	toolHeadRawSwordMeteoricBlueSteel;_96=96
	toolHeadRawPickaxeMeteoricBlueSteel;_144=144
	toolHeadRawShovelMeteoricBlueSteel;_48=48
	toolHeadRawSpadeMeteoricBlueSteel;_48=48
	toolHeadRawUniversalSpadeMeteoricBlueSteel;_43=43
	toolHeadRawAxeMeteoricBlueSteel;_144=144
	toolHeadRawAxeDoubleMeteoricBlueSteel;_240=240
	toolHeadRawHoeMeteoricBlueSteel;_96=96
	toolHeadRawSenseMeteoricBlueSteel;_144=144
	toolHeadRawPlowMeteoricBlueSteel;_192=192
	ingotMeteoricRedSteel;_768=768
	billetMeteoricRedSteel;_512=512
	toolHeadRawArrowMeteoricRedSteel;_6=6
	toolHeadRawSawMeteoricRedSteel;_96=96
	toolHeadRawChiselMeteoricRedSteel;_72=72
	toolHeadRawSwordMeteoricRedSteel;_96=96
	toolHeadRawPickaxeMeteoricRedSteel;_144=144
	toolHeadRawShovelMeteoricRedSteel;_48=48
	toolHeadRawSpadeMeteoricRedSteel;_48=48
	toolHeadRawUniversalSpadeMeteoricRedSteel;_43=43
	toolHeadRawAxeMeteoricRedSteel;_144=144
	toolHeadRawAxeDoubleMeteoricRedSteel;_240=240
	toolHeadRawHoeMeteoricRedSteel;_96=96
	toolHeadRawSenseMeteoricRedSteel;_144=144
	toolHeadRawPlowMeteoricRedSteel;_192=192
	ingotTitanium;_1024=1024
	billetTitanium;_683=683
	toolHeadRawArrowTitanium;_8=8
	toolHeadRawSawTitanium;_128=128
	toolHeadRawChiselTitanium;_96=96
	toolHeadRawSwordTitanium;_128=128
	toolHeadRawPickaxeTitanium;_192=192
	toolHeadRawShovelTitanium;_64=64
	toolHeadRawSpadeTitanium;_64=64
	toolHeadRawUniversalSpadeTitanium;_57=57
	toolHeadRawAxeTitanium;_192=192
	toolHeadRawAxeDoubleTitanium;_320=320
	toolHeadRawHoeTitanium;_128=128
	toolHeadRawSenseTitanium;_192=192
	toolHeadRawPlowTitanium;_256=256
	ingotVoidMetal;_1280=1280
	nuggetVoidMetal;_143=143
	billetVoidMetal;_854=854
}

