# Configuration file

Sifter {
	block.minecraft.short_grass;_40=40
	block.minecraft.fern;_40=40
	block.minecraft.large_fern;_40=40
	block.minecraft.oak_leaves;_30=30
	block.minecraft.jungle_leaves;_30=30
}

