# Configuration file

Unboxinator {
	item.gregtech.gt.multiitem.randomtools;_32=32
	block.minecraft.mud;_16=16
	item.gregtech.gt.block.diggable;_16=16
	block.minecraft.clay;_16=16
	item.gregtech.gt.multiitem.food;_16=16
	crateGtPlateOak;_16=16
	crateGt64PlateOak;_16=16
	blockPlateOak;_16=16
	crateGtPlateSpruce;_16=16
	crateGt64PlateSpruce;_16=16
	blockPlateSpruce;_16=16
	crateGtPlateBirch;_16=16
	crateGt64PlateBirch;_16=16
	blockPlateBirch;_16=16
	crateGtPlateJunglewood;_16=16
	crateGt64PlateJunglewood;_16=16
	blockPlateJunglewood;_16=16
	crateGtPlateAcacia;_16=16
	crateGt64PlateAcacia;_16=16
	blockPlateAcacia;_16=16
	crateGtPlateDarkOak;_16=16
	crateGt64PlateDarkOak;_16=16
	blockPlateDarkOak;_16=16
	crateGtPlateSakura;_16=16
	crateGt64PlateSakura;_16=16
	blockPlateSakura;_16=16
	crateGtPlateBamboo;_16=16
	crateGt64PlateBamboo;_16=16
	blockPlateBamboo;_16=16
	crateGtPlateMangrove;_16=16
	crateGt64PlateMangrove;_16=16
	blockPlateMangrove;_16=16
	crateGtPlateCrimsonwood;_16=16
	crateGt64PlateCrimsonwood;_16=16
	blockPlateCrimsonwood;_16=16
	crateGtPlateWarpedwood;_16=16
	crateGt64PlateWarpedwood;_16=16
	blockPlateWarpedwood;_16=16
	crateGtPlateWood;_16=16
	crateGt64PlateWood;_16=16
	blockPlateWood;_16=16
	crateGtPlateWoodRubber;_16=16
	crateGt64PlateWoodRubber;_16=16
	blockPlateWoodRubber;_16=16
	crateGtPlateMaple;_16=16
	crateGt64PlateMaple;_16=16
	blockPlateMaple;_16=16
	crateGtPlateWillow;_16=16
	crateGt64PlateWillow;_16=16
	blockPlateWillow;_16=16
	crateGtPlateBlueMahoe;_16=16
	crateGt64PlateBlueMahoe;_16=16
	blockPlateBlueMahoe;_16=16
	crateGtPlateHazel;_16=16
	crateGt64PlateHazel;_16=16
	blockPlateHazel;_16=16
	crateGtPlateCinnamonwood;_16=16
	crateGt64PlateCinnamonwood;_16=16
	blockPlateCinnamonwood;_16=16
	crateGtPlateCoconutwood;_16=16
	crateGt64PlateCoconutwood;_16=16
	blockPlateCoconutwood;_16=16
	crateGtPlateRainbowood;_16=16
	crateGt64PlateRainbowood;_16=16
	blockPlateRainbowood;_16=16
	crateGtPlateBlueSpruce;_16=16
	crateGt64PlateBlueSpruce;_16=16
	blockPlateBlueSpruce;_16=16
	crateGtPlateWoodCompressed;_16=16
	crateGt64PlateWoodCompressed;_16=16
	blockPlateWoodCompressed;_16=16
	crateGtPlateWoodTreated;_16=16
	crateGt64PlateWoodTreated;_16=16
	blockPlateWoodTreated;_16=16
	crateGtPlateWoodDead;_16=16
	crateGt64PlateWoodDead;_16=16
	blockPlateWoodDead;_16=16
	crateGtPlateWoodRotten;_16=16
	crateGt64PlateWoodRotten;_16=16
	blockPlateWoodRotten;_16=16
	crateGtPlateWoodMossy;_16=16
	crateGt64PlateWoodMossy;_16=16
	blockPlateWoodMossy;_16=16
	crateGtPlateWoodFrozen;_16=16
	crateGt64PlateWoodFrozen;_16=16
	blockPlateWoodFrozen;_16=16
	crateGtPlatePeanutWood;_16=16
	crateGtPlateWeedwood;_16=16
	crateGtPlateLivingwood;_16=16
	crateGtPlateDreamwood;_16=16
	crateGtPlateSkyroot;_16=16
	crateGtPlateGreatwood;_16=16
	crateGtPlateSilverwood;_16=16
	crateGtPlateShimmerwood;_16=16
	crateGtPlateTowerwood;_16=16
	crateGtPlateWitchwood;_16=16
	crateGtPlateOgrewood;_16=16
	crateGtPlateWyvernwood;_16=16
	crateGtPlateAspen;_16=16
	crateGtPlateDouglasFir;_16=16
	crateGtPlateSycamore;_16=16
	crateGtPlateWhiteCedar;_16=16
	crateGtPlateWhiteElm;_16=16
	crateGtPlateThorntree;_16=16
	crateGtPlateSilverPine;_16=16
	crateGtPlateAlder;_16=16
	crateGtPlateHawthorn;_16=16
	crateGtPlateRowan;_16=16
	crateGtPlateAutumnwood;_16=16
	crateGtPlatePine;_16=16
	crateGtPlateCypress;_16=16
	crateGtPlateFir;_16=16
	crateGtPlateJapaneseMaple;_16=16
	crateGtPlateRainbowEucalyptus;_16=16
	crateGtPlateRedwood;_16=16
	crateGtPlateBalsa;_16=16
	crateGtPlateBaobab;_16=16
	crateGtPlateCherrywood;_16=16
	crateGtPlateChestnutwood;_16=16
	crateGtPlateCitruswood;_16=16
	crateGtPlateCocobolowood;_16=16
	crateGtPlateEbony;_16=16
	crateGtPlateGiganteumwood;_16=16
	crateGtPlateGreenheart;_16=16
	crateGtPlateIpe;_16=16
	crateGtPlateKapok;_16=16
	crateGtPlateLarch;_16=16
	crateGtPlateLimewood;_16=16
	crateGtPlateMahoe;_16=16
	crateGtPlateMahogany;_16=16
	crateGtPlatePadauk;_16=16
	crateGtPlatePalm;_16=16
	crateGtPlatePapayawood;_16=16
	crateGtPlatePlumwood;_16=16
	crateGtPlatePoplar;_16=16
	crateGtPlateSequoia;_16=16
	crateGtPlateTeak;_16=16
	crateGtPlateWalnutwood;_16=16
	crateGtPlateWenge;_16=16
	crateGtPlateZebrawood;_16=16
	crateGtPlateDarkwood;_16=16
	crateGtPlateEtherealwood;_16=16
	crateGtPlateGoldwood;_16=16
	crateGtPlateHellbark;_16=16
	crateGtPlateJacaranda;_16=16
	crateGtPlateSacredOak;_16=16
	crateGtPlateMagicwood;_16=16
	crateGtPlateApplewood;_16=16
	crateGtPlateAshwood;_16=16
	crateGtPlateBeech;_16=16
	crateGtPlateBoxwood;_16=16
	crateGtPlateBrazilwood;_16=16
	crateGtPlateButternutwood;_16=16
	crateGtPlateCedar;_16=16
	crateGtPlateElderwood;_16=16
	crateGtPlateElm;_16=16
	crateGtPlateEucalyptus;_16=16
	crateGtPlateFigwood;_16=16
	crateGtPlateGingko;_16=16
	crateGtPlateHemlock;_16=16
	crateGtPlateHickory;_16=16
	crateGtPlateHolly;_16=16
	crateGtPlateHornbeam;_16=16
	crateGtPlateIroko;_16=16
	crateGtPlateLocust;_16=16
	crateGtPlateLogwood;_16=16
	crateGtPlateMaclura;_16=16
	crateGtPlateOlivewood;_16=16
	crateGtPlatePearwood;_16=16
	crateGtPlatePinkIvory;_16=16
	crateGtPlatePurpleheart;_16=16
	crateGtPlateRosewood;_16=16
	crateGtPlateSweetgum;_16=16
	crateGtPlateSyzgium;_16=16
	crateGtPlateWhitebeam;_16=16
	crateGtPlateYew;_16=16
	crateGtPlateWoodScorched;_16=16
	crateGtPlateWoodVarnished;_16=16
	crateGtPlateWoodTainted;_16=16
	crateGtPlateWoodBleached;_16=16
	crateGtPlateFoxfirewood;_16=16
	crateGt64PlatePeanutWood;_16=16
	crateGt64PlateWeedwood;_16=16
	crateGt64PlateLivingwood;_16=16
	crateGt64PlateDreamwood;_16=16
	crateGt64PlateSkyroot;_16=16
	crateGt64PlateGreatwood;_16=16
	crateGt64PlateSilverwood;_16=16
	crateGt64PlateShimmerwood;_16=16
	crateGt64PlateTowerwood;_16=16
	crateGt64PlateWitchwood;_16=16
	crateGt64PlateOgrewood;_16=16
	crateGt64PlateWyvernwood;_16=16
	crateGt64PlateAspen;_16=16
	crateGt64PlateDouglasFir;_16=16
	crateGt64PlateSycamore;_16=16
	crateGt64PlateWhiteCedar;_16=16
	crateGt64PlateWhiteElm;_16=16
	crateGt64PlateThorntree;_16=16
	crateGt64PlateSilverPine;_16=16
	crateGt64PlateAlder;_16=16
	crateGt64PlateHawthorn;_16=16
	crateGt64PlateRowan;_16=16
	crateGt64PlateAutumnwood;_16=16
	crateGt64PlatePine;_16=16
	crateGt64PlateCypress;_16=16
	crateGt64PlateFir;_16=16
	crateGt64PlateJapaneseMaple;_16=16
	crateGt64PlateRainbowEucalyptus;_16=16
	crateGt64PlateRedwood;_16=16
	crateGt64PlateBalsa;_16=16
	crateGt64PlateBaobab;_16=16
	crateGt64PlateCherrywood;_16=16
	crateGt64PlateChestnutwood;_16=16
	crateGt64PlateCitruswood;_16=16
	crateGt64PlateCocobolowood;_16=16
	crateGt64PlateEbony;_16=16
	crateGt64PlateGiganteumwood;_16=16
	crateGt64PlateGreenheart;_16=16
	crateGt64PlateIpe;_16=16
	crateGt64PlateKapok;_16=16
	crateGt64PlateLarch;_16=16
	crateGt64PlateLimewood;_16=16
	crateGt64PlateMahoe;_16=16
	crateGt64PlateMahogany;_16=16
	crateGt64PlatePadauk;_16=16
	crateGt64PlatePalm;_16=16
	crateGt64PlatePapayawood;_16=16
	crateGt64PlatePlumwood;_16=16
	crateGt64PlatePoplar;_16=16
	crateGt64PlateSequoia;_16=16
	crateGt64PlateTeak;_16=16
	crateGt64PlateWalnutwood;_16=16
	crateGt64PlateWenge;_16=16
	crateGt64PlateZebrawood;_16=16
	crateGt64PlateDarkwood;_16=16
	crateGt64PlateEtherealwood;_16=16
	crateGt64PlateGoldwood;_16=16
	crateGt64PlateHellbark;_16=16
	crateGt64PlateJacaranda;_16=16
	crateGt64PlateSacredOak;_16=16
	crateGt64PlateMagicwood;_16=16
	crateGt64PlateApplewood;_16=16
	crateGt64PlateAshwood;_16=16
	crateGt64PlateBeech;_16=16
	crateGt64PlateBoxwood;_16=16
	crateGt64PlateBrazilwood;_16=16
	crateGt64PlateButternutwood;_16=16
	crateGt64PlateCedar;_16=16
	crateGt64PlateElderwood;_16=16
	crateGt64PlateElm;_16=16
	crateGt64PlateEucalyptus;_16=16
	crateGt64PlateFigwood;_16=16
	crateGt64PlateGingko;_16=16
	crateGt64PlateHemlock;_16=16
	crateGt64PlateHickory;_16=16
	crateGt64PlateHolly;_16=16
	crateGt64PlateHornbeam;_16=16
	crateGt64PlateIroko;_16=16
	crateGt64PlateLocust;_16=16
	crateGt64PlateLogwood;_16=16
	crateGt64PlateMaclura;_16=16
	crateGt64PlateOlivewood;_16=16
	crateGt64PlatePearwood;_16=16
	crateGt64PlatePinkIvory;_16=16
	crateGt64PlatePurpleheart;_16=16
	crateGt64PlateRosewood;_16=16
	crateGt64PlateSweetgum;_16=16
	crateGt64PlateSyzgium;_16=16
	crateGt64PlateWhitebeam;_16=16
	crateGt64PlateYew;_16=16
	crateGt64PlateWoodScorched;_16=16
	crateGt64PlateWoodVarnished;_16=16
	crateGt64PlateWoodTainted;_16=16
	crateGt64PlateWoodBleached;_16=16
	crateGt64PlateFoxfirewood;_16=16
	blockPlatePeanutWood;_16=16
	blockPlateWeedwood;_16=16
	blockPlateLivingwood;_16=16
	blockPlateDreamwood;_16=16
	blockPlateSkyroot;_16=16
	blockPlateGreatwood;_16=16
	blockPlateSilverwood;_16=16
	blockPlateShimmerwood;_16=16
	blockPlateTowerwood;_16=16
	blockPlateWitchwood;_16=16
	blockPlateOgrewood;_16=16
	blockPlateWyvernwood;_16=16
	blockPlateAspen;_16=16
	blockPlateDouglasFir;_16=16
	blockPlateSycamore;_16=16
	blockPlateWhiteCedar;_16=16
	blockPlateWhiteElm;_16=16
	blockPlateThorntree;_16=16
	blockPlateSilverPine;_16=16
	blockPlateAlder;_16=16
	blockPlateHawthorn;_16=16
	blockPlateRowan;_16=16
	blockPlateAutumnwood;_16=16
	blockPlatePine;_16=16
	blockPlateCypress;_16=16
	blockPlateFir;_16=16
	blockPlateJapaneseMaple;_16=16
	blockPlateRainbowEucalyptus;_16=16
	blockPlateRedwood;_16=16
	blockPlateBalsa;_16=16
	blockPlateBaobab;_16=16
	blockPlateCherrywood;_16=16
	blockPlateChestnutwood;_16=16
	blockPlateCitruswood;_16=16
	blockPlateCocobolowood;_16=16
	blockPlateEbony;_16=16
	blockPlateGiganteumwood;_16=16
	blockPlateGreenheart;_16=16
	blockPlateIpe;_16=16
	blockPlateKapok;_16=16
	blockPlateLarch;_16=16
	blockPlateLimewood;_16=16
	blockPlateMahoe;_16=16
	blockPlateMahogany;_16=16
	blockPlatePadauk;_16=16
	blockPlatePalm;_16=16
	blockPlatePapayawood;_16=16
	blockPlatePlumwood;_16=16
	blockPlatePoplar;_16=16
	blockPlateSequoia;_16=16
	blockPlateTeak;_16=16
	blockPlateWalnutwood;_16=16
	blockPlateWenge;_16=16
	blockPlateZebrawood;_16=16
	blockPlateDarkwood;_16=16
	blockPlateEtherealwood;_16=16
	blockPlateGoldwood;_16=16
	blockPlateHellbark;_16=16
	blockPlateJacaranda;_16=16
	blockPlateSacredOak;_16=16
	blockPlateMagicwood;_16=16
	blockPlateApplewood;_16=16
	blockPlateAshwood;_16=16
	blockPlateBeech;_16=16
	blockPlateBoxwood;_16=16
	blockPlateBrazilwood;_16=16
	blockPlateButternutwood;_16=16
	blockPlateCedar;_16=16
	blockPlateElderwood;_16=16
	blockPlateElm;_16=16
	blockPlateEucalyptus;_16=16
	blockPlateFigwood;_16=16
	blockPlateGingko;_16=16
	blockPlateHemlock;_16=16
	blockPlateHickory;_16=16
	blockPlateHolly;_16=16
	blockPlateHornbeam;_16=16
	blockPlateIroko;_16=16
	blockPlateLocust;_16=16
	blockPlateLogwood;_16=16
	blockPlateMaclura;_16=16
	blockPlateOlivewood;_16=16
	blockPlatePearwood;_16=16
	blockPlatePinkIvory;_16=16
	blockPlatePurpleheart;_16=16
	blockPlateRosewood;_16=16
	blockPlateSweetgum;_16=16
	blockPlateSyzgium;_16=16
	blockPlateWhitebeam;_16=16
	blockPlateYew;_16=16
	blockPlateWoodScorched;_16=16
	blockPlateWoodVarnished;_16=16
	blockPlateWoodTainted;_16=16
	blockPlateWoodBleached;_16=16
	blockPlateFoxfirewood;_16=16
	item.minecraft.chest_minecart;_16=16
	item.minecraft.furnace_minecart;_16=16
	item.minecraft.hopper_minecart;_16=16
	item.minecraft.tnt_minecart;_16=16
	item.minecraft.wooden_sword;_16=16
	item.minecraft.stone_sword;_16=16
	item.minecraft.iron_sword;_16=16
	item.minecraft.golden_sword;_16=16
	item.minecraft.diamond_sword;_16=16
	item.minecraft.wooden_pickaxe;_16=16
	item.minecraft.stone_pickaxe;_16=16
	item.minecraft.iron_pickaxe;_16=16
	item.minecraft.golden_pickaxe;_16=16
	item.minecraft.diamond_pickaxe;_16=16
	item.minecraft.wooden_shovel;_16=16
	item.minecraft.stone_shovel;_16=16
	item.minecraft.iron_shovel;_16=16
	item.minecraft.golden_shovel;_16=16
	item.minecraft.diamond_shovel;_16=16
	item.minecraft.wooden_axe;_16=16
	item.minecraft.stone_axe;_16=16
	item.minecraft.iron_axe;_16=16
	item.minecraft.golden_axe;_16=16
	item.minecraft.diamond_axe;_16=16
	item.minecraft.wooden_hoe;_16=16
	item.minecraft.stone_hoe;_16=16
	item.minecraft.iron_hoe;_16=16
	item.minecraft.golden_hoe;_16=16
	item.minecraft.diamond_hoe;_16=16
	block.minecraft.bookshelf;_16=16
	block.minecraft.hay_block;_16=16
	item.gregtech.gt.block.bale.grass;_16=16
	item.gregtech.gt.block.bale.crop;_16=16
	crateGtIngotVibrantAlloy;_16=16
	crateGt64IngotVibrantAlloy;_16=16
	blockIngotVibrantAlloy;_16=16
	ingotVibrantAlloy;_16=16
	billetVibrantAlloy;_16=16
	ingotRutile;_16=16
	billetRutile;_16=16
	crateGtIngotRutile;_16=16
	crateGt64IngotRutile;_16=16
	blockIngotRutile;_16=16
	ingotCerium;_16=16
	billetCerium;_16=16
	crateGtIngotCerium;_16=16
	crateGt64IngotCerium;_16=16
	blockIngotCerium;_16=16
	dustSmallBlizz;_16=16
	dustTinyBlizz;_16=16
	dustBlizz;_16=16
	blockDustBlizz;_16=16
	dustWaxAmnesic;_16=16
	dustTinyWaxAmnesic;_16=16
	dustSmallWaxAmnesic;_16=16
	blockDustWaxAmnesic;_16=16
	crateGtRawIron;_16=16
	crateGt64RawIron;_16=16
	blockRawIron;_16=16
	crateGtIngotIron;_16=16
	crateGt64IngotIron;_16=16
	blockIngotIron;_16=16
	crateGtIngotSoularium;_16=16
	crateGt64IngotSoularium;_16=16
	blockIngotSoularium;_16=16
	ingotSoularium;_16=16
	billetSoularium;_16=16
	crateGtIngotSaltedButter;_16=16
	crateGt64IngotSaltedButter;_16=16
	blockIngotSaltedButter;_16=16
	ingotSaltedButter;_16=16
	billetSaltedButter;_16=16
	crateGtRawLignite;_16=16
	crateGt64RawLignite;_16=16
	blockRawLignite;_16=16
}

