# Configuration file

Welding_Machine {
	plateLead;item.gregapi.gt.integrated_circuit;_256=256
	plateBronze;item.gregapi.gt.integrated_circuit;_256=256
	plateSteel;item.gregapi.gt.integrated_circuit;_256=256
	plateSteelGalvanized;item.gregapi.gt.integrated_circuit;_256=256
	plateStainlessSteel;item.gregapi.gt.integrated_circuit;_256=256
	plateInvar;item.gregapi.gt.integrated_circuit;_256=256
	plateTitanium;item.gregapi.gt.integrated_circuit;_256=256
	plateTungstensteel;item.gregapi.gt.integrated_circuit;_256=256
	plateTungsten;item.gregapi.gt.integrated_circuit;_256=256
	plateTantalumHafniumCarbide;item.gregapi.gt.integrated_circuit;_256=256
	plateAdamantium;item.gregapi.gt.integrated_circuit;_256=256
	plateDenseLead;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseBronze;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseSteel;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseSteelGalvanized;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseStainlessSteel;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseInvar;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseTitanium;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseTungstensteel;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseTungsten;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseTantalumHafniumCarbide;item.gregapi.gt.integrated_circuit;_512=512
	plateDenseAdamantium;item.gregapi.gt.integrated_circuit;_512=512
	stickWood;plateBrass;plateIron;_200=200
	item.thaumaturge.mechanism_simple;block.minecraft.piston;plateThaumium;_200=200
	block.thaumaturge.tube_valve;plankGreatwood;block.thaumaturge.tube;plateIron;_200=200
	block.thaumaturge.alchemical_construct;item.thaumaturge.primordial_pearl;ingotVoidMetal;_200=200
	plateBrass;plateGlass;item.thaumaturge.mechanism_simple;block.minecraft.comparator;_200=200
	casingSmallTechnetium;item.gregapi.gt.integrated_circuit;_128=128
	plateAluminium;stickLongAluminium;_128=128
	plateAluminium;stickAluminium;_128=128
	casingSmallTitanium;item.gregapi.gt.integrated_circuit;_256=256
	ingotVoidMetal;item.gregapi.gt.integrated_circuit;_640=640
	ingotVoidMetal;item.gregapi.gt.integrated_circuit;_960=960
	ingotVoidMetal;item.gregapi.gt.integrated_circuit;_1280=1280
	ingotVoidMetal;item.gregapi.gt.integrated_circuit;_1600=1600
	ingotVoidMetal;item.gregapi.gt.integrated_circuit;_2880=2880
}

