# Configuration file

wiremill {
    I:"ingotAluminium;_16"=16
    I:"ingotAnnealedCopper;_16"=16
    I:"ingotBlueAlloy;_16"=16
    I:"ingotCarborundum;_512"=512
    I:"ingotConstantan;_256"=256
    I:"ingotCopper;_16"=16
    I:"ingotEfrine;_512"=512
    I:"ingotElectrotineAlloy;_16"=16
    I:"ingotElectrum;_16"=16
    I:"ingotGold;_16"=16
    I:"ingotHSLASteel;_384"=384
    I:"ingotIridium;_640"=640
    I:"ingotKanthal;_384"=384
    I:"ingotLead;_16"=16
    I:"ingotLumium;_16"=16
    I:"ingotNaquadah;_640"=640
    I:"ingotNetherite;_640"=640
    I:"ingotNichrome;_384"=384
    I:"ingotNiobiumTitanium;_128"=128
    I:"ingotOsmiridium;_640"=640
    I:"ingotOsmiumElemental;_640"=640
    I:"ingotPlatinum;_384"=384
    I:"ingotRedAlloy;_16"=16
    I:"ingotSignalum;_16"=16
    I:"ingotSilver;_16"=16
    I:"ingotSteel;_384"=384
    I:"ingotTin;_16"=16
    I:"ingotTungsten;_512"=512
    I:"ingotTungstensteel;_640"=640
    I:"ingotVanadiumGallium;_128"=128
    I:"ingotYttriumBariumCuprate;_128"=128
    I:"plateAnnealedCopper;_128"=128
    I:"plateCastIron;_128"=128
    I:"plateCopper;_128"=128
    I:"plateGemEnori;_128"=128
    I:"plateGold;_128"=128
    I:"plateIron;_128"=128
    I:"plateIronCompressed;_128"=128
    I:"plateKnightmetal;_128"=128
    I:"plateMeteoricIron;_128"=128
    I:"plateMeteoricSteel;_128"=128
    I:"plateMeteorite;_128"=128
    I:"platePigIron;_128"=128
    I:"plateSteel;_128"=128
    I:"plateTin;_128"=128
    I:"plateWroughtIron;_128"=128
    I:"stickAbyssalnite;_256"=256
    I:"stickAdamantine;_384"=384
    I:"stickAdamantite;_256"=256
    I:"stickAdamantium;_384"=384
    I:"stickAlduorite;_192"=192
    I:"stickAluminium;_8"=8
    I:"stickAluminiumAlloy;_192"=192
    I:"stickAluminiumBrass;_8"=8
    I:"stickAlumite;_256"=256
    I:"stickAmericium241;_192"=192
    I:"stickAmericium242;_192"=192
    I:"stickAmericium;_192"=192
    I:"stickAmordrine;_256"=256
    I:"stickAngmallen;_192"=192
    I:"stickAnnealedCopper;_8"=8
    I:"stickAntimony;_8"=8
    I:"stickArdite;_256"=256
    I:"stickAredrite;_256"=256
    I:"stickArsenicBronze;_8"=8
    I:"stickArsenicCopper;_8"=8
    I:"stickAstralSilver;_192"=192
    I:"stickAtlarus;_320"=320
    I:"stickBedrockHSLAAlloy;_384"=384
    I:"stickBedrockium;_64"=64
    I:"stickBeryllium;_192"=192
    I:"stickBismuth;_8"=8
    I:"stickBismuthBronze;_8"=8
    I:"stickBlackBronze;_8"=8
    I:"stickBlackSteel;_192"=192
    I:"stickBlueAlloy;_8"=8
    I:"stickBlueSteel;_192"=192
    I:"stickBrass;_8"=8
    I:"stickBronze;_8"=8
    I:"stickCarborundum;_256"=256
    I:"stickCarmot;_8"=8
    I:"stickCastIron;_192"=192
    I:"stickCdInAgAlloy;_64"=64
    I:"stickCelenegil;_256"=256
    I:"stickCeruclase;_192"=192
    I:"stickChromium;_256"=256
    I:"stickChromiumDioxide;_256"=256
    I:"stickCobalt60;_256"=256
    I:"stickCobalt;_256"=256
    I:"stickCobaltBrass;_8"=8
    I:"stickConductiveIron;_192"=192
    I:"stickConstantan;_128"=128
    I:"stickCopper;_8"=8
    I:"stickCoralium;_256"=256
    I:"stickCosmicNeutronium;_704"=704
    I:"stickCrystalMatrix;_320"=320
    I:"stickDamascusSteel;_192"=192
    I:"stickDarkIron;_256"=256
    I:"stickDarkThaumium;_256"=256
    I:"stickDeepIron;_192"=192
    I:"stickDesh;_256"=256
    I:"stickDesichalkos;_320"=320
    I:"stickDraconium;_320"=320
    I:"stickDraconiumAwakened;_384"=384
    I:"stickDreadium;_320"=320
    I:"stickDuralumin;_192"=192
    I:"stickDuranium;_320"=320
    I:"stickEfrine;_256"=256
    I:"stickElectricalSteel;_192"=192
    I:"stickElectrotineAlloy;_8"=8
    I:"stickElectrum;_8"=8
    I:"stickElectrumFlux;_8"=8
    I:"stickElvenElementium;_256"=256
    I:"stickElvorium;_256"=256
    I:"stickEnderium;_256"=256
    I:"stickEnderiumBase;_64"=64
    I:"stickEndium;_256"=256
    I:"stickEnergeticAlloy;_192"=192
    I:"stickEthaxium;_320"=320
    I:"stickEximite;_256"=256
    I:"stickFierySteel;_320"=320
    I:"stickFireleaf;_8"=8
    I:"stickFlamascusSteel;_320"=320
    I:"stickFrozenIron;_192"=192
    I:"stickGaiaSpirit;_320"=320
    I:"stickGermanium;_8"=8
    I:"stickGlowstoneRefined;_192"=192
    I:"stickGold;_8"=8
    I:"stickGoldInductive;_8"=8
    I:"stickHSLASpringSteel;_192"=192
    I:"stickHSLASteel;_192"=192
    I:"stickHSLATungstenAlloy;_192"=192
    I:"stickHSSE;_320"=320
    I:"stickHSSG;_256"=256
    I:"stickHSSS;_320"=320
    I:"stickHaderoth;_256"=256
    I:"stickHepatizon;_192"=192
    I:"stickIgnatius;_192"=192
    I:"stickInfinity;_1024"=1024
    I:"stickInfuscolium;_192"=192
    I:"stickInolashite;_256"=256
    I:"stickInvar;_192"=192
    I:"stickIridium;_320"=320
    I:"stickIron;_192"=192
    I:"stickIronCompressed;_192"=192
    I:"stickIronMagnetic;_192"=192
    I:"stickIronwood;_8"=8
    I:"stickKalendrite;_256"=256
    I:"stickKanthal;_192"=192
    I:"stickKnightmetal;_256"=256
    I:"stickKreknorite;_256"=256
    I:"stickLead;_8"=8
    I:"stickLemurite;_192"=192
    I:"stickLumium;_8"=8
    I:"stickMagnalium;_8"=8
    I:"stickManasteel;_256"=256
    I:"stickManganese;_192"=192
    I:"stickManyullyn;_256"=256
    I:"stickMauftrium;_256"=256
    I:"stickMeteoflameBlackSteel;_320"=320
    I:"stickMeteoflameBlueSteel;_320"=320
    I:"stickMeteoflameRedSteel;_320"=320
    I:"stickMeteoflameSteel;_320"=320
    I:"stickMeteoricBlackSteel;_192"=192
    I:"stickMeteoricBlueSteel;_192"=192
    I:"stickMeteoricIron;_192"=192
    I:"stickMeteoricRedSteel;_192"=192
    I:"stickMeteoricSteel;_192"=192
    I:"stickMeteorite;_256"=256
    I:"stickMeutoite;_192"=192
    I:"stickMidasium;_192"=192
    I:"stickMingrade;_8"=8
    I:"stickMithril;_256"=256
    I:"stickMolybdenum;_192"=192
    I:"stickMuspelheimPower;_256"=256
    I:"stickNaquadah;_320"=320
    I:"stickNaquadahEnriched;_320"=320
    I:"stickNaquadria;_320"=320
    I:"stickNeodymium;_256"=256
    I:"stickNeodymiumMagnetic;_256"=256
    I:"stickNetherite;_320"=320
    I:"stickNichrome;_192"=192
    I:"stickNickel;_192"=192
    I:"stickNiflheimPower;_256"=256
    I:"stickObsidianRefined;_256"=256
    I:"stickObsidianSteel;_192"=192
    I:"stickOctine;_192"=192
    I:"stickOrichalcum;_256"=256
    I:"stickOriharukon;_192"=192
    I:"stickOsmiridium;_320"=320
    I:"stickOsmiumElemental;_320"=320
    I:"stickOureclase;_256"=256
    I:"stickPalladium;_192"=192
    I:"stickPigIron;_192"=192
    I:"stickPlatinum;_192"=192
    I:"stickPlutonium238;_8"=8
    I:"stickPlutonium239;_8"=8
    I:"stickPlutonium240;_8"=8
    I:"stickPlutonium241;_8"=8
    I:"stickPlutonium243;_8"=8
    I:"stickPlutonium;_8"=8
    I:"stickPrometheum;_8"=8
    I:"stickPulsatingIron;_192"=192
    I:"stickPurpleAlloy;_8"=8
    I:"stickRedAlloy;_8"=8
    I:"stickRedSteel;_192"=192
    I:"stickRoseGold;_8"=8
    I:"stickRubracium;_192"=192
    I:"stickSanguinite;_320"=320
    I:"stickShadowIron;_192"=192
    I:"stickShadowSteel;_192"=192
    I:"stickSignalum;_8"=8
    I:"stickSilver;_8"=8
    I:"stickSolderingAlloy;_8"=8
    I:"stickSoularium;_192"=192
    I:"stickSpectreIron;_192"=192
    I:"stickStainlessSteel;_192"=192
    I:"stickSteel;_192"=192
    I:"stickSteelMagnetic;_192"=192
    I:"stickSteeleaf;_8"=8
    I:"stickSterlingSilver;_8"=8
    I:"stickSunnarium;_64"=64
    I:"stickSyrmorite;_8"=8
    I:"stickTantalumHafniumCarbide;_192"=192
    I:"stickTartarite;_384"=384
    I:"stickTechnetium;_128"=128
    I:"stickTerrasteel;_320"=320
    I:"stickThaumium;_256"=256
    I:"stickThorium;_192"=192
    I:"stickTin;_8"=8
    I:"stickTinAlloy;_8"=8
    I:"stickTitanium;_256"=256
    I:"stickTitaniumAluminide;_256"=256
    I:"stickTitaniumGold;_320"=320
    I:"stickTitaniumIridium;_320"=320
    I:"stickTrinaquadalloy;_384"=384
    I:"stickTrinitanium;_320"=320
    I:"stickTrinium;_320"=320
    I:"stickTritanium;_384"=384
    I:"stickTungsten;_256"=256
    I:"stickTungstenCarbide;_320"=320
    I:"stickTungstenSintered;_256"=256
    I:"stickTungstensteel;_320"=320
    I:"stickUltimet;_256"=256
    I:"stickUranium233;_256"=256
    I:"stickUranium235;_256"=256
    I:"stickUranium;_256"=256
    I:"stickVanadiumSteel;_256"=256
    I:"stickVibramantium;_1024"=1024
    I:"stickVibraniumSilver;_640"=640
    I:"stickVibraniumSteel;_704"=704
    I:"stickVibrantAlloy;_192"=192
    I:"stickVoidMetal;_320"=320
    I:"stickVulcanite;_256"=256
    I:"stickVyroxeres;_256"=256
    I:"stickWorkersAlloy;_192"=192
    I:"stickWroughtIron;_192"=192
    I:"stickZirconium;_256"=256
}


