# Configuration file

general {
    # Effective only if Thaumcraft is installed. Change this if some other mod adds own clusters (max value is 63); also please, edit and spread modified .lang files
    I:elementiumClusterMeta=22

    # Set this to true to enable ESM
    B:enableElvenStory=false

    # Set this to true to enable MMO mode (requires ESM)
    B:enableMMO=false

    # Gaia hp and bg boss bar variant (from default texture pairs)
    I:gaiaBarOffset=1

    # Gaia name color on boss bar
    I:gaiaNameColor=54783

    # Toggles hooks to vanilla health system. Set this to false if you have any issues with other systems
    B:hpHooks=true

    # Set this to false to disable override of CoFHCore hook to entity collisions. This will make small entities to fall through floating islands
    B:overrideCoFHCollisionCheck=true
}


