# Configuration file

algae {
    B:enabled=true
    I:distance=1000
    D:hOffset=0.1
    D:size=1.0
    I:population=48
    I:biomes <
        0
        7
        10
        11
        24
        100
        101
        127
        128
        205
        9118
     >
}


blocks {
    S:dirtWhitelist <
        net.minecraft.block.BlockDirt
        net.aetherteam.aether.blocks.natural.BlockAetherDirt
        com.gildedgames.the_aether.blocks.natural.BlockAetherDirt
        biomesoplenty.common.blocks.BlockNewDirt
        enhancedbiomes.blocks.BlockSoilEB
        ganymedes01.etfuturum.blocks.BlockCoarseDirt
        galaxyspace.BarnardsSystem.planets.barnardaC.block.BarnardaCBlockDirt
        com.bioxx.tfc.Blocks.Terrain.BlockDirt
        thebetweenlands.blocks.terrain.BlockSlimyDirt
        thebetweenlands.blocks.terrain.BlockSwampDirt
        lotr.common.block.LOTRBlockMud
        tconstruct.world.blocks.SoilBlock
        com.emoniph.witchery.blocks.BlockPitDirt
     >
    S:dirtBlacklist <
     >
    S:grassWhitelist <
        net.minecraft.block.BlockGrass
        com.shinoow.abyssalcraft.common.blocks.BlockDarklandsgrass
        com.shinoow.abyssalcraft.common.blocks.BlockDreadGrass
        net.aetherteam.aether.blocks.natural.BlockAetherGrass
        net.aetherteam.aether.blocks.natural.BlockEnchantedAetherGrass
        com.gildedgames.the_aether.blocks.natural.BlockAetherGrass
        com.gildedgames.the_aether.blocks.natural.BlockEnchantedAetherGrass
        biomesoplenty.common.blocks.BlockOriginGrass
        biomesoplenty.common.blocks.BlockLongGrass
        biomesoplenty.common.blocks.BlockNewGrass
        vazkii.botania.common.block.BlockAltGrass
        enhancedbiomes.blocks.BlockGrassEB
        com.rwtema.extrautils.block.BlockCursedEarth
        galaxyspace.BarnardsSystem.planets.barnardaC.block.BarnardaCBlockGrass
        com.bioxx.tfc.Blocks.Terrain.BlockGrass
        thebetweenlands.blocks.terrain.BlockDeadGrass
        thebetweenlands.blocks.terrain.BlockSlimyGrass
        thebetweenlands.blocks.terrain.BlockSwampGrass
        lotr.common.block.LOTRBlockMudGrass
        lotr.common.block.LOTRBlockQuenditeGrass
        tconstruct.blocks.slime.SlimeGrass
        com.emoniph.witchery.blocks.BlockPitGrass
     >
    S:grassBlacklist <
     >
    S:leavesWhitelist <
        net.minecraft.block.BlockLeavesBase
        team.chisel.block.BlockLeaf
        forestry.arboriculture.gadgets.BlockLeaves
        gregapi.block.tree.BlockBaseLeaves
        taintedmagic.common.blocks.BlockWarpwoodLeaves
        thaumcraft.common.blocks.BlockMagicalLeaves
        lotr.common.block.LOTRBlockBerryBush
        twilightforest.block.BlockTFDarkLeaves
     >
    S:leavesBlacklist <
        biomesoplenty.common.blocks.BlockBOPPetals
     >
    S:fallingLeavesWhitelist <
        net.minecraft.block.BlockLeavesBase
        team.chisel.block.BlockLeaf
        forestry.arboriculture.gadgets.BlockLeaves
        gregapi.block.tree.BlockBaseLeaves
        taintedmagic.common.blocks.BlockWarpwoodLeaves
        thaumcraft.common.blocks.BlockMagicalLeaves
        twilightforest.block.BlockTFDarkLeaves
     >
    S:fallingLeavesBlacklist <
        ruby.bamboo.block.BlockSakuraLeaves
        biomesoplenty.common.blocks.BlockBOPPetals
     >
    S:logsWhitelist <
        net.minecraft.block.BlockLog
        com.shinoow.abyssalcraft.common.blocks.BlockDLTLog
        com.shinoow.abyssalcraft.common.blocks.BlockDreadLog
        de.katzenpapst.amunra.block.BlockLogMeta
        com.teammetallurgy.atum.blocks.BlockPalmLog
        biomesoplenty.common.blocks.BlockBOPLog
        forestry.arboriculture.blocks.BlockLog
        forestry.arboriculture.gadgets.BlockLog
        gregapi.block.tree.BlockBaseBeam
        gregapi.block.tree.BlockBaseLog
        gregapi.block.multitileentity.MultiTileEntityBlock
        com.pam.harvestcraft.BlockPamFruitingLog
        ic2.core.block.BlockRubWood
        mods.natura.blocks.trees.DarkTreeBlock
        mods.natura.blocks.trees.LogTwoxTwo
        mods.natura.blocks.trees.SimpleLog
        taintedmagic.common.blocks.BlockWarpwoodLog
        com.bioxx.tfc.Blocks.Flora.BlockLogVert
        com.bioxx.tfc.Blocks.Flora.BlockLogNatural
        thaumcraft.common.blocks.BlockMagicalLog
        net.tropicraft.block.BlockTropicraftLog
        com.emoniph.witchery.blocks.BlockWitchLog
     >
    S:logsBlacklist <
        extrabiomes.blocks.BlockMiniLog
        thebetweenlands.blocks.tree.BlockHollowLog
        thebetweenlands.blocks.tree.BlockRubberLog
     >
    S:sandWhitelist <
        net.minecraft.block.BlockSand
        com.teammetallurgy.atum.blocks.BlockSands
        com.bioxx.tfc.Blocks.Terrain.BlockSand
        lotr.common.block.LOTRBlockSand
        net.tropicraft.block.BlockMineralSands
        net.tropicraft.block.BlockPurifiedSand
     >
    S:sandBlacklist <
     >
    S:lilypadWhitelist <
        net.minecraft.block.BlockLilyPad
        com.bioxx.tfc.Blocks.Vanilla.BlockCustomLilyPad
     >
    S:lilypadBlacklist <
     >
    S:cactusWhitelist <
        net.minecraft.block.BlockCactus
        com.bioxx.tfc.Blocks.Vanilla.BlockCustomCactus
     >
    S:cactusBlacklist <
     >
}


cactus {
    B:stem=true
    B:arms=true
    I:distance=1000
    D:size=0.8
    D:sizeVariation=0.1
    D:hOffset=0.1
    I:armChance=16
}


connectedGrass {
    B:enabled=true
    B:snowEnabled=false
}


coral {
    B:enabled=true
    I:distance=1000
    B:shallowWater=false
    D:hOffset=0.2
    D:vOffset=0.1
    D:size=0.7
    D:crustSize=1.4
    I:chance=32
    I:population=48
    I:biomes <
        0
        7
        10
        11
        16
        24
        25
        26
        100
        101
        127
        128
        205
        9118
     >
}


fallingLeaves {
    B:enabled=true
    D:speed=0.05
    D:windStrength=0.5
    D:stormStrength=0.8
    D:size=0.75
    D:chance=0.05
    D:perturb=0.25
    D:lifetime=5.0
    B:opacityHack=true
}


global {
    B:enabled=true
}


leaves {
    B:enabled=true
    B:snowEnabled=true
    I:distance=1000
    B:surfaceOnly=true
    D:hOffset=0.2
    D:vOffset=0.1
    D:size=1.4
    B:dense=false
}


lilypad {
    B:enabled=true
    I:distance=1000
    D:hOffset=0.1
    I:flowerChance=16
}


netherrack {
    B:enabled=true
    I:distance=1000
    D:hOffset=0.2
    D:heightMin=0.6
    D:heightMax=0.8
    D:size=1.0
}


reed {
    B:enabled=true
    I:distance=1000
    D:hOffset=0.2
    D:heightMin=1.7
    D:heightMax=2.2
    I:population=32
    I:biomes <
        0
        1
        4
        6
        7
        9
        14
        15
        16
        18
        21
        22
        24
        27
        28
        29
        43
        44
        45
        46
        49
        50
        51
        57
        58
        59
        60
        62
        63
        64
        65
        67
        68
        69
        70
        71
        72
        74
        75
        76
        78
        79
        80
        81
        84
        85
        86
        87
        88
        90
        92
        94
        97
        98
        100
        101
        106
        108
        112
        113
        115
        117
        118
        119
        127
        129
        132
        134
        149
        151
        155
        156
        157
        192
        193
        194
        195
        196
        197
        198
        201
        202
        204
        205
        224
        243
        244
        245
        246
        247
        248
        249
        250
        9111
        9114
        9116
        9117
        9118
     >
}


risingSoul {
    B:enabled=true
    D:chance=0.02
    D:perturb=0.05
    D:headSize=1.0
    D:trailSize=0.75
    D:opacity=0.5
    D:sizeDecay=0.97
    D:opacityDecay=0.97
    D:lifetime=4.0
    I:trailLength=48
    I:trailDensity=3
}


roundLogs {
    B:enabled=false
    I:distance=1000
    D:radiusSmall=0.25
    D:radiusLarge=0.44
    D:dimming=0.7
    B:connectSolids=false
    B:lenientConnect=true
    B:connectPerpendicular=true
    B:connectGrass=true
    D:zProtection=0.99
}


shortGrass {
    B:grassEnabled=true
    B:myceliumEnabled=true
    B:snowEnabled=true
    I:distance=1000
    D:hOffset=0.2
    D:heightMin=0.6
    D:heightMax=0.8
    D:size=1.0
    B:useGenerated=false
    D:saturationThreshold=0.1
}


