# Configuration file

"advanced alchemy furnace" {
    # Does the Advanced Alchemical Furnace requires Alumentium to work faster [default: true]
    B:makeRequireAlumentium=true

    # This is the speed of the Advanced Alchamical Furnace. TC's basic has 1. [range: 0 ~ 2147483647, default: 2]
    I:speedMultiplierForFurnace=2
}


cascadebiomeid {
    # Biome ID
    I:General=183
}


enchantments {
    #  [range: 0 ~ 256, default: 98]
    I:elderKnowledgeEnchantmentID=98

    #  [range: 0 ~ 256, default: 99]
    I:eldritchBaneEnchantmentID=99

    #  [range: 0 ~ 256, default: 100]
    I:magicTouchEnchantmentID=100

    #  [range: 0 ~ 256, default: 101]
    I:taintedEnchantmentID=101

    #  [range: 0 ~ 256, default: 102]
    I:vaporisingEnchantmentID=102
}


foci {
    #  [range: 0 ~ 2147483647, default: 10548]
    I:aquaticFociUID=10548

    #  [range: 0 ~ 2147483647, default: 10556]
    I:calmingFociUID=10556

    #  [range: 0 ~ 2147483647, default: 10558]
    I:crystalizationFociUID=10558

    #  [range: 0 ~ 2147483647, default: 10552]
    I:decomposingFociUID=10552

    #  [range: 0 ~ 2147483647, default: 10550]
    I:nethericFociUID=10550

    #  [range: 0 ~ 2147483647, default: 10562]
    I:spillageFociUID=10562

    #  [range: 0 ~ 2147483647, default: 10554]
    I:vaporisingFociUID=10554

    #  [range: 0 ~ 2147483647, default: 10560]
    I:warpingFociUID=10560
}


general {
    # If set to false the tobacco will be disabled - there will be no recipes/no entries in Thaumonomicon [default: true]
    B:allowTobacco=true

    # Blacklist dimension IDs from being attuned to the upgraded pendant. IDs split with newlines, not commas
    I:attunedPendantDimBlacklist <
        1
     >

    # Number, in seconds, it takes for the Auto Scanner to scan [range: 0.5 ~ 60.0, default: 5.0]
    S:autoScannerSpeed=5.0

    # Does the Brightness Foci for the Node Manipulator requires a Primordial Pearl [default: true]
    B:brightFociRequiresPrimordialPearl=true

    # Dimension ID [range: -2147483648 ~ 2147483647, default: 41275]
    I:cascadeDimID=41275

    # Integer percent scale of how quickly Dimension scales to overworld [range: 0 ~ 100, default: 5]
    I:cascadeDimMovementScale=5

    # Number of hours Dimension exists before resetting scale [range: 1 ~ 200, default: 1]
    I:cascadeDimReset=1

    # Lightning strikes per X minutes on average [range: 1 ~ 60, default: 1]
    I:cascadeDimSPM=1

    # Amount Cascade Collector adds per strike [range: 1 ~ 8, default: 4]
    I:collectorAmmount=4

    # How close, in blocks, a collector needs to be to activate [range: 2 ~ 64, default: 16]
    I:collectorDist=16

    # Percent of aspect amount transferd from Decomp. Focus [range: 10 ~ 80, default: 80]
    I:decompGain=80

    # Max size a stack can be for the Decomp. Focus [range: 5 ~ 64, default: 10]
    I:decompStackSize=10

    # Allow the mod to register it's enchantments in the Thaumic Tinkerer's enchanter? Set to false if Thaumic Tinkerer is crashing you. [default: true]
    B:enableTTCompathability=true

    # Percent chance of Ender Leaves spawning mob per tick [range: 0 ~ 100, default: 2]
    I:enderLeafSpawnChance=2

    # Percent chance of Nether Leaves spawning mob per tick [range: 0 ~ 100, default: 5]
    I:netherLeafSpawnChance=5

    # Blacklist enchantment IDs from being boosted in the Overchanter. IDs split with newlines, not commas
    I:overchanterBlacklist <
     >

    # Stop the Overchanter from going past 1 level higher than any enchantment's max level [default: false]
    B:overchanterCap=false

    # Percent chance of Peaceful Leaves spawning mob per tick [range: 0 ~ 100, default: 3]
    I:peacefulLeafSpawnChance=3

    # Number of attemps to delete the Dimension on reset [range: 1 ~ 255, default: 10]
    I:resetTries=10

    # Amount of shards recieved from crucible ore processing [range: 1 ~ 64, default: 8]
    I:shardsFromOre=8

    # How often, one in set config, the cascade grass will drop cascade string [range: 5 ~ 100, default: 50]
    I:stringDropChance=50

    # Max number of any aspect you can recieve from the wisdom tobacco [range: 100 ~ 500, default: 250]
    I:wisdomMaxAspects=250
}


potionvoidcallid {
    I:General=45
}


pyrofluid {
    #  [range: 0 ~ 2147483647, default: 37]
    I:maxBlazePowderFromPyrofluid=37

    #  [range: 0 ~ 2147483647, default: 5]
    I:minBlazePowderFromPyrofluid=5
}


scythe {
    # Range in blocks the scythe will warn player about mobs [range: 2 ~ 20, default: 10]
    I:scytheWarnRange=10

    # Time in seconds the scythe will wait to warn player about mobs [range: 5 ~ 3600, default: 15]
    I:scytheWarnTimer=15
}


