# Configuration file

##########################################################################################################
# time_vial
#--------------------------------------------------------------------------------------------------------#
# The TimeVial config setting
##########################################################################################################

time_vial {
    # accelerate Block Interval [range: 2 ~ 200, default: 2]
    I:accelerateBlockInterval=2

    # set time vial volume [range: 0.0 ~ 5.0, default: 0.5]
    S:defaultTimeVialVolume=0.5

    # enable Block Mode [default: true]
    B:enableBlockMode=true

    # enable log info debug [default: false]
    B:enableLogInfo=false

    # enable Number Multiplier Texture [default: false]
    B:enableNumberMultiplierTexture=false

    # enable Time Accelerator Boost, boost to 256X [default: false]
    B:enableTimeAcceleratorBoost=false

    # limit One TimeVial [default: true]
    B:limitOneTimeVial=true
}


