# Configuration file

block {
    B:diamond_backpack=true

    # Number of item slots for Diamond Backpack.
    I:diamond_backpack.diamondBackpackSlots=108

    # Number of upgrade slots for Diamond Backpack.
    I:diamond_backpack.diamondUpgradeSlots=5
    B:gold_backpack=true

    # Number of item slots for Gold Backpack.
    I:gold_backpack.goldBackpackSlots=81

    # Number of upgrade slots for Gold Backpack.
    I:gold_backpack.goldUpgradeSlots=3
    B:iron_backpack=true

    # Number of item slots for Iron Backpack.
    I:iron_backpack.ironBackpackSlots=54

    # Number of upgrade slots for Iron Backpack.
    I:iron_backpack.ironUpgradeSlots=2
    B:leather_backpack=true

    # Number of item slots for Leather Backpack.
    I:leather_backpack.leatherBackpackSlots=27

    # Number of upgrade slots for Leather Backpack.
    I:leather_backpack.leatherUpgradeSlots=1
    B:obsidian_backpack=true

    # Number of item slots for Obsidian Backpack.
    I:obsidian_backpack.obsidianBackpackSlots=120

    # Number of upgrade slots for Obsidian Backpack.
    I:obsidian_backpack.obsidianUpgradeSlots=7
    B:sleeping_bag=true
}


core {
    # Enable the arcane crafting upgrade item, recipes, runtime behaviors, and Thaumcraft mixins.
    B:general.enableArcaneCraftingUpgrade=true

    # Enable Backpack inventory interaction mixins, runtime logic, and GUI rendering.
    B:general.enableBackpackInventoryInteraction=true

    # When a backpack is opened from the player inventory, closing it returns to the inventory screen.
    B:general.enableInventoryBackpackCloseReturnsToInventory=true

    # Enable all travelers upgrade items, recipes, runtime behaviors, and related mixins.
    B:general.enableTravelersUpgrades=true

    # Magnet Upgrade item suction range.
    I:general.magnetRange=5

    # Maximum number of item stacks to display per row in the backpack tooltip.
    I:general.tooltipMaxItemsPerRow=9

    # If the version checker should be enabled.
    B:general.useVersionChecker=true

    # Config version for OK Backpack.
    # DO NOT EDIT MANUALLY!
    S:general.version=26.09.26.0
}


item {
    B:advanced_compacting_upgrade=true
    B:advanced_deposit_upgrade=true
    B:advanced_feeding_upgrade=true
    B:advanced_filter_upgrade=true
    B:advanced_jukebox_upgrade=true
    B:advanced_magnet_upgrade=true
    B:advanced_pickup_upgrade=true
    B:advanced_pump_upgrade=true
    B:advanced_refill_upgrade=true
    B:advanced_restock_upgrade=true
    B:advanced_tool_swapper_upgrade=true
    B:advanced_void_upgrade=true
    B:anvil_upgrade=true
    B:arcane_crafting_upgrade=true
    B:auto_blasting_upgrade=true
    B:auto_smelting_upgrade=true
    B:auto_smoking_upgrade=true
    B:bat_upgrade=true
    B:battery_upgrade=true
    B:blasting_upgrade=true
    B:blaze_upgrade=true
    B:bookshelf_upgrade=true
    B:cactus_upgrade=true
    B:cake_upgrade=true
    B:chicken_upgrade=true
    B:compacting_upgrade=true
    B:cow_upgrade=true
    B:crafting_upgrade=true
    B:creeper_upgrade=true
    B:deposit_upgrade=true
    B:dragon_upgrade=true
    B:energized_node_upgrade=true
    B:everlasting_upgrade=true
    B:feeding_upgrade=true
    B:filter_upgrade=true
    B:ghast_upgrade=true
    B:glowstone_upgrade=true
    B:hay_upgrade=true
    B:inception_upgrade=true
    B:infinity_upgrade=true
    B:jukebox_upgrade=true
    B:lapis_upgrade=true
    B:magma_cube_upgrade=true
    B:magnet_upgrade=true
    B:ocelot_upgrade=true
    B:pickup_upgrade=true
    B:pump_upgrade=true
    B:quartz_upgrade=true
    B:quiver_upgrade=true
    B:rainbow_upgrade=true
    B:redstone_upgrade=true
    B:refill_upgrade=true
    B:restock_upgrade=true
    B:slime_upgrade=true
    B:smelting_upgrade=true
    B:smoking_upgrade=true
    B:spider_upgrade=true
    B:sponge_upgrade=true
    B:squid_upgrade=true
    B:stack_upgrade=true

    # Stack divisor for Tier 1 Downgrade.
    I:stack_upgrade.stackDowngradeTier1Div=8

    # Stack divisor for Tier 2 Downgrade.
    I:stack_upgrade.stackDowngradeTier2Div=16

    # Stack divisor for Tier 3 Downgrade.
    I:stack_upgrade.stackDowngradeTier3Div=32

    # Stack multiplier for Starter Stack Upgrade.
    D:stack_upgrade.stackUpgradeStarterMul=1.5

    # Stack multiplier for Tier 1 Stack Upgrade.
    D:stack_upgrade.stackUpgradeTier1Mul=2.0

    # Stack multiplier for Tier 2 Stack Upgrade.
    D:stack_upgrade.stackUpgradeTier2Mul=4.0

    # Stack multiplier for Tier 3 Stack Upgrade.
    D:stack_upgrade.stackUpgradeTier3Mul=8.0

    # Stack multiplier for Tier 4 Stack Upgrade.
    D:stack_upgrade.stackUpgradeTier4Mul=16.0

    # Stack multiplier for Omega Stack Upgrade.
    D:stack_upgrade.stackUpgradeTierOmegaMul=3.3554431E7
    B:survival_infinity_upgrade=true
    B:tank_upgrade=true
    B:tool_swapper_upgrade=true
    B:upgrade_base=true
    B:void_upgrade=true
    B:wither_upgrade=true
    B:wolf_upgrade=true
    B:xp_pump_upgrade=true
}


