# Configuration file

General {
    # This allows you to disable recipes for Florbs. It also means that you actively dislike fun things.
    B:Recipe.Enable=true
}


Whitelist {
    B:aerotheum=true
    B:bacterialsludge=true
    B:bioethanol=true
    B:biofuel=true
    B:biomass=true
    B:blood=true
    B:canolaoil=true
    B:caramel_fluid=true
    B:cheese_of_milk_fluid=true
    B:chlorophyll=true
    B:chocolatemilk=true
    B:clean_cold_water=true
    B:clean_warm_water=true
    B:cloud_seed=true
    B:cloud_seed_concentrated=true
    B:coal=true
    B:coconut_milk_fluid=true
    B:creosote=true
    B:cryotheum=true
    B:custard=true
    B:dirty_cold_water=true
    B:dirty_warm_water=true
    B:dirty_water=true
    B:dirty_water_fluid=true
    B:ender=true
    B:ender_distillation=true
    B:endergoo=true
    B:europa_water_fluid=true
    B:fastwater=true
    B:fire_water=true
    B:fishoil=true
    B:fluiddeath=true
    B:fluidpure=true
    B:flux=true
    B:fluxgoo=true
    B:for.honey=true
    B:frosty_water=true
    B:frozen_water_fluid=true
    B:fuel=true
    B:gas_natural_gas=true
    B:glass=true
    B:glowstone=true
    B:glowstone_fluid=true
    B:grenadine=true
    B:gunpowder=true
    B:helium3=true
    B:heliumhydrogen=true
    B:"hell soy milk"=true
    B:hell_blood=true
    B:honey=true
    B:hootch=true
    B:hot_water=true
    B:hydrogen=true
    B:hydrogen2=true
    B:ic2biogas=true
    B:ic2biomass=true
    B:ic2constructionfoam=true
    B:ic2coolant=true
    B:ic2distilledwater=true
    B:ic2hotcoolant=true
    B:ic2hotwater=true
    B:ic2pahoehoelava=true
    B:ic2steam=true
    B:ic2superheatedsteam=true
    B:ic2uumatter=true
    B:ice=true
    B:infected_water_fluid=true
    B:io_black_lava=true
    B:io_lava=true
    B:juice=true
    B:lava=true
    B:"life essence"=true
    B:lifecrystal=true
    B:liquid_brown_sulfur=true
    B:liquid_caramel_fluid=true
    B:liquid_choclate_fluid=true
    B:liquid_extra_heavy_oil=true
    B:liquid_heavy_oil=true
    B:liquid_hydrocarbon_fluid=true
    B:liquid_light_oil=true
    B:liquid_medium_oil=true
    B:liquid_methane_fluid=true
    B:liquid_nitrogen_fluid=true
    B:liquid_orange_sulfur=true
    B:liquid_red_sulfur=true
    B:liquid_sunshine=true
    B:liquid_yellow_sulfur=true
    B:liquidethanemethane=true
    B:magma_fluid=true
    B:mana=true
    B:mead=true
    B:meat=true
    B:methane_fluid=true
    B:milk=true
    B:mineral_water_fluid=true
    B:mobessence=true
    B:mushroomsoup=true
    B:niflheimportal=true
    B:nitrogen=true
    B:nitrogen_fluid=true
    B:nitrogen_ice_fluid=true
    B:nutrient_distillation=true
    B:oil=true
    B:ovantine_fluid=true
    B:oxygen=true
    B:petrotheum=true
    B:pinkslime=true
    B:poison=true
    B:primalmana=true
    B:pure_warp=true
    B:pyrotheum=true
    B:radioactive_cold_water=true
    B:radioactive_frosty_water=true
    B:radioactive_hot_water=true
    B:radioactive_warm_water=true
    B:radioactive_water=true
    B:radioactive_water_fluid=true
    B:redstone=true
    B:riverwater=true
    B:rocket_fuel=true
    B:rocketfuel=true
    B:salt_fluid=true
    B:salty_cold_water=true
    B:salty_warm_water=true
    B:salty_water=true
    B:seawater=true
    B:seedoil=true
    B:sewage=true
    B:short.mead=true
    B:sirius_lava=true
    B:sludge=true
    B:"soy milk"=true
    B:"soy sauce"=true
    B:stagnantwater=true
    B:steam=true
    B:sulfuricacid=true
    B:swampwater=true
    B:swampwaterbogbean=true
    B:swampwaterdeepwatercoral=true
    B:swampwatergoldenclub=true
    B:swampwatermarshmarigold=true
    B:swampwatermirecoral=true
    B:swampwaterreed=true
    B:swampwaterroot=true
    B:swampwaterstalk=true
    B:swampwaterwaterweeds=true
    B:swampwaterwaterweedssmall=true
    B:tarfluid=true
    B:tea_fluid=true
    B:vapor_of_levity=true
    B:water=true
    B:waterdirty=true
    B:watergeothermal=true
    B:wind=true
    B:"witchery:brew"=true
    B:"witchery:brewliquid"=true
    B:"witchery:fluiddisease"=true
    B:"witchery:fluidspirit"=true
    B:"witchery:hollowtears"=true
}


