# Configuration file

general {
	AmountOfCustomLargeVeinSlots_0=0
}

worldgenerator.ore.large.adamantium {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_120=120
	RandomWeight_5=5
	Density_2=2
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_BrownLimonite=BrownLimonite
	OreBottom_YellowLimonite=YellowLimonite
	OreBetween_Hematite=Hematite
	OreSpread_Adamantine=Adamantine
}

worldgenerator.ore.large.apatite {
	Enabled_true=true
	MinHeight_40=40
	MaxHeight_60=60
	RandomWeight_60=60
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Apatite=Apatite
	OreBottom_Apatite=Apatite
	OreBetween_BluePhosphorus=BluePhosphorus
	OreSpread_Phosphate=Phosphate
}

worldgenerator.ore.large.asbestos {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_30=30
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Chromite=Chromite
	OreBottom_Talc=Talc
	OreBetween_Gypsum=Gypsum
	OreSpread_Asbestos=Asbestos
}

worldgenerator.ore.large.bauxite {
	Enabled_true=true
	MinHeight_50=50
	MaxHeight_90=90
	RandomWeight_80=80
	Density_4=4
	DistanceFromSpawn_0=0
	Size_24=24
	IndicatorRocks_true=true
	OreTop_Bauxite=Bauxite
	OreBottom_Bauxite=Bauxite
	OreBetween_Bauxite=Bauxite
	OreSpread_Ilmenite=Ilmenite
}

worldgenerator.ore.large.beryllium {
	Enabled_true=true
	MinHeight_5=5
	MaxHeight_30=30
	RandomWeight_15=15
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Aquamarine=Aquamarine
	OreBottom_Maxixe=Maxixe
	OreBetween_Emerald=Emerald
	OreSpread_Thorium=Thorium
}

worldgenerator.ore.large.beryllium2 {
	Enabled_true=true
	MinHeight_5=5
	MaxHeight_30=30
	RandomWeight_15=15
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Bixbite=Bixbite
	OreBottom_Goshenite=Goshenite
	OreBetween_Heliodor=Heliodor
	OreSpread_Morganite=Morganite
}

worldgenerator.ore.large.cassiterite {
	Enabled_true=true
	MinHeight_40=40
	MaxHeight_90=90
	RandomWeight_170=170
	Density_5=5
	DistanceFromSpawn_0=0
	Size_24=24
	IndicatorRocks_true=true
	OreTop_Stannite=Stannite
	OreBottom_Kesterite=Kesterite
	OreBetween_Huebnerite=Huebnerite
	OreSpread_Cassiterite=Cassiterite
}

worldgenerator.ore.large.cassiterite.dim {
	minecraft:the_end_true=true
}

worldgenerator.ore.large.cheese {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_90=90
	RandomWeight_100=100
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Cheese=Cheese
	OreBottom_Cheese=Cheese
	OreBetween_Cheese=Cheese
	OreSpread_Selenium=Selenium
}

worldgenerator.ore.large.coal {
	Enabled_true=true
	MinHeight_50=50
	MaxHeight_80=80
	RandomWeight_80=80
	Density_6=6
	DistanceFromSpawn_0=0
	Size_32=32
	IndicatorRocks_true=true
	OreTop_Coal=Coal
	OreBottom_Coal=Coal
	OreBetween_Coal=Coal
	OreSpread_Lignite=Lignite
}

worldgenerator.ore.large.copper {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_30=30
	RandomWeight_80=80
	Density_4=4
	DistanceFromSpawn_0=0
	Size_24=24
	IndicatorRocks_true=true
	OreTop_Chalcopyrite=Chalcopyrite
	OreBottom_Hematite=Hematite
	OreBetween_Pyrite=Pyrite
	OreSpread_Copper=Copper
}

worldgenerator.ore.large.desh {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_90=90
	RandomWeight_100=100
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_TritaniumHexafluoride=TritaniumHexafluoride
	OreBottom_DuraniumHexaastatide=DuraniumHexaastatide
	OreBetween_DuraniumHexabromide=DuraniumHexabromide
	OreSpread_Desh=Desh
}

worldgenerator.ore.large.diamond {
	Enabled_true=true
	MinHeight_5=5
	MaxHeight_20=20
	RandomWeight_40=40
	Density_2=2
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Graphite=Graphite
	OreBottom_Graphite=Graphite
	OreBetween_Diamond=Diamond
	OreSpread_Graphite=Graphite
}

worldgenerator.ore.large.dolamide {
	Enabled_true=true
	MinHeight_5=5
	MaxHeight_60=60
	RandomWeight_40=40
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_DuraniumHexaiodide=DuraniumHexaiodide
	OreBottom_DuraniumHexafluoride=DuraniumHexafluoride
	OreBetween_DuraniumHexachloride=DuraniumHexachloride
	OreSpread_Dolamide=Dolamide
}

worldgenerator.ore.large.galena {
	Enabled_true=true
	MinHeight_30=30
	MaxHeight_60=60
	RandomWeight_40=40
	Density_5=5
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Galena=Galena
	OreBottom_Galena=Galena
	OreBetween_Silver=Silver
	OreSpread_Lead=Lead
}

worldgenerator.ore.large.garnet {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_60=60
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Almandine=Almandine
	OreBottom_Pyrope=Pyrope
	OreBetween_Andradite=Andradite
	OreSpread_Uvarovite=Uvarovite
}

worldgenerator.ore.large.gold {
	Enabled_true=true
	MinHeight_20=20
	MaxHeight_30=30
	RandomWeight_5=5
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Pyrite=Pyrite
	OreBottom_Chalcopyrite=Chalcopyrite
	OreBetween_Arsenopyrite=Arsenopyrite
	OreSpread_Gold=Gold
}

worldgenerator.ore.large.iodinesalt {
	Enabled_true=true
	MinHeight_50=50
	MaxHeight_60=60
	RandomWeight_30=30
	Density_3=3
	DistanceFromSpawn_0=0
	Size_24=24
	IndicatorRocks_true=true
	OreTop_IodineSalt=IodineSalt
	OreBottom_Salt=Salt
	OreBetween_Borax=Borax
	OreSpread_Zeolite=Zeolite
}

worldgenerator.ore.large.iron {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_120=120
	Density_4=4
	DistanceFromSpawn_0=0
	Size_24=24
	IndicatorRocks_true=true
	OreTop_BrownLimonite=BrownLimonite
	OreBottom_YellowLimonite=YellowLimonite
	OreBetween_Hematite=Hematite
	OreSpread_Malachite=Malachite
}

worldgenerator.ore.large.lapis {
	Enabled_true=true
	MinHeight_20=20
	MaxHeight_50=50
	RandomWeight_40=40
	Density_5=5
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Lazurite=Lazurite
	OreBottom_Sodalite=Sodalite
	OreBetween_Lapis=Lapis
	OreSpread_Azurite=Azurite
}

worldgenerator.ore.large.lignite {
	Enabled_true=true
	MinHeight_50=50
	MaxHeight_130=130
	RandomWeight_160=160
	Density_8=8
	DistanceFromSpawn_0=0
	Size_32=32
	IndicatorRocks_true=true
	OreTop_Lignite=Lignite
	OreBottom_Lignite=Lignite
	OreBetween_Lignite=Lignite
	OreSpread_Coal=Coal
}

worldgenerator.ore.large.manganese {
	Enabled_true=true
	MinHeight_20=20
	MaxHeight_30=30
	RandomWeight_20=20
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Grossular=Grossular
	OreBottom_Spessartine=Spessartine
	OreBetween_Pyrolusite=Pyrolusite
	OreSpread_Coltan=Coltan
}

worldgenerator.ore.large.molybdenum {
	Enabled_true=true
	MinHeight_20=20
	MaxHeight_50=50
	RandomWeight_5=5
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Wulfenite=Wulfenite
	OreBottom_Molybdenite=Molybdenite
	OreBetween_Molybdenum=Molybdenum
	OreSpread_Powellite=Powellite
}

worldgenerator.ore.large.molybdenum.dim {
	minecraft:the_end_true=true
}

worldgenerator.ore.large.monazite {
	Enabled_true=true
	MinHeight_20=20
	MaxHeight_40=40
	RandomWeight_30=30
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Bastnasite=Bastnasite
	OreBottom_Bastnasite=Bastnasite
	OreBetween_Monazite=Monazite
	OreSpread_Neodymium=Neodymium
}

worldgenerator.ore.large.moonmars {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_90=90
	RandomWeight_240=240
	Density_1=1
	DistanceFromSpawn_0=0
	Size_8=8
	IndicatorRocks_true=true
	OreTop_MagnesiumCarbonate=MagnesiumCarbonate
	OreBottom_Pyrolusite=Pyrolusite
	OreBetween_Alumina=Alumina
	OreSpread_Rutile=Rutile
}

worldgenerator.ore.large.naquadah {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_60=60
	RandomWeight_10=10
	Density_4=4
	DistanceFromSpawn_0=0
	Size_32=32
	IndicatorRocks_true=true
	OreTop_Naquadah=Naquadah
	OreBottom_Naquadah=Naquadah
	OreBetween_Naquadah=Naquadah
	OreSpread_Naquadah=Naquadah
}

worldgenerator.ore.large.naquadah.dim {
	minecraft:the_end_true=true
}

worldgenerator.ore.large.nickel {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_40=40
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Garnierite=Garnierite
	OreBottom_Nickel=Nickel
	OreBetween_Cobaltite=Cobaltite
	OreSpread_Pentlandite=Pentlandite
}

worldgenerator.ore.large.octine {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_25=25
	RandomWeight_40=40
	Density_1=1
	DistanceFromSpawn_0=0
	Size_32=32
	IndicatorRocks_true=true
	OreTop_Octine=Octine
	OreBottom_Octine=Octine
	OreBetween_Octine=Octine
	OreSpread_Octine=Octine
}

worldgenerator.ore.large.peridot {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_60=60
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Kyanite=Kyanite
	OreBottom_MagnesiumCarbonate=MagnesiumCarbonate
	OreBetween_Peridot=Peridot
	OreSpread_Glauconite=Glauconite
}

worldgenerator.ore.large.pitchblende {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_40=40
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Pitchblende=Pitchblende
	OreBottom_Pitchblende=Pitchblende
	OreBetween_Uraninite=Uraninite
	OreSpread_Uraninite=Uraninite
}

worldgenerator.ore.large.platinum {
	Enabled_true=true
	MinHeight_40=40
	MaxHeight_50=50
	RandomWeight_5=5
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Cooperite=Cooperite
	OreBottom_Palladium=Palladium
	OreBetween_Sperrylite=Sperrylite
	OreSpread_Iridium=Iridium
}

worldgenerator.ore.large.platinum.dim {
	minecraft:the_end_true=true
}

worldgenerator.ore.large.quartz {
	Enabled_true=true
	MinHeight_40=40
	MaxHeight_80=80
	RandomWeight_60=60
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_MilkyQuartz=MilkyQuartz
	OreBottom_Barite=Barite
	OreBetween_CertusQuartz=CertusQuartz
	OreSpread_CertusQuartz=CertusQuartz
}

worldgenerator.ore.large.redstone {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_60=60
	Density_3=3
	DistanceFromSpawn_0=0
	Size_24=24
	IndicatorRocks_true=true
	OreTop_Redstone=Redstone
	OreBottom_Redstone=Redstone
	OreBetween_Ruby=Ruby
	OreSpread_Cinnabar=Cinnabar
}

worldgenerator.ore.large.rocksalt {
	Enabled_true=true
	MinHeight_50=50
	MaxHeight_60=60
	RandomWeight_30=30
	Density_3=3
	DistanceFromSpawn_0=0
	Size_24=24
	IndicatorRocks_true=true
	OreTop_Sylvite=Sylvite
	OreBottom_Coltan=Coltan
	OreBetween_Lepidolite=Lepidolite
	OreSpread_Spodumene=Spodumene
}

worldgenerator.ore.large.sapphire {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_30=30
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_BlueSapphire=BlueSapphire
	OreBottom_OrangeSapphire=OrangeSapphire
	OreBetween_YellowSapphire=YellowSapphire
	OreSpread_Ruby=Ruby
}

worldgenerator.ore.large.sapphire2 {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_30=30
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_GreenSapphire=GreenSapphire
	OreBottom_Ruby=Ruby
	OreBetween_BlueSapphire=BlueSapphire
	OreSpread_PurpleSapphire=PurpleSapphire
}

worldgenerator.ore.large.syrmorite {
	Enabled_true=true
	MinHeight_30=30
	MaxHeight_45=45
	RandomWeight_160=160
	Density_2=2
	DistanceFromSpawn_0=0
	Size_32=32
	IndicatorRocks_true=true
	OreTop_Syrmorite=Syrmorite
	OreBottom_Syrmorite=Syrmorite
	OreBetween_Syrmorite=Syrmorite
	OreSpread_Syrmorite=Syrmorite
}

worldgenerator.ore.large.tetrahedrite {
	Enabled_true=true
	MinHeight_70=70
	MaxHeight_120=120
	RandomWeight_150=150
	Density_4=4
	DistanceFromSpawn_0=0
	Size_24=24
	IndicatorRocks_true=true
	OreTop_Tetrahedrite=Tetrahedrite
	OreBottom_Tetrahedrite=Tetrahedrite
	OreBetween_Copper=Copper
	OreSpread_Stibnite=Stibnite
}

worldgenerator.ore.large.titanium {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_40=40
	RandomWeight_40=40
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Rutile=Rutile
	OreBottom_Rutile=Rutile
	OreBetween_Zircon=Zircon
	OreSpread_Ilmenite=Ilmenite
}

worldgenerator.ore.large.trinium {
	Enabled_true=true
	MinHeight_10=10
	MaxHeight_90=90
	RandomWeight_100=100
	Density_1=1
	DistanceFromSpawn_0=0
	Size_12=12
	IndicatorRocks_true=true
	OreTop_Trinium=Trinium
	OreBottom_Trinium=Trinium
	OreBetween_Trinium=Trinium
	OreSpread_Trinium=Trinium
}

worldgenerator.ore.large.trinium.dim {
	minecraft:the_end_true=true
}

worldgenerator.ore.large.tungstate {
	Enabled_true=true
	MinHeight_20=20
	MaxHeight_50=50
	RandomWeight_10=10
	Density_3=3
	DistanceFromSpawn_0=0
	Size_16=16
	IndicatorRocks_true=true
	OreTop_Scheelite=Scheelite
	OreBottom_Russellite=Russellite
	OreBetween_Tungstate=Tungstate
	OreSpread_Pinalite=Pinalite
}

