# Configuration file

core {
    # If the version checker should be enabled.
    B:general.versionChecker=true

    potion {
        # The minimum array size of potion types, increase to allow for more potion types.
        I:general.minimumPotionTypesArraySize=256
    }

}


item {
    B:energy_test=true
    B:fluid_test=true
    B:inventory_test=true
}


